<section class="content-main">
  <div class="content-header">
    <h2 class="content-title"> <?=$page_name?> </h2>
  </div>
 <div class="card mb-4">
      <div class="card-header">
        <form name="form-searchbar">

        <div class="row gx-3">
          <div class="col-lg-2">
            <label>회사 검색</label>
            <input type="text" class="form-control form-control-sm search" id="search-company-name" placeholder="">
          </div>
         <div class="col-lg-2">
            <label>근로자 검색</label>
            <input type="text" class="form-control form-control-sm search" id="search-worker-name" placeholder="">
          </div>
          <div class="col-lg-2">
            <label>근무상태</label>
            <select class="form-control form-control-sm filter" id="search-working_status">
              <option value="">선택안함</option>
              <option value="1">근무</option>
              <option value="2">퇴직</option>
              <option value="3">휴직</option>
            </select>
          </div>
          <div class="col-lg-2">
            <label>장애유형</label>
            <select class="form-control form-control-sm filter" id="search-disability_degree">
              <option value="">선택안함</option>
              <option value="1">중증</option>
              <option value="2">경증</option>
            </select>
          </div>
          <div class="col-lg-2">
            <label>진행상황</label>
            <select class="form-control form-control-sm filter" id="search-status">
              <option value="">선택안함</option>
              <option value="1">대기</option>
              <option value="5">승인</option>
              <option value="7">반려</option>
            </select>
          </div>
        </div>
        </form>
          <form name="reg_form" id ="reg_form" method="POST" enctype="multipart/form-data" action="/<?=_CONTROLLER?>/Workersform">
              <div class="col-lg-2">
                  <label>일괄등록 양식 업로드</label>
                  <input type="file" name="register_file" id ="Workersform">
                  <button type="button" onclick="workers_reg();" class="btn btn-success btn-sm fw-normal">등록</button>
              </div>
          </form>
      </div>
  <div class="card-body">
    <div class="">
      <table class="table table-hover small" id="datatables">
      </table>
    </div>
  </div>
  </div>
</section>

<script>
    function workers_reg(){
        if($("#Workersform").val() != ""){
            $("#reg_form").submit();
        }else{
            alert("파일을 선택해주세요");
        }
    }
</script>

