<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a56b9b0133b617818b7accb126507592&libraries=services"></script>

<div class="modal fade" id="modal-search-post" tabindex="-1" role="dialog">
<!-- post Modal {{{ -->
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-normal">우편번호 검색</h5>
      </div>
      <div class="modal-body" style="height:478px;">
        <div id="post-wrap" style="min-height:100%; position:relative;"></div>
      </div>
    </div>
  </div>
<!-- }}} -->
</div>

