<section class="banner-section-four" 
  style="
    background: url(/assets/images/background/big-banner.jpeg) rgba(100, 100, 100, 0.6);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
  "

>
  <div class="auto-container">
    <div class="cotnent-box">
      <div class="title-box">
        <h3 title="2022년 상생몰 예상 총 감면금액"><a tabindex=100>2022년 상생몰 예상 총감면금액 <span class="main-banner-counter">123567894</span>원</a></h3>
      </div>

      <!-- Job Search Form -->
      <div class="job-search-form">
        <form name="form-search" method="GET" action="/Recruit">
          <div class="row">
            <!-- Form Group -->
            <div class="form-group col-7">
              <span class="icon flaticon-search-1"></span>
              <input type="text" name="st" placeholder="일자리, 키워드로 검색" tabindex=101 title="일자리, 키워드로 검색">
            </div>

            <!-- Form Group -->
            <div class="form-group col-3 category">
              <span class="icon flaticon-briefcase"></span>
              <select class="" name="pf" tabindex=103 title="직무 유형">
                <option value="">직무 유형</option>
              <?php
              if(@is_array($job_category["Profession"]) && @count($job_category["Profession"])){
                foreach($job_category["Profession"] as $val){
                  echo "<option value='".$val["idx"]."' tabindex=103>".$val["title"]."</option>";
                }
              }
              ?>
              </select>
            </div>

            <!-- Form Group -->
            <div class="form-group col-2 text-right">
              <button type="submit" class="btn theme-btn btn-style-two" tabindex=104>상품 검색</button>
            </div>
          </div>
        </form>
      </div>
      <!-- Job Search Form -->

      <!-- Popular Search -->
      <div class="popular-searches">
        <span class="title">자주 찾는 직무 : </span>
        <?php
        if(@is_array($job_category["Profession"]) && @count($job_category["Profession"])){
          foreach($job_category["Profession"] as $key => $val){
            if($key > 4) {
              break;
            }

            if($key != 0){
              echo ", ";
            }
            //echo "<option value='".$val["idx"]."' tabindex=103>".$val["title"]."</option>";
            echo '<a href="/Recruit/?pf='.$val["idx"].'" tabindex=110>'.$val["title"].'</a>';
          }
        }
        ?>
      </div>
      <!-- End Popular Search -->
    </div>
  </div>
</section>
