<!-- 구매자 메뉴-->
<?php
$workers = $_SESSION['buyer_info']['workers'];

$severely_disabled = $_SESSION['buyer_info']['severely_disabled'];
$tax_rate = $_SESSION['buyer_info']['tax_rate'];
if($tax_rate >0){
$tax_rate = $tax_rate*0.01;
}
$mild_disabled = $_SESSION['buyer_info']['mild_disabled'];
$classification = 0;
if($_SESSION['buyer_info']['classification'] == 1){ //기업구분에 따른 의무고용율
$classification = 0.031;
}else{
$classification = 0.034;
}
$disabled = ($severely_disabled*2)+ $mild_disabled;
if($workers<50){
$employ = 0;
}else{
$employ =  floor($workers*$classification);
}
if($employ > 0){
$ratio = $disabled/$employ; //의무고용인원충족비율
}else{
$ratio = 0;
}


$base = 0;     //부담금기초
if($workers<100){
$base = 0;
}
if($ratio >= 0.75){
$base = 1149000;
}
else if($ratio >= 0.5){
$base = 1217940;
}
else if($ratio >= 0.25){
$base = 1378800;
}
else if($ratio > 0){
$base = 1608600;
}else{
$base = 1914440;
}
if($employ == $disabled){
$total_money = 0;
}else{
$employ = $employ-$disabled;
$total = $base * $employ*12 ;
$total = $total + ($total*$tax_rate);
$total_money = $total; // 납부금액
}
//echo $total_money;
$buyer_reduction = $_SESSION['ReductionMoney']['buyer_reduction'];
$Remainder = $total -$buyer_reduction;
if($buyer_reduction !="" && $total_money > 0){
$limit = ($buyer_reduction /$total_money)*100;
if((int)$limit >= 60 && (int)$limit >= 0){
$buyer_reduction = $total_money*60/100;
$Remainder = 0;
}
}
if($total_money > 0){
$Remainder_money = $Remainder;
$buyer_reduction =  $buyer_reduction;
$total_money = $total_money;
}else{
$Remainder_money = 0;
$buyer_reduction = 0;
$total_money = 0;
}
?>
<?php
  if($_SESSION["login_info"]["type"] == "buyer"){
  ?>
<div
        class="left-fixed-box buyer-left-box bg-dark py-4 px-3 text-white">
  <h2 class="visually-hidden">감면액 및 계약리스트</h2>
  <div class="mb-4 pb-3 reduction-box">
    <h3 class="h6 mb-3">예상 납부금액</h3>
    <p class="text-end m-0 text-white fw-bold"><?=number_format($total_money)?>원</p>
  </div>
  <div class="mb-4 pb-3 reduction-box">
    <h3 class="h6 mb-1">기대 감면금액</h3>
    <p class="mb-3 text-white-50" style="font-size: 14px;">* 납부금액의 <span class="text-warning">60%</span>까지 감면받을 수 있습니다.</p>
    <p class="text-end m-0 text-white fw-bold"><?=number_format($buyer_reduction)?>원</p>
  </div>
  <div class="mb-4 border-bottom-0 reduction-box">
    <h3 class="h6 mb-3">남은 감면금액</h3>
    <p class="text-end m-0 text-white fw-bold"><?=number_format($Remainder_money)?>원</p>
  </div>

  <div class="mt-4">
    <?php
    if(!$_SESSION["Contract"]) {
    ?>
    <div class="pt-3" style="border-top: 1px dashed #6c757d;">
      <p class="text-white" style="font-size: 0.8rem;">* 현재 진행중인 계약이 없습니다.</p>
    </div>
    <?php
    } else {
    ?>
    <ul class="buyer-contract-list p-0">
      <?php
    foreach($_SESSION["Contract"] as $item){
    $contract_regdt = $item["contract_regdt"];
    $timestamp = strtotime($contract_regdt);
    $contract_regdt = date("Y-m-d", $timestamp);
    $product_price = number_format($item["product_price"]);
    ?>
      <li class="p-2 bg-white text-dark mb-3" onclick="contractView(<?=$item["workflow_id"]?>);">
      <h3 class="text-center"><?=$item["company_name"]?></h3>
      <div class="d-flex flex-column align-items-center mb-2">
        <div class="left-item-img d-flex align-items-center justify-content-center border">
          <img class="mh-100" src="/uploads/<?=$item['representative_image']?>" alt="<?=$item['product_name']?>">        </div>
        <h4 class="mt-1"><?=$item["product_name"]?></h4>
      </div>
      <div class="text-end">
        <p class="m-0"><?=$product_price?>원</p>
        <p class="m-0"><?=$contract_regdt?></p>
        <p class="m-0"><?=$item["product_quantity"]?></p>
      </div>
      </li>
      <?php
    }
    ?>
    </ul>
    <?php
    }
    ?>
  </div>
</div>
<?php
}
?>
<script>
  function contractView(workflow_id){
    const options = {
      method: 'GET',
      headers: {
        accept: 'application/json',
        Authorization: 'esignon jlxfF8HAeRw1/8iUN5OVSH+060OTnZ+j7vRJdTHLFVSMzuM3n4MCaavEg6S0rFMpVNTkFsgGBWJ2usJ1j9T8uni3QARD+1L1cLc7W+PJ/M9dMoyAruRZ1C3NQusJ88gQ0utugU+hNRE='
      }
    };
    fetch('https://docs.esignon.net/api/v3/workflows/' + workflow_id + '?offset=%2B09%3A00', options)
            .then(response => response.json())
            .then(response => /*console.log(response)*/{
              if(response['download_url'] == ""){
                window.open(response['playing_url']);
              }else{
                window.open(response['download_url']);
              }
            })
            .catch(err => console.error(err));
  }

</script>