<!-- 구매자 메뉴-->
<?php
$workers = $_SESSION['buyer_info']['workers'];
$severely_disabled = $_SESSION['buyer_info']['severely_disabled'];
$mild_disabled = $_SESSION['buyer_info']['mild_disabled'];
$classification = 0;
if($_SESSION['buyer_info']['classification'] == 1){ //기업구분에 따른 의무고용율
$classification = 0.031;
}else{
$classification = 0.034;
}
$disabled = $severely_disabled + ($mild_disabled*2);
if($workers<50){
$employ = 0;
}else{
$employ =  floor($workers*$classification);
}
if($employ != 0){
  $ratio = $disabled/$employ; //의무고용인원충족비율
}else{
  $ratio = 0;
}

$base = 0;     //부담금기초
if($workers<100){
$base = 0;
}
if($ratio >= 0.75){
$base = 1149000;
}
else if($ratio >= 0.5){
$base = 1217940;
}
else if($ratio >= 0.25){
$base = 1378800;
}
else if($ratio > 0){
$base = 1608600;
}else{
$base = 1914400;
}
$employ = $employ-$disabled;
$total = $base * $employ*12 ;
$total = $total + ($total*0.1);
$total_money = number_format($total); // 납부금액

$Expectation =$_SESSION['Expectation']['Expectation'];
$Expectation_money = number_format($Expectation);

$reduction_money = $data['ReductionMoney']['reduction_money'];
$buyer_reduction = $_SESSION['ReductionMoney']['buyer_reduction'];
$Remainder = $total -$buyer_reduction;

$limit = ($buyer_reduction /$total_money)*100;
if($limit > 60){
$buyer_reduction = $total*60/100;
$Remainder = 0;
}

$Remainder_money = number_format($Remainder);
$reduction_money =  number_format($_SESSION['ReductionMoney']['reduction_money']);
$buyer_reduction =  number_format($buyer_reduction);


?>
<?php
  if($_SESSION["login_info"]["type"] == "buyer"){
  ?>
<div
  class="left-fixed-box buyer-left-box bg-dark py-4 px-3 text-white">
  <h2 class="visually-hidden">감면액 및 계약리스트</h2>
  <div class="mb-4 pb-3 reduction-box">
    <h3 class="h6 mb-3">예상 납부금액</h3>
    <p class="text-end m-0 text-white fw-bold"><?=$total_money?>원</p>
  </div>
  <div class="mb-4 pb-3 reduction-box">
    <h3 class="h6 mb-1">기대 감면금액</h3>
    <p class="mb-3 text-white-50" style="font-size: 14px;">* 납부금액의 <span class="text-warning">60%</span>까지 감면받을 수 있습니다.</p>
    <p class="text-end m-0 text-white fw-bold"><?=$buyer_reduction?>원</p>
  </div>
  <div class="mb-4 border-bottom-0 reduction-box">
    <h3 class="h6 mb-3">남은 감면금액</h3>
    <p class="text-end m-0 text-white fw-bold"><?=$Remainder_money?>원</p>
  </div>

  <div class="mt-4">
    <?php
    if(!$_SESSION["Contract"]) {
    ?>
    <div class="pt-3" style="border-top: 1px dashed #6c757d;">
      <p class="text-white" style="font-size: 0.8rem;">* 현재 진행중인 계약이 없습니다.</p>
    </div>
    <?php
    } else {
    ?>
    <ul class="buyer-contract-list p-0">
    <?php
    foreach($_SESSION["Contract"] as $item){
    $contract_regdt = $item["contract_regdt"];
    $timestamp = strtotime($contract_regdt);
    $contract_regdt = date("Y-m-d", $timestamp);
    $product_price = number_format($item["product_price"]);
    ?>
      <li class="p-2 bg-white text-dark mb-3">
        <h3 class="text-center"><?=$item["company_name"]?></h3>
        <div class="d-flex flex-column align-items-center mb-2">
          <div class="left-item-img d-flex align-items-center justify-content-center border">
            <img class="mh-100" src="/Image/6ea0bfe8-315c-4e54-a172-4bc84f8cf9e4" alt="상품이미지">
          </div>
          <h4 class="mt-1"><?=$item["product_name"]?></h4>
        </div>
        <div class="text-end">
          <p class="m-0"><?=$product_price?>원</p>
          <p class="m-0"><?=$contract_regdt?></p>
          <p class="m-0"><?=$item["product_quantity"]?></p>
        </div>
      </li>
    <?php
    }
    ?>
    </ul>
    <?php
    }
    ?>
  </div>
</div>
<?php
}
?>