<section class="main-adVideo-section">
  <div class="auto-container">
    <div class="main-section-title">
      <p><span>상생몰 MEDIA</span></p>
      <h2>상생 TV</h2>
    </div>
    <div class="d-flex justify-content-center">
      <div class="me-3" style="width: 948px; height: 532px;">
        <video preload="metadata" controls src="/uploads/ninemila_shampoo_salmon.mp4" muted id="video_main" poster="/uploads/ninemila_shampoo_salmon.png" style="width: 100%;height: 100%;"></video>
      </div>

      <div class="d-flex flex-column justify-content-between">
        <div class="bg-black" style="width: 300px; height: 169px;">
          <img id="video_1" src="/uploads/ninemila_shampoo_salmon.png" class="w-100 h-100">
        </div>
        <div class="bg-black" style="width: 300px; height: 169px;">
          <img id="video_2" src="/uploads/ninemila_shampoo_yeast.png" class="w-100 h-100" style="opacity: 0.5;">
        </div>
        <div class="bg-black" style="width: 300px; height: 169px;">
          <img id="video_3" src="/uploads/nuyahaus_items.png" class="w-100 h-100" style="opacity: 0.5;">
        </div>
      </div>
    </div>
  </div>
</section>
<script>
	$(document).ready(function () {
		// $('#video_main').click(function (){
		//   $('#video_main')[0].play();
		// });
		$('#video_main')[0].src = '/uploads/ninemila_shampoo_salmon.mp4';
		$('#video_main').on("ended",function () {
			video_play(2);
		})
		$('#video_1').click(function (){
			video_play(1);
		});
		$('#video_2').click(function (){
			video_play(2);
		});
		$('#video_3').click(function (){
			video_play(3);
		});
	});

	function video_play(video_num){
		if(video_num == 1) {
			$('#video_main')[0].src = '/uploads/ninemila_shampoo_salmon.mp4';
			$('#video_main')[0].play();
			$('#video_1').css({opacity: '1'})
			$('#video_2').css({opacity: '0.5'})
			$('#video_3').css({opacity: '0.5'})
			$('#video_main').on("ended",function (){
				video_play(2);
			});
		}else if(video_num == 2) {
			$('#video_main')[0].src = '/uploads/ninemila_shampoo_yeast.mp4';
			$('#video_main')[0].play();
			$('#video_2').css({opacity: '1'})
			$('#video_1').css({opacity: '0.5'})
			$('#video_3').css({opacity: '0.5'})
			$('#video_main').on("ended",function (){
				video_play(3);
			});
		}else if(video_num == 3){
			$('#video_main')[0].src = '/uploads/nuyahaus_items.mp4';
			$('#video_main')[0].play();
			$('#video_3').css({opacity: '1'})
			$('#video_2').css({opacity: '0.5'})
			$('#video_1').css({opacity: '0.5'})
			$('#video_main').on("ended",function (){
				video_play(1);
			});
		}
	}
</script>