<section style="padding-top: 120px;">
  <div class="auto-container">
    <div class="sec-title">
      <h2 class="text-center">상생TV</h2>
    </div>
    <div class="d-flex flex-column mx-auto" style="width: 768px; margin-bottom: 120px;" >
      <div class="border border-2" style="width: 768px; height: 432px;">mainADs</div>
      <div class="d-flex">
        <div class="border border-2" style="width: 256px; height: 144px">mainADs</div>
        <div class="border border-2" style="width: 256px; height: 144px">ad1</div>
        <div class="border border-2" style="width: 256px; height: 144px">ad2</div>
      </div>
    </div>
  </div>
</section>
