<section class="banner-section-four"
         style="
    background: url(/assets/images/background/big-banner.jpeg) rgba(100, 100, 100, 0.6);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
  "
>
  <div class="auto-container">
    <div class="cotnent-box">
      <div class="title-box">
        <h2 title="2022년 상생몰 예상 총 감면금액"><a tabindex=100>2022년 상생몰 예상 총감면금액 <span class="main-banner-counter">123567894</span>원</a></h2>
      </div>

      <!-- Job Search Form -->
      <div class="job-search-form">
        <form name="form-search" method="GET" action="/Buyer/Shop/List">
          <div class="row">
            <!-- Form Group -->
            <div class="form-group col-7">
              <span class="icon flaticon-search-1"></span>
              <input type="text" name="search_v" placeholder="상품명 또는 회사명으로 검색" tabindex=101 title="상품명으로 검색">
            </div>
            <!-- Form Group -->
            <div class="form-group col-3 category">
              <span class="icon flaticon-briefcase"></span>
              <select class="" name="value" tabindex=103 title="직무 유형">
                <option value="1">사무용품</option>
                <option value="2">생활용품</option>
                <option value="3">전산용품</option>
                <option value="4">식음료</option>
                <option value="5">청소용품</option>
              </select>
            </div>

            <!-- Form Group -->
            <div class="form-group col-2 text-right">
              <button type="submit" class="btn theme-btn btn-style-two" tabindex=104>상품 검색</button>
            </div>
          </div>
        </form>
      </div>
      <!-- Job Search Form -->

      <!-- Popular Search --->
      <!-- End Popular Search -->
    </div>
  </div>
</section>
