<section class="main-info-menu">
  <div class="auto-container">
    <ul class="d-flex justify-content-between align-items-center">
      <li>
        <a href="/assets/download/연계고용안내.pdf" download>
          <p>장애인 연계고용 제도?</p>
          <span>자세히 알아보기</span>
        </a>
      </li>
      <li>
        <a href="/Reduction/Calculator">
          <p>고용부담금계산기</p>
          <span>고용부담금 계산하기</span>
        </a>
      </li>
      <li>
        <a href="javascript:costCalMove()">
          <p>제조원가계산기</p>
          <span>제조원가 계산하기</span>
        </a>
      </li>
      <li>
        <a href="/Reduction/Help">
          <p>감면신청도우미</p>
          <span>감면 신청 도움받기</span>
        </a>
      </li>
    </ul>
  </div>
</section>
