<section class="job-section alternate">
  <div class="auto-container">
    <div class="sec-title text-center mt-5">
      <h2><a tabindex=1000>추천 상품</a></h2>
    </div>

    <div class="tabs-content">
      <!--Tab-->
      <div class="tab active-tab" id="tab1">
        <div class="row">
          <?php
          if(is_array($data) && count($data) > 0){
            foreach($data as $item){
          ?>
          <!-- Job Block -->
          <div class="job-block col-sm-12">
            <div class="inner-box">
              <div class="content d-flex align-items-center">
                <div class="me-4">
                  <!-- img src="/Image/<?=$item["company_img_uuid"]?>" style="width:126px;" alt="기업로고" -->

                  <img src="/uploads/<?=$item['representative_image']?>">
                </div>
                <div class="content-detail">
                  <h3><a href="/Buyer/Shop/Detail/<?=$item['product_no']?>" tabindex=1500><span
                  class="text-secondary"><?=$item["company_name"]?></span> <?=$item["product_name"]?></a></h3>
                  <ul class="job-info">
                    <li>계약금액: <span class="fw-bold"><span class="mask-pay"><?=$item["product_price"]?></span>원</span></li>
                    <li>판매수량: <span class="fw-bold"><?=$item["product_quantity"]?></span></li>
                    <li>판매기간: <span class="fw-bold"><?=$item["product_start"]?> ~ <?=$item["product_end"]?></span></li>
                    <li class="description"><?=$item["product_detail"]?></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <?php
                }
              }
            ?>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

