<section class="main-recommend-section">
  <div class="auto-container">
    <div class="position-relative">
      <div class="main-section-title">
        <p><span>상생몰 Pick</span></p>
        <h2>상생몰<br/>추천상품</h2>
        <p class="sub-des">우리 회사에 잘 맞는 상품을<br>맞춤형으로 확인하세요!</p>
      </div>
    </div>

    <div class="recommend-item-carousel owl-carousel owl-theme">
      <?php
        if(is_array($data) && count($data) > 0){
          foreach($data as $item){
      ?>
      <div class="recommend-item-box" title="<?=$item['company_name']?> / <?=$item['product_name']?>">
        <a class="d-block p-0" href="/Buyer/Shop/Detail/<?=$item['product_no']?>?rm=<?=$item['reduction_money']?>">
          <div class="position-relative recommend-item-box-img">
            <img style="width: 100%; height: 400px; background: #ccc" src="/uploads/<?=$item['representative_image']?>" alt="<?=$item['product_name']?>">
          </div>
          <div class="recommend-item-box-info">
            <div class="recommend-item-box-title">
              <span><?=$item['company_name']?></span>
              <p><?=$item['product_name']?></p>
            </div>
          </div>
        </a>
      </div>
      <?php
          }
        }
      ?>
    </div>
  </div>
</section>
