<section class="job-section alternate" style>
  <div class="auto-container">
    <div class="sec-title text-center mt-5">
      <h2><a tabindex=1000>추천 상품</a></h2>
    </div>

    <div class="tabs-content">
      <!--Tab-->
      <div class="tab active-tab" id="tab1">
        <div class="row recommend-item-list">
          <?php

          function product_compare_data($a, $b){
            if ($a['sort_num'] == $b['sort_num']){
              return ($a['register_date'] < $b['register_date']) ? 1 : -1;
            }
            return ($a['sort_num'] < $b['sort_num']) ? 1 : -1;
          }

          if(is_array($data) && count($data) > 0){
          $base = 1149000;
          $levy = $base * $employ *12;
          $ret = array();
          foreach($data as $item){
          $comparison = $item['reduction']*$levy;
          $product_price = number_format($item["product_price"]);
            $result_price = $item['reduction'] *$base;
            $reduction_money = 0;
            if($result_price > $comparison){
            $reduction_money = $comparison*0.6;
            }else if($result_price >$item["product_price"]*0.5){
            $reduction_money = $item["product_price"]*0.5 * 12;
            }else{
            $reduction_money = $result_price * 12;
            }
            if($reduction_money > $item['product_price']*0.5){
            $reduction_money = $item['product_price']*0.5;
            }

            $reduction_money = (int)$reduction_money;
            $item['reduction_money'] = $reduction_money;
            $item['sort_num'] = $reduction_money/$item['product_price'];
            $ret[] = $item;
            usort($ret,'product_compare_data');
          }
          $index = 0;
          foreach($ret as $item){
            if($index == 5){
              break;
            }
          $rdm = $item['reduction_money'];
          $slice = substr($rdm,0,-1);
          $slice_rdm = $slice.'0';
          ?>
          <!-- Job Block -->
          <div class="col p-2 recommend-item-box" title="<?=$item['company_name']?> / <?=$item['product_name']?>">
            <div class="border">
              <a class="d-block p-0" href="/Buyer/Shop/Detail/<?=$item['product_no']?>?rm=<?=$slice_rdm?>">
                <div class="recommend-img">
                  <img src="/uploads/<?=$item['representative_image']?>" alt="<?=$item['product_name']?>">
                </div>
                <div class="px-2 py-3">
                  <p class="recommend-company mb-1"><?=$item['company_name']?></p>
                  <p class="recommend-item fw-bold"><?=$item['product_name']?></p>

                  <div class="recommend-item-number">
                    <div class="d-flex justify-content-between mt-2 recommend-item-price">
                      <span>계약금액</span>
                      <p class="fw-bold"><?=number_format($item['product_price'])?>원</p>
                    </div>
                    <div class="d-flex justify-content-between recommend-item-rdm d-none">
                      <span>감면액</span>
                      <p class="fw-bold"><?=number_format($slice_rdm)?>원</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <?php $index++;
                }
              }
            ?>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

