<!-- Job Detail Section -->
<section class="job-detail-section style-three" style="margin-top: 76px;">
  <!-- Upper Box -->
  <div class="upper-box">
    <div class="auto-container">
      <!-- Job Block -->
      <div class="job-block-seven style-three">
        <div class="inner-box">
          <h2 class="mb-2"><a>입사 지원 지원서를 전송했습니다.</a></h2>
        </div>
      </div>
    </div>
  </div>

  <div class="job-detail-outer">
    <div class="auto-container">
      <div class="row">
        <div class="content-column col-lg-8 col-md-12 col-sm-12">
          <div class="tabs-box">
            <div class="widget-title">
              <h4><a>내 지원서</a></h4>
            </div>

            <div class="widget-content mt-4">
              <form class="default-form">
                <div class="row">
                  <!-- Input -->
                  <div class="form-group col-lg-6 col-md-12">
                    <label><a>지원서를 선택해 주세요.</a></label>
                    <select class="" title="지원서 선택" tabindex=100 disabled>
                      <option>기본 지원서</option>
                      <option selected>생산직용</option>
                      <option>파트타임용</option>
                    </select>
                  </div>

                  <!-- About Company -->
                  <div class="form-group col-lg-12 col-md-12">
                    <label><a>입사 지원 메세지</a></label>
                    <textarea title="입사 지원 메세지" tabindex=101 placeholder="" readonly></textarea>
                  </div>

                  <div class="form-group col-lg-12 col-md-12">
                    <!-- Resume / Education -->
                    <div class="resume-outer">
                      <div class="upper-title">
                        <h4><a>학력</a></h4>
                      </div>
                      <!-- Resume BLock -->
                      <div class="resume-block">
                        <div class="inner">
                          <span class="name">M</span>
                          <div class="title-box">
                            <div class="info-box">
                              <h3><a>제일 고등학교</a></h3>
                              <a> <span><small>인문계</small></span> </a>
                            </div>
                            <div class="edit-box">
                              <a> <span class="year">2012 - 2014</span> </a>
                            </div>
                          </div>
                          <div class="text"><a>블라블라블라</a></div>
                        </div>
                      </div>

                      <!-- Resume BLock -->
                      <div class="resume-block">
                        <div class="inner">
                          <span class="name">H</span>
                          <div class="title-box">
                            <div class="info-box">
                              <h3><a>제일 대학교</a></h3>
                              <a> <span><small>정보통신공학과, 학사</small></span> </a>
                            </div>
                            <div class="edit-box">
                              <span class="year">2008 - 2012</span>
                            </div>
                          </div>
                          <div class="text">학점 4.2 졸업, 4년 연속 장학금 수여</div>
                        </div>
                      </div>
                    </div>

                    <!-- Resume / Work & Experience -->
                    <div class="resume-outer theme-blue">
                      <div class="upper-title">
                        <h4><a>경력</a></h4>
                      </div>

                      <!-- Resume BLock -->
                      <div class="resume-block">
                        <div class="inner">
                          <span class="name">S</span>
                          <div class="title-box">
                            <div class="info-box">
                              <h3><a>제품 디자이너</a></h3>
                              <a>
                                <span><small>레고코리아</small></span>
                                <span><small>팀장</small></span>
                              </a>
                            </div>
                            <div class="edit-box">
                              <span class="year">2012 - 2014</span>
                            </div>
                          </div>
                          <div class="text"><a>이런 저런 업무 담당. 제품 패키지 디자인</a></div>
                        </div>
                      </div>

                      <!-- Resume BLock -->
                      <div class="resume-block">
                        <div class="inner">
                          <span class="name">D</span>
                          <div class="title-box">
                            <div class="info-box">
                              <h3><a>UX 디자이너</a></h3>
                              <a>
                                <span>Dropbox Inc.</span>
                                <span>주니어</span>
                              </a>
                            </div>
                            <div class="edit-box">
                              <span class="year"><a>2012 - 2014</a></span>
                            </div>
                          </div>
                          <div class="text"><a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</a></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <h5 class="mb-3"><a>포트폴리오</a></h5>
                  <div class="row images-outer">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                      <figure class="image"><a href="/assets/images/resource/employers-single-1.png" class="lightbox-image" data-fancybox="gallery"><img src="/assets/images/resource/employers-single-1.png" alt="포트폴리오 이미지"></a></figure>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                      <figure class="image"><a href="/assets/images/resource/employers-single-2.png" class="lightbox-image" data-fancybox="gallery"><img src="/assets/images/resource/employers-single-2.png" alt="포트폴리오 이미지"></a></figure>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                      <figure class="image"><a href="/assets/images/resource/employers-single-3.png" class="lightbox-image" data-fancybox="gallery"><img src="/assets/images/resource/employers-single-3.png" alt="포트폴리오 이미지"></a></figure>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                      <figure class="image"><a href="/assets/images/resource/employers-single-4.png" class="lightbox-image" data-fancybox="gallery"><img src="/assets/images/resource/employers-single-4.png" alt="포트폴리오 이미지"></a></figure>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                      <figure class="image"><a href="/assets/images/resource/employers-single-4.png" class="lightbox-image" data-fancybox="gallery"><img src="/assets/images/resource/employers-single-4.png" alt="포트폴리오 이미지"></a></figure>
                    </div>
                  </div>

                  <div class="form-group col-lg-12 col-md-12 mt-4">
                    <!-- Resume / Awards -->
                    <div class="resume-outer theme-yellow">
                      <div class="upper-title">
                        <h4><a>수상내역</a></h4>
                      </div>
                      <!-- Resume BLock -->
                      <div class="resume-block">
                        <div class="inner">
                          <span class="name"></span>
                          <div class="title-box">
                            <div class="info-box">
                              <h3><a>Perfect Attendance Programs</a></h3>
                              <span></span>
                            </div>
                            <div class="edit-box">
                              <span class="year"><a>2012 - 2014</a></span>
                            </div>
                          </div>
                          <div class="text"><a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante<br> ipsum primis in faucibus.</a></div>
                        </div>
                      </div>


                      <!-- Resume BLock -->
                      <div class="resume-block">
                        <div class="inner">
                          <span class="name"></span>
                          <div class="title-box">
                            <div class="info-box">
                              <h3><a>Top Performer Recognition</a></h3>
                              <span></span>
                            </div>
                            <div class="edit-box">
                              <span class="year"><a>2012 - 2014</a></span>
                            </div>
                          </div>
                          <div class="text"><a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante<br> ipsum primis in faucibus.</a></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-lg-12 col-md-12">
                    <!-- Resume / Awards -->
                    <div class="resume-outer theme-yellow">
                      <div class="upper-title">
                        <h4><a>스킬</a></h4>
                      </div>
                      
                      <div>
                        <span class="badge bg-success p-2"><a>Photoshap</a></span>
                        <span class="badge bg-success p-2"><a>CAD</a></span>
                        <span class="badge bg-success p-2"><a>일러스트</a></span>
                        <span class="badge bg-success p-2"><a>언리얼4</a></span>
                        <span class="badge bg-success p-2"><a>Javascript</a></span>
                      </div>

                    </div>
                  </div>

                  <!-- Input -->
                  <div class="form-group col-lg-12 col-md-12">
                    <a href="/Recruit/" class="theme-btn btn-style-one py-3" tabindex=101 style="font-size:1.4em">내 지원서 목록으로 이동</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="sidebar-column col-lg-4 col-md-12 col-sm-12">
          <aside class="sidebar">
            <div class="sidebar-widget company-widget">
              <div class="widget-content">
                <div class="company-title">
                  <div class="company-logo"><img src="/assets/images/resource/company-7.png" alt=""></div>
                  <h5 class="company-name"><a>완구 디자인 사원 모집 (제품/패키지/홍보물디자인)</a></h5>
                </div>

                <ul class="company-info">
                  <li><a>회사명: <span>완구나라</span></a></li>
                  <li><a>근무지역: <span>서울특별시 강서구</span></a></li>
                  <li><a>모집분야: <span>완구 디자인팀</span></a></li>
                  <li><a>근무시간: <span>주 5일 | 09:00 ~ 18:30</span></a></li>
                  <li><a>급여: <span>협의</span></a></li>
                </ul>

                <div class="btn-box"><a href="/Recruit/Detail" class="theme-btn btn-style-three" tabindex=102 title="모집공고 확인">모집공고 확인</a></div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>



</section>
<!-- End Job Detail Section -->
