<div class="flex-grow-1">
  <section class="notice-detail">
    <div class="auto-container py-5">
      <h2 class="mb-5 h4 fw-bold text-center">공지사항</h2>
      <table class="table mb-3">
        <thead>
        <tr>
          <th class="text-center py-3 w-75">제목 : <?=$title?></th>
          <th class="text-end text-nowrap py-3">첨부파일 : <?=$upload_file?></th>
          <th class="text-end text-nowrap py-3">등록일 : <?=substr($register_date,0,-9)?></th>
          <th class="text-end text-nowrap py-3">수정일 : <?=substr($update_date,0,-9)?></th>
          <th class="text-end text-nowrap py-3">조회수 : <?=$hit?></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td colspan="4" class="bg-light py-4 px-5">
            <?=$content?>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="text-end mb-5">
        <button class="btn btn-outline-secondary" onclick="history.back()">목록</button>
      </div>
    </div>
  </section>
</div>