<div class="flex-grow-1">
  <section class="notice-detail">
    <div class="auto-container py-5">
      <?php
        // Nav Menu
        require APPPATH . '/Views/CS/Components/Nav.html';
      ?>
      <h2 class="mb-5 h4 fw-bold text-center">공지사항</h2>
      <table class="table mb-3">
        <thead>
        <tr>
          <th class="py-2">제목 : <?=$title?></th>
          <th class="py-2 fw-normal text-secondary">등록일 : <?=substr($register_date,0,-9)?></th>
          <th class="py-2 fw-normal text-secondary">수정일 : <?=substr($update_date,0,-9)?></th>
          <th class="py-2 fw-normal text-secondary">조회수 : <?=$hit?></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td colspan="4" class="bg-light py-4 px-5">
            <?=$content?>
          </td>
        </tr>
        <?php
        if($upload_file){
        ?>
        <tr class='attach-row'>
          <td colspan='4' class='py-3'>첨부파일 :
            <?=$upload_file_ori?>
            <button class='btn btn-sm btn-outline-secondary ms-2 fw-normal' onclick="downloadFileNew('<?=$upload_file?>','<?=$upload_file_ori?>');">다운로드</button>
          </td>
        </tr>
        <?php
        }
        ?>
        </tbody>
      </table>
      <div class="text-end mb-5">
        <button class="btn btn-outline-secondary" onclick="history.back()">목록</button>
      </div>
    </div>
  </section>
</div>
<script>
  function downloadFileNew(fileName,fileNameOri){
		if(fileName == ""){
			alert("등록된 파일이 없습니다");
		}else {
			location.href = "/Download/downloadFileNew?fileName=" + fileName + "&fileNameOri=" + fileNameOri;
		}
  };
</script>