<?php
  // Left Menu
  if($_SESSION['login_info']['type'] == 'buyer'){
  require APPPATH . '/Views/Buyer/Components/Left.html';
  }elseif($_SESSION['login_info']['type'] == 'seller'){
  require APPPATH.'/Views/Seller/Components/Left.html';
  }
?>

<?php
  $user_type = "";
  if($_SESSION['login_info']['type'] == "buyer" ){
    $user_type = "구매기업";
  }elseif($_SESSION['login_info']['type'] == "seller" ){
    $user_type = "판매기업";
  }
?>

<script>
  function sellerReplySubmit(reply_step,reply_no){

      if(reply_step == 1) {
				if ($('#reply_content').val() == "") {
					alert("리뷰를 등록해주세요");
					return false;
				}
        var data = {
          "reply_step": reply_step,
          "product_no": $('#product_no').val(),
          "reply_content": $('#reply_content').val()
        };
      }else if(reply_step != 1){
				if ($('#reply_content_'+reply_no).val() == "") {
					alert("리뷰를 등록해주세요");
					return false;
				}
				var data = {
					"reply_step": reply_step,
					"reply_no": reply_no,
					"product_no": $('#product_no').val(),
					"reply_content": $('#reply_content_'+reply_no).val()
				}
			}


		$.ajax({
			url: "/"+_CONTROLLER + "/SellerReplySubmit"
			,data: data
			,dataType: "json"
			,type: "post"
			,success: function(data){
        if(data == 1) {
					alert("리뷰등록이 완료되었습니다");
					location.reload();
				}else if(data == 2){
					alert("배송중이거나 구매하신 물품이 아닙니다");
				}else if(data == 3){
					alert("이미 등록하신 리뷰가 있습니다");
				}else if(data == 4){
					alert("등록하신 리뷰가 아니거나 판매기업이 아닙니다");
				}else {
					alert("리뷰등록이 실패했습니다.\n다시 시도해주세요");
        }
			}
			,error: function(res){
				console.log("error", res);
			}
		});
  }

</script>
<div style="flex-grow: 1" xmlns="http://www.w3.org/1999/html">
  <div class="shop-detail">
    <div class="auto-container">
      <div class="pt-5">
        <?php
        $delivery_cycle = "";
        if($data["delivery_cycle"] == 1){
        $delivery_cycle = "1번";
        }else if($data["delivery_cycle"] == 2){
        $delivery_cycle = "1주일에 한 번";
        }else if($data["delivery_cycle"] == 3){
        $delivery_cycle = "1달에 한 번";
        }else if($data["delivery_cycle"] ==4){
        $delivery_cycle = "2달에 한 번";
        }else if($data["delivery_cycle"] == 5){
        $delivery_cycle = "6달에 한 번";
        }
        ?>
        <h2 class="mb-3 fw-bold"><span class="text-primary"><?=$data["company_name"]?></span> <?=$data["product_name"]?></h2>
        <p class="mb-3"><?=$data["product_detail"]?></p>
      </div>
      <form name="myForm" method="POST" action="">
        <input type ="hidden" id="session" value="<?=$_SESSION['login']?>">
        <input type="hidden" name="product_no" id="product_no" value="<?=$data['product_no']?>">
        <input type="hidden" name="product_name" value="<?=$data['product_name']?>">
        <input type="hidden" name="buyer_company" id ="buyer_company"  value="<?=$_SESSION['login_info']['company_name']?>">
        <input type="hidden" name="seller_uuid" id ="seller_uuid" value= "<?=$data['seller_uuid']?>">
        <input type="hidden" name="product_price" id ="product_price" value= "<?=$data['product_price']?>">
        <input type="hidden" name="seller_company" id ="seller_company" value= "<?=$data['company_name']?>">
        <input type="hidden" name="idx" id ="idx" value= "<?=$data['idx']?>">
        <input type="hidden" name="reduction_money" id ="reduction_money" value= "<?=$_GET['rm']?>">
        <input type="hidden" name="product_quantity" id ="product_quantity" value= "<?=$item['product_quantity']?>">
        <div class="d-flex pt-4 pb-5 mb-4">
        <div class="detail-left">
          <div>
            <div class="p-3 border w-100 d-flex align-items-center preview-img-big" style="height: 384px">
              <img src="/uploads/<?=$data['representative_image']?>" alt="상품 이미지" class="mh-100">
            </div>
            <ul class="d-flex justify-content-between mt-3 list-preview">
              <li class="preview-img-small border p-2">
                <img class="mh-100" src="/uploads/<?=$data['representative_image']?>" alt="상품 상세이미지1">
              </li>
              <li class="preview-img-small border p-2">
                <?php
              if( ! empty($data['product_image1']) ) {
            ?>
                <img class="mh-100" src="/uploads/<?=$data['product_image1']?>" alt="상품 상세이미지2">
                <?php } else { ?>
                <p class="text-center fw-bold text-black-50" style="font-size: 16px;">이미지 없음</p>
                <?php
            }
            ?>
              </li>
              <li class="preview-img-small border p-2">
                <?php
              if( ! empty($data['product_image2']) ) {
            ?>
                <img class="mh-100" src="/uploads/<?=$data['product_image2']?>" alt="상품 상세이미지3">
                <?php } else { ?>
                <p class="text-center fw-bold text-black-50" style="font-size: 16px;">이미지 없음</p>
                <?php
              }
            ?>
              </li>
            </ul>
          </div>
        </div>
        <div class="detail-right">
          <h3>상품선택</h3>
          <div class="d-flex mb-4">
         <div class="selecotr-item" id="item">
          <input type="radio" id="item01" name="items" class="selector-item_radio" checked/>
          <label for="item01" class="selector-item_label px-2 py-1 me-2"><?=$data["product_quantity"]?></label>
        </div>
        </div>
          <div class="d-flex">
            <h3>배송주기</h3>
            <p class="ms-2 text-danger">(계약기간은 1년 기준입니다.)</p>
          </div>
          <div class="d-flex mb-4">
            <div class="selecotr-item">
              <input
                type="radio"
                id="delivery01"
                name="delivery_cycle"
                class="selector-item_radio"
                checked
              />
              <label for="delivery01" class="selector-item_label px-2 py-1 me-2"><?=$delivery_cycle?></label>
            </div>
          </div>
          <div class="mt-5 pt-4 text-end border-top total-price">
            <h2 class="mb-2"><span>계약금액&nbsp;</span><?=number_format($data["product_price"])?>원</h2>
            <h2><span>감면액&nbsp;</span><?=number_format($_GET['rm'])?>원</h2>
          </div>
        </div>
      </div>
      </form>
      <?php
        if($_SESSION["login_info"]["type"] == "buyer" || $_SESSION["login"] != "success"){
        ?>
      <div class="mt-4 text-end">
        <button onclick='myCart()' class="btn btn-secondary btn-lg">장바구니</button>
        <button onclick='contract()' class="btn btn-danger btn-lg">계약하기</button>
      </div>
      <?php
          }
          ?>
      <div class="detail-info">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button
              class="nav-link"
              id="nav-company-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-company"
              type="button"
              role="tab"
              aria-controls="nav-company"
              aria-selected="false"
            >
              기업 상세정보
            </button>
            <button
              class="nav-link"
              id="nav-detail-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-detail"
              type="button"
              role="tab"
              aria-controls="nav-detail"
              aria-selected="false"
            >
              상품 상세정보
            </button>
            <button
                class="nav-link active"
                id="nav-review-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-review"
                type="button"
                role="tab"
                aria-controls="nav-review"
                aria-selected="true"
            >
              기업/상품 리뷰
            </button>
          </div>
        </nav>
        <div
          class="tab-content p-5"
          id="nav-tabContent"
        >
          <div
            class="tab-pane fade"
            id="nav-company"
            role="tabpanel"
            aria-labelledby="nav-company-tab"
          >
            <img src="/uploads/<?=$data['seller_information']?>" alt="기업로고">
          </div>
          <div
            class="tab-pane fade"
            id="nav-detail"
            role="tabpanel"
            aria-labelledby="nav-detail-tab"
          >
            <img src="/uploads/<?=$data['detail_img']?>" alt="상품상세정보">
          </div>
          <div
              class="tab-pane fade show active"
              id="nav-review"
              role="tabpanel"
              aria-labelledby="nav-review-tab"
          >
            <div class="mb-5">
              <div class="d-flex mb-4">
                <input type="text" name="reply_content" id="reply_content" class="w-100 px-3 py-2 bg-light border rounded-3 me-2" placeholder="리뷰를 남겨주세요.">
                <button class="btn btn-dark btn-sm fw-normal flex-shrink-0 px-3" onclick="sellerReplySubmit(1);">등록</button>
              </div>
              <?php if(count($reply_data)){ ?>
              <ul>
                <?php foreach($reply_data as $item){ ?>
                <li>
                  <?php if($item["reply_step"] == 1){
                      $reply_user_type = "";
                      if($item['user_type'] == "buyer" ){
                        $reply_user_type = "<span class='badge bg-warning fw-normal'>구매기업</span>";
                      }elseif($item['user_type'] == "seller" ){
                        $reply_user_type = "<span class='badge bg-danger fw-normal'>판매기업</span>";
                      }
                  ?>
                  <div class="product-review py-4 border-bottom">
                    <div class="mb-2">
                      <?=$reply_user_type?>
                      <strong class="me-2"><?=$item["user_company_name"]?></strong>
                      <span class="text-secondary"><?=substr($item["register_date"],0,16)?></span>
                    </div>
                    <div class="mb-2">
                      <p><?=$item["reply_content"]?></p>
                    </div>
<!--                    <div>
                      <button class="btn btn-dark btn-sm py-0 fw-normal">답글</button>
                    </div>-->
                  </div>
                  <?php  foreach($reply_data as $item_re) {?>
                  <?php if($item_re["reply_no"] == $item["reply_no"] && $item_re["reply_step"] != 1){
                      $reply_user_type = "";
                      if($item_re['user_type'] == "buyer" ){
                        $reply_user_type = "<span class='badge bg-warning fw-normal'>구매기업</span>";
                      }elseif($item_re['user_type'] == "seller" ){
                        $reply_user_type = "<span class='badge bg-danger fw-normal'>판매기업</span>";
                      }
                  ?>
                  <div class="product-review-answer d-flex p-4 border-bottom">
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
                      </svg>
                    </div>
                    <div class="ms-3 flex-grow-1">
                      <div class="mb-2">
                        <?=$reply_user_type?>
                        <strong class="me-2"><?=$item_re["user_company_name"]?></strong>
                        <span class="text-secondary"><?=substr($item_re["register_date"],0,16)?></span>
                      </div>
                      <div class="mb-2">
                        <p><?=$item_re["reply_content"]?></p>
                      </div>
 <!--                     <div>
                        <button class="btn btn-dark btn-sm py-0 fw-normal">답글</button>
                      </div>-->
                    </div>
                  </div>
                        <?php } ?>
                      <?php } ?>
                  <div class="product-review-writing d-flex p-4 border-bottom bg-light">
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
                      </svg>
                    </div>
                    <div class="ms-3 flex-grow-1">
                      <div class="mb-2">
                  <?php
                          if($_SESSION['login_info']['type'] == "buyer" ){
                            $user_type = "<span class='badge bg-warning fw-normal'>구매기업</span>";
                          }elseif($_SESSION['login_info']['type'] == "seller" ){
                            $user_type = "<span class='badge bg-danger fw-normal'>판매기업</span>";
                          }
                        ?>
                        <?=$user_type?>
                        <strong class="me-2"><?=$_SESSION['login_info']['company_name']?></strong>
                      </div>
                      <div class="d-flex">
                        <input type="text" name="reply_content_<?=$item['reply_no']?>" id="reply_content_<?=$item["reply_no"]?>" class="w-100 px-3 py-2 bg-light border rounded-3 me-2 bg-white" placeholder="리뷰를 남겨주세요.">
                        <button class="btn btn-dark btn-sm fw-normal flex-shrink-0 px-3" onclick="sellerReplySubmit(2,'<?=$item["reply_no"]?>');">등록</button>
                      </div>
                    </div>
                  </div>
                </li>
                    <?php } ?>
                <?php } ?>
              </ul>
              <?php }else{ ?>
              <div class="text-center"><span>등록된 리뷰가 없습니다.</span></div>
              <?php }?>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function myCart() {
    var session = $("#session").val();
    if(session === "success") {
      document.myForm.action = '/Buyer/Shop/Cart';
      document.myForm.submit();
    }else{
      alert("로그인 후 이용해주세요");
    }
  }
  function contract(){
    var session = $("#session").val();
    if(session == "success") {
      document.myForm.action='/Buyer/Contract';
      document.myForm.submit();
    }else{
      alert("로그인 후 이용해주세요");
    }

  }

  function contractCheck(){

    const options = {method: 'GET', headers: {Accept: 'application/json', Authorization: 'esignon jlxfF8HAeRw1/8iUN5OVSH+060OTnZ+j7vRJdTHLFVSMzuM3n4MCaavEg6S0rFMpVNTkFsgGBWJ2usJ1j9T8uni3QARD+1L1cLc7W+PJ/M9dMoyAruRZ1C3NQusJ88gQ0utugU+hNRE='}};

    fetch('https://docs.esignon.net/api/v3/workflows/search-with-value?offset=%2B09%3A00&template_id=6&field_name=테스트&field_value=테스트', options)
            .then(response => response.json())
            .then(response => console.log(response))
            .catch(err => console.error(err));
    /*var sign = {
      "header": {
        "request_code": "5008Q",
        "api_name" : "start api",
        "session_id" : "",
        "version": "1.1.60",
      },
      "body": {
        "comp_id": "naver0socialimpactork",
        "field_list":[{
          "doc_uid" :"6",
          "field_name" :"field_name",
          "field_value" :"field_value"
        }]
      }
    };
    $.ajax({
      url: "https://docs.esignon.net/api/naver0socialimpactork/search",
      dataType: 'JSON',
      type: "post",
      data: JSON.stringify(sign),
      beforeSend: function (xhr) {
        xhr.setRequestHeader("Content-type", "application/json; charset=utf-8");
        /!*xhr.setRequestHeader("Seller-Agent", "esignonapi");*!/
        xhr.setRequestHeader("Authorization", "esignon jlxfF8HAeRw1/8iUN5OVSH+060OTnZ+j7vRJdTHLFVSMzuM3n4MCaavEg6S0rFMpVNTkFsgGBWJ2usJ1j9T8uni3QARD+1L1cLc7W+PJ/M9dMoyAruRZ1C3NQusJ88gQ0utugU+hNRE=");
      },
      success: function (result) {
        if (result) {
          console.log(JSON.stringify(result));
        } else {
          alert("전송 실패했습니다.");
        }
      },
      error: function (xhr, ajaxSettings, thrownError) {
        alert(thrownError);
      }
    });*/
  }
	let img = document.querySelector('.preview-img-big img');
	$('.preview-img-small').on('click', function(e){
		if(e.target.src) {
			img.src = e.target.src
		} else {
			return false;
		}

	})
</script>