<?php
  // Left Menu
require APPPATH . '/Views/Buyer/Components/Left.html';
?>
<div style="flex-grow: 1" xmlns="http://www.w3.org/1999/html">
  <div class="shop-detail">
    <div class="auto-container">
      <div class="pt-5">
        <?php
        $delivery_cycle = "";
        if($data["delivery_cycle"] == 1){
        $delivery_cycle = "1번";
        }else if($data["delivery_cycle"] == 2){
        $delivery_cycle = "1주일에 한 번";
        }else if($data["delivery_cycle"] == 3){
        $delivery_cycle = "1달에 한 번";
        }else if($data["delivery_cycle"] ==4){
        $delivery_cycle = "2달에 한 번";
        }else if($data["delivery_cycle"] == 5){
        $delivery_cycle = "6달에 한 번";
        }
        ?>
        <h2 class="mb-2"><span class="text-primary"><?=$data["company_name"]?></span><?=$data["product_name"]?></h2>
        <p class="mb-3"><?=$data["product_detail"]?></p>
      </div>
      <form name="myForm" method="POST" action="">
        <input type ="hidden" id="session" value="<?=$_SESSION['login']?>">
        <input type="hidden" name="product_no" value="<?=$data['product_no']?>">
        <input type="hidden" name="buyer_uuid" id ="buyer_uuid"  value="<?=$_SESSION['login_info']['uuid']?>">
        <input type="hidden" name="seller_uuid" id ="seller_uuid" value= "<?=$data['register_id']?>">

        <div class="d-flex pt-4 pb-5 mb-4">
        <div class="detail-left">
          <div>
            <div class="p-3 border preview-img-big">
              <img src="/uploads/upload_files/<?=$data['representative_image']?>" alt="기업로고">
            </div>
            <ul class="d-flex justify-content-between mt-3 list-preview">
              <li class="border p-2">
                <img class="preview-img-small" src="/uploads/upload_files/<?=$data['representative_image']?>" alt="기업로고">
              </li>
              <li class="border p-2">
                <img class="preview-img-small" src="/uploads/upload_files/<?=$data['product_image1']?>" alt="기업로고">
              </li>
              <li class="border p-2">
                <img class="preview-img-small" src="/uploads/upload_files/<?=$data['product_image2']?>" alt="기업로고">
              </li>
            </ul>
          </div>
        </div>
        <div class="detail-right">
          <h3>상품선택</h3>
          <div class="d-flex mb-4">
         <div class="selecotr-item" id="item">
          <input type="radio" id="item01" name="items" class="selector-item_radio" checked/>
          <label for="item01" class="selector-item_label px-2 py-1 me-2"><?=$data["product_quantity"]?></label>
        </div>
        </div>
          <div class="d-flex">
            <h3>배송주기</h3>
            <p class="ms-2 text-danger">(계약기간은 1년 기준입니다.)</p>
          </div>
          <div class="d-flex mb-4">
            <div class="selecotr-item">
              <input
                type="radio"
                id="delivery01"
                name="delivery_cycle"
                class="selector-item_radio"
                checked
              />
              <label for="delivery01" class="selector-item_label px-2 py-1 me-2"><?=$delivery_cycle?></label>
            </div>
          </div>
          <div class="mt-5 pt-4 text-end border-top total-price">
            <h2 class="mb-2"><span>계약금액</span><?=$data["product_price"]?>원</h2>
            <h2><span>감면액</span> 20,000,000원</h2>
          </div>
        </div>
      </div>
      </form>
      <?php
        if($_SESSION["login_info"]["type"] == "buyer" || $_SESSION["login"] != "success"){
        ?>
      <div class="mt-4 text-end">
        <button onclick='myCart()' class="btn btn-secondary btn-lg">장바구니</button>
        <button onclick='contract()' class="btn btn-danger btn-lg">계약하기</button>
        <button onclick='contractCheck()' class="btn btn-danger btn-lg">계약서조회</button>
        <button onclick='contractSubmit()' class="btn btn-danger btn-lg">계약서전송</button>
      </div>
      <?php
          }
          ?>
      <div class="detail-info">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button
              class="nav-link active"
              id="nav-company-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-company"
              type="button"
              role="tab"
              aria-controls="nav-company"
              aria-selected="true"
            >
              기업 상세정보
            </button>
            <button
              class="nav-link"
              id="nav-detail-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-detail"
              type="button"
              role="tab"
              aria-controls="nav-detail"
              aria-selected="false"
            >
              상품 상세정보
            </button>
          </div>
        </nav>
        <div
          class="tab-content p-5"
          id="nav-tabContent"
        >
          <div
            class="tab-pane fade show active"
            id="nav-company"
            role="tabpanel"
            aria-labelledby="nav-company-tab"
          >
            <img src="/assets/images/resource/products/1.png" alt="기업로고">
          </div>
          <div
            class="tab-pane fade"
            id="nav-detail"
            role="tabpanel"
            aria-labelledby="nav-detail-tab"
          >
            <img src="/assets/images/resource/products/item_detail01.jpg" alt="기업로고">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function myCart() {
    var session = $("#session").val();
    if(session === "success") {
      document.myForm.action = '/Buyer/Shop/Cart';
      document.myForm.submit();
    }else{
      alert("로그인 후 이용해주세요");
    }
  }



  function contract(){
    var session = $("#session").val();
    if(session == "success") {
      document.myForm.action='/Buyer/Contract';
      document.myForm.submit();
    }else{
      alert("로그인 후 이용해주세요");
    }

  }

  function contractCheck(){

    const options = {method: 'GET', headers: {Accept: 'application/json', Authorization: 'esignon jlxfF8HAeRw1/8iUN5OVSH+060OTnZ+j7vRJdTHLFVSMzuM3n4MCaavEg6S0rFMpVNTkFsgGBWJ2usJ1j9T8uni3QARD+1L1cLc7W+PJ/M9dMoyAruRZ1C3NQusJ88gQ0utugU+hNRE='}};

    fetch('https://docs.esignon.net/api/v3/workflows/search-with-value?offset=%2B09%3A00&template_id=6&field_name=테스트&field_value=테스트', options)
            .then(response => response.json())
            .then(response => console.log(response))
            .catch(err => console.error(err));
    /*var sign = {
      "header": {
        "request_code": "5008Q",
        "api_name" : "start api",
        "session_id" : "",
        "version": "1.1.60",
      },
      "body": {
        "comp_id": "naver0socialimpactork",
        "field_list":[{
          "doc_uid" :"6",
          "field_name" :"field_name",
          "field_value" :"field_value"
        }]
      }
    };
    $.ajax({
      url: "https://docs.esignon.net/api/naver0socialimpactork/search",
      dataType: 'JSON',
      type: "post",
      data: JSON.stringify(sign),
      beforeSend: function (xhr) {
        xhr.setRequestHeader("Content-type", "application/json; charset=utf-8");
        /!*xhr.setRequestHeader("User-Agent", "esignonapi");*!/
        xhr.setRequestHeader("Authorization", "esignon jlxfF8HAeRw1/8iUN5OVSH+060OTnZ+j7vRJdTHLFVSMzuM3n4MCaavEg6S0rFMpVNTkFsgGBWJ2usJ1j9T8uni3QARD+1L1cLc7W+PJ/M9dMoyAruRZ1C3NQusJ88gQ0utugU+hNRE=");
      },
      success: function (result) {
        if (result) {
          console.log(JSON.stringify(result));
        } else {
          alert("전송 실패했습니다.");
        }
      },
      error: function (xhr, ajaxSettings, thrownError) {
        alert(thrownError);
      }
    });*/
  }

  function contractSubmit(){
    var returnValue = confirm("가입하신 이메일로 계약서가 전송됩니다. 계약을 진행하시겠습니까?");
    if(returnValue) {
      const options = {
        method: 'POST',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
          Authorization: 'esignon jlxfF8HAeRw1/8iUN5OVSH+060OTnZ+j7vRJdTHLFVSMzuM3n4MCaavEg6S0rFMpVNTkFsgGBWJ2usJ1j9T8uni3QARD+1L1cLc7W+PJ/M9dMoyAruRZ1C3NQusJ88gQ0utugU+hNRE='
        },
        body: JSON.stringify({
          language: 'ko',
          is_preview: false,
          recipient_list: [
            {order: 1, email: '98982398@naver.com', name: '홍진석'},
            {order: 2, email: 'h98982398@gmail.com', name: '홍진석'}
          ],
          field_list: [{name: '테스트', value: '테스트'}],
          workflow_name: '상생몰계약서',
          template_id: 6,
          comment: '상생몰 계약서 입니다'
        })
      };

      fetch('https://docs.esignon.net/api/v3/workflows/start?offset=%2B09%3A00', options)
              .then(response => response.json())
              .then(response => console.log(response))
              .catch(err => console.error(err));

    /*  var sign = {
        "header": {
          "request_code": "5005Q",
          "version": "9.9.99",
          "session_id": "S1001",
        },
        "body": {
          "biz_id": "0",
          "workflow_name": "연계고용 표준도급계약서_샘플(배포용)",
          "memb_email": "socialimpactorkr@naver.com",
          "doc_id": "6",
          "client_id": "*6A1137EBF8BBBC7BFCE7D7425C69609F31CB8BFE",
          "language": "ko-KR",
          "player_list": [{
            "field_owner": "1",
            "email": buyer_email,
            "name": buyer_company_name
          }, {
            "field_owner": "2",
            "email":seller_email,
            "name": seller_company_name
          }],
          "field_list": [{
            "field_name": "field_name",
            "field_value": "field_value"
          }
          ]
        }
      };
      $.ajax({
        url: "https://docs.esignon.net/api/naver0socialimpactorkr/startsimple",
        dataType: 'JSON',
        type: "post",
        data: JSON.stringify(sign),
        beforeSend: function (xhr) {
          xhr.setRequestHeader("Content-type", "application/json; charset=utf-8");
          xhr.setRequestHeader("User-Agent", "esignonapi");
          xhr.setRequestHeader("Authorization", "esignon jlxfF8HAeRw1/8iUN5OVSH+060OTnZ+j7vRJdTHLFVSMzuM3n4MCaavEg6S0rFMpVNTkFsgGBWJ2usJ1j9T8uni3QARD+1L1cLc7W+PJ/M9dMoyAruRZ1C3NQusJ88gQ0utugU+hNRE=");
        },
        success: function (result) {
          if (result) {
            alert("가입하신 이메일로 계약서가 전송되었습니다.");
          } else {
            alert("전송 실패했습니다.");
          }
        },
        error: function (xhr, ajaxSettings, thrownError) {
          alert(thrownError);
        }
      });*/
    }else{
      return false;
    }
  };


let img = document.querySelector('.preview-img-big img');
  $('.preview-img-small').on('click', function(e){
    img.src = e.target.src
  })
</script>