<?php
  // Left Menu
  require(__DIR__.'/Components/Left.html');
?>
<div style="flex-grow: 1" xmlns="http://www.w3.org/1999/html">
  <div class="shop-detail">
    <div class="auto-container">
      <div class="pt-5">
        <?php
          if(is_array($data) && count($data) > 0){
        foreach($data as $item){
        ?>


        <h2 class="mb-2"><span class="text-primary"><?=$item["company_name"]?></span><?=$item["product_name"]?></h2>
        <p class="mb-3"><?=$item["product_detail"]?></p>
      </div>
      <div class="d-flex pt-4 pb-5 mb-4">
        <div class="detail-left">
          <div>
            <div class="p-3 border preview-img-big">
              <img src="/uploads/upload_files/<?=$item["representative_image"]?>" alt="기업로고">
            </div>
            <ul class="d-flex justify-content-between mt-3 list-preview">
              <li class="border p-2">
                <img class="preview-img-small" src="/uploads/upload_files/<?=$item["representative_image"]?>" alt="기업로고">
              </li>
              <li class="border p-2">
                <img class="preview-img-small" src="/uploads/upload_files/<?=$item["product_image1"]?>" alt="기업로고">
              </li>
              <li class="border p-2">
                <img class="preview-img-small" src="/uploads/upload_files/<?=$item["product_image2"]?>" alt="기업로고">
              </li>
            </ul>
          </div>
        </div>

        <div class="detail-right">
          <h3>상품선택</h3>
          <div class="d-flex mb-4">
            <?php
            for($i =1; $i <=$item["quantity_count"]; $i++){
            $product_no1 = "product_quantity".$i;
            echo '<div class="selecotr-item" id="item">';
            echo '<input type="radio" id="item'.$i.'" value ='.$i.' name="items" class="selector-item_radio" checked/>';
            echo '<label for="item'.$i.'" class="selector-item_label px-2 py-1 me-2">'.$item["$product_no1"].'</label>';
            echo '</div>';
            }
          ?>
        </div>
          <div class="d-flex">
            <h3>배송주기</h3>
            <p class="ms-2 text-danger">(계약기간은 1년 기준입니다.)</p>
          </div>
          <div class="d-flex mb-4">
            <div class="selecotr-item">
              <input
                type="radio"
                id="delivery01"
                name="delivery"
                class="selector-item_radio"
                checked
              />
              <label for="delivery01" class="selector-item_label px-2 py-1 me-2"><?=$item["delivery_cycle"]?></label>
            </div>
<?php
 $var = '<script>$('.selector-item_radio').on('click', function(e){
    var price = document.querySelector('input[type=radio][class=selector-item_radio]:checked').value;
    var price_select = "product_price" + price;
    </script>'
?>


          </div>
          <div class="mt-5 pt-4 text-end border-top total-price">
            <h2 class="mb-2"><span>계약금액</span><?=$item["$price_select"]?></h2>
            <h2><span>감면액</span> 20,000,000원</h2>
          </div>

          <div class="mt-4 text-end">
            <button class="btn btn-secondary btn-lg">장바구니</button>
            <button class="btn btn-danger btn-lg">계약하기</button>
          </div>
        </div>
      </div>
      <?php
                }
              }
            ?>
      <div class="detail-info">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button
              class="nav-link active"
              id="nav-company-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-company"
              type="button"
              role="tab"
              aria-controls="nav-company"
              aria-selected="true"
            >
              기업 상세정보
            </button>
            <button
              class="nav-link"
              id="nav-detail-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-detail"
              type="button"
              role="tab"
              aria-controls="nav-detail"
              aria-selected="false"
            >
              상품 상세정보
            </button>
          </div>
        </nav>
        <div
          class="tab-content p-5"
          id="nav-tabContent"
        >
          <div
            class="tab-pane fade show active"
            id="nav-company"
            role="tabpanel"
            aria-labelledby="nav-company-tab"
          >
            <img src="/assets/images/resource/products/1.png" alt="기업로고">
          </div>
          <div
            class="tab-pane fade"
            id="nav-detail"
            role="tabpanel"
            aria-labelledby="nav-detail-tab"
          >
            <img src="/assets/images/resource/products/item_detail01.jpg" alt="기업로고">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('.selector-item_radio').on('click', function(e){
    var price = document.querySelector('input[type=radio][class=selector-item_radio]:checked').value;
    var price_select = "product_price" + price;
    $.ajax({
      type:"post",
      url:"Buyer/Price_ajax",
      data: price_select,
      success:function (result){
      alert(result);
      },
      error : function(XMLHttpRequest, textStatus, errorThrown){ // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
        alert(errorThrown)
      }
    })
  });



  let img = document.querySelector('.preview-img-big img');
  $('.preview-img-small').on('click', function(e){
    img.src = e.target.src
  })
</script>