<?php
  // Left Menu
  if($_SESSION['login_info']['type'] == 'buyer'){
  require APPPATH . '/Views/Buyer/Components/Left.html';
  }elseif($_SESSION['login_info']['type'] == 'seller'){
  require APPPATH.'/Views/Seller/Components/Left.html';
  }
?>
<?php
$workers = $buyer_info["workers"]; //상시근로자
$classification = 0;
if($buyer_info['classification'] == 1){ //기업구분에 따른 의무고용율
$classification = 0.031;
}else{
$classification = 0.034;
}

$employ = 0; //의무고용인원
if($workers<50){
$employ = 0;
}else{
$employ = (int)($workers*$classification);
}
if($employ != 0){
  $ratio = ($buyer_info['mild_disabled']+($buyer_info['severely_disabled']*2))/$employ; //의무고용인원충족비율
}else{
  $ratio = 0;
}
$base = 1149000;
$levy = $base * $employ *12; //부담금
?>
<div class="flex-grow-1 pb-5">
  <section class="shop-list">
    <div class="auto-container">
      <div class="w-100 py-5 mb-5" id ="buyer_ranking" style="display: none">
        <h2 class="text-center mb-3 fw-bold">추천상품</h2>
        <input type="hidden" id ="login_type" value="<?=$_SESSION['login_info']['type']?>">
        <input type="hidden" id ="p_n" value="<?=$_GET['p_n']?>">

        <div class="row recommend-item-list">
          <?php
          function product_compare_data($a, $b){
            if ($a['sort_num'] == $b['sort_num']){
              return ($a['register_date'] < $b['register_date']) ? 1 : -1;
            }
            return ($a['sort_num'] < $b['sort_num']) ? 1 : -1;
          }
          if(is_array($ranking) && count($ranking)){
          $ret = array();
            foreach($ranking as $item){
              $product_price = number_format($item["product_price"]);
              $result_price = $item['reduction'] *$base;
              $reduction_money = 0;

              if($result_price > $levy ){
          $reduction_money = $levy*0.6;
          }else if($result_price >$item["product_price"]*0.5){
          $reduction_money = $item["product_price"]*0.5 *12;
          }else{
          $reduction_money = $result_price *12;
          }

          if($reduction_money > $item['product_price']*0.5){
          $reduction_money = (int)$item['product_price']*0.5;
          }

          $reduction_money = (int)$reduction_money;
          $item['reduction_money'] = $reduction_money;
          $item['sort_num'] = $reduction_money/$item['product_price'];
          $ret[] = $item;
          usort($ret,'product_compare_data');
          }

          $index = 0;
          foreach($ret as $item){
          if($index == 5){
          break;
          }
          $rdm = $item['reduction_money'];
          $slice = substr($rdm,0,-1);
          $slice_rdm = $slice.'0';
          ?>
          <div class="col p-2 recommend-item-box" title="<?=$item['company_name']?> / <?=$item['product_name']?>">
            <div class="border">
              <a class="d-block p-0" href="/Buyer/Shop/Detail/<?=$item['product_no']?>?rm=<?=$slice_rdm?>">
                <div class="recommend-img">
                  <img src="/uploads/<?=$item['representative_image']?>" alt="<?=$item['product_name']?>">
                </div>
                <div class="px-2 py-3">
                  <p class="recommend-company mb-1"><?=$item['company_name']?></p>
                  <p class="recommend-item fw-bold"><?=$item['product_name']?></p>

                  <div class="recommend-item-number">
                    <div class="d-flex justify-content-between mt-2 recommend-item-price">
                      <span>계약금액</span>
                      <p class="fw-bold"><?=number_format($item['product_price'])?>원</p>
                    </div>
                    <div class="d-flex justify-content-between recommend-item-rdm">
                      <span>감면액</span>
                      <p class="fw-bold"><?=number_format($slice_rdm)?>원</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <?php $index++;
              }
            }
            ?>
        </div>
        <?php
          if(!is_array($ranking)){
        ?>
        <h2 class="text-center fw-bold my-5">등록된 상품이 없습니다</h2>
        <?php
          }
        ?>


      </div>

      <div class="pt-5 mt-5 mb-5">
        <div class="order-items d-flex justify-content-end mb-4">
          <table class="table">
            <thead>
            <tr>
              <th>
                상품사진
              </th>
              <th>
                회사명/상품명
              </th>
              <th>
                상품수량
              </th>
              <th>
                계약금액
              </th>
              <th id ="buyer_rdm" style="display: none">
                감면액
              </th>
            </tr>
            </thead>
            <tbody>
            <?php

          if(is_array($list)&& count($list) > 0){

            if($_GET["p_n"]!=""){
            $i=($_GET["p_n"]-1)*10+1;
            }
            $ret = array();
            foreach($list as $item){
            $product_price = number_format($item["product_price"]);
            $result_price = $item['reduction'] *$base;
            $reduction_money = 0;

            if($result_price > $levy ){
            $reduction_money = $levy*0.6;
            }else if($result_price >$item["product_price"]*0.5){
            $reduction_money = $item["product_price"]*0.5 *12;
            }else{
            $reduction_money = $result_price *12;
            }

            if($reduction_money > $item['product_price']*0.5){
            $reduction_money = (int)$item['product_price']*0.5;
            }

            $reduction_money = (int)$reduction_money;

            $item['reduction_money'] = $reduction_money;
            $ret[] = $item;

            }

            foreach($ret as $item){
            $rdm = $item['reduction_money'];
            $slice = substr($rdm,0,-1);
            $slice_rdm = $slice.'0';
            ?>
            <tr>
              <td>
                <img class="preview-img-small" src="/uploads/<?=$item['representative_image']?>"
                     alt="<?=$item['product_name']?>">
              </td>
              <td>
                <h3>
                  <a class="d-block" href="/Buyer/Shop/Detail/<?=$item['product_no']?>?rm=<?=$slice_rdm?>">
                    <span class="text-start company-name" title="<?=$item['company_name']?>"><?=$item["company_name"]?></span>
                    <span class="text-start fw-bold mt-1 product-name" title="<?=$item['product_name']?>"><?=$item["product_name"]?></span>
                  </a>
                </h3>
                <!--                <p class="sub-info"><?=$item["product_detail"]?></p>-->
              </td>
              <td>
                <p><?=$item["product_quantity"]?></p>
              </td>
              <td>
                <p class="fw-bold"><?=number_format($item["product_price"])?>원</p>
              </td>
              <td class="buyer_rdm_">
                <p class="fw-bold"><?=number_format($slice_rdm)?>원</p>
              </td>
            </tr>
            <?php

              }
            }
            ?>
            </tbody>
          </table>
        </div>
        <?php
            if($data_page_total_cnt == 0){
            ?>
        <h2 class="text-center fw-bold my-5">등록된 상품이 없습니다</h2>
        <?php
             }
              ?>
      </div>
      <div class="float-start"><div class="dataTables_info" id="datatables_info" role="status" aria-live="polite"></div></div>
      <ul style="float: right" class="pagination">
        <li class="paginate_button page-item previous disabled" id="datatables_previous">
          <?php
          if($data_page_total_cnt > 0){
          if($_GET['search_v'] != ""){
          $search_v = $_GET['search_v'];
          }
          $value = $_GET["value"];
          $page = $_GET["p_n"];
          $page_per_record = 10;
          $block_ct = 5;
          $list = 10;
          $block_num = ceil($page/$block_ct);
          $block_start = (($block_num - 1) * $block_ct) + 1;
          $block_end = $block_start + $block_ct - 1;
          $total_page = ceil($data_page_total_cnt / $list);
          if($block_end > $total_page){
          $block_end = $total_page;
          }
          $total_block = ceil($total_page/$block_ct);
          $start_num = ($page-1) * $list;
        if($_GET["p_n"]>1){?>
        <li class="paginate_button page-item"> <a href="javascript:nextPage('<?=$value?>',1,'<?=$search_v?>')" aria-controls="datatables" data-dt-idx="1" tabindex="0" class="page-link">처음으로</a></li>
        <?php }?>
        <?php
        if($page <= 1){
        ?>
        <?php
        }else{
        $pre = $page-1;
        ?>
        <li class="paginate_button page-item"> <a href="javascript:nextPage('<?=$value?>',<?=$pre?>,'<?=$search_v?>')" aria-controls="datatables" data-dt-idx="1" tabindex="0" class="page-link">이전</a></li>
        <?php
        }
        ?>
        <?php
         for($i= $block_start; $i<=$block_end;$i++){
              if($_GET["p_n"]==$i){?>
        <li class="paginate_button page-item active">
        <?php }else{ ?>
        <li class="paginate_button page-item">
        <?php } ?>
        <a href="javascript:nextPage('<?=$value?>',<?=$i?>,'<?=$search_v?>')" aria-controls="datatables" data-dt-idx="1" tabindex="0" class="page-link"><?=$i?></a>
        </li>
        <?php }?>
        <?php
        if($block_num >= $total_block){
        }else{
        $next_page = $page+1;
        ?>
        <li class="paginate_button page-item"> <a href="javascript:nextPage('<?=$value?>',<?=$next_page?>,'<?=$search_v?>')" aria-controls="datatables" data-dt-idx="1" tabindex="0" class="page-link">다음</a></li>
        <?php
        }
        ?>
        <?php
        if($_GET["p_n"]>=1 && $_GET["p_n"] != $total_page){?>
        <li class="paginate_button page-item"> <a href="javascript:nextPage('<?=$value?>',<?=$total_page?>,'<?=$search_v?>')" aria-controls="datatables" data-dt-idx="1" tabindex="0" class="page-link">마지막</a></li>
        <?php }}?>
      </ul>
    </div>
  </section>
</div>
<script>
  $(document).ready(function(){
    if($("#login_type").val() == 'buyer'){
      $("#buyer_ranking").css('display','block');
      $("#buyer_rdm").css('display','block')
    }else{
      $(".buyer_rdm_").css('display','none')
    }
  });
  function nextPage(value,p_n,search_v){
    if(search_v != ""){
      location.href = '/Buyer/Shop/List?value='+value+'&p_n='+p_n+'&search_v='+search_v;
    }else{
      location.href = '/Buyer/Shop/List?value='+value+'&p_n='+p_n;
    }
  }
</script>
