<?php
  // Left Menu
  if($_SESSION['login_info']['type'] == 'buyer'){
  require APPPATH . '/Views/Buyer/Components/Left.html';
  }elseif($_SESSION['login_info']['type'] == 'seller'){
  require APPPATH.'/Views/Seller/Components/Left.html';
  }else{
  }
?>
<div class="flex-grow-1">
  <section class="shop-list">
    <div class="auto-container">
      <div class="w-100 py-5 mb-5">
        <h2 class="text-center mb-3 fw-bold">추천상품</h2>

        <table class="table border-top border-bottom border-2">
          <tbody>
          <tr>
            <?php
          if(is_array($ranking) && count($ranking)){
        foreach($ranking as $item){
           ?>
            <td>
           <img class="preview-img-small" src="/uploads/upload_files/<?=$item['representative_image']?>" alt="기업로고">
            </td>
            <td>
              <h3><a href="/Buyer/Shop/Detail/<?=$item['product_no']?>"><span class="text-primary"><?=$item['company_name']?></span> / <?=$item['product_name']?></a></h3>
              <p class="mt-2 sub-info"><?=$item['product_detail']?></p>
            </td>
            <td>
              <p><?=$item['product_quantity']?></p>
            </td>
            <td>
              <p><?=$item['product_price']?></p>

            </td>
            <td>
              <p><?=$item['product_end']?></p>
            </td>
          </tr>
          <?php
                }
              }
            ?>
          </tbody>
        </table>

      </div>

      <div class="px-3 mb-5">
        <div class="order-items d-flex justify-content-end mb-4">
          <span class="px-3 active">인기상품순</span>
          <span class="px-3">높은감면액순</span>
          <span class="px-3">낮은감면액순</span>
          <span class="px-3">높은가격순</span>
          <span class="px-3">낮은가격순</span>
        </div>

        <table class="table">
          <thead>
          <tr>
            <th>
              상품사진
            </th>
            <th>
              회사명/상품명
            </th>
            <th>
              상품구분
            </th>
            <th>
              계약금액
            </th>
            <th>
              감면액
            </th>
          </tr>
          </thead>
          <tbody>
          <?php
          if(is_array($list)&& count($list)){
          foreach($list as $item){
          ?>
          <tr>
            <td>
              <img class="preview-img-small" src="/uploads/upload_files/<?=$item['representative_image']?>" alt="기업로고">
            </td>
            <td>
              <h3><a href="/Buyer/Shop/Detail/<?=$item['product_no']?>"><span class="text-primary"><?=$item["company_name"]?></span> / <?=$item["product_name"]?></a></h3>
              <p class="sub-info"><?=$item["product_detail"]?></p>
            </td>
            <td>
              <p><?=$item["product_quantity"]?></p>
            </td>
            <td>
              <p><?=$item["product_price"]?>원</p>
            </td>
            <td>
              <p>1,176,000원</p>
            </td>
          </tr>
          <?php
                }
              }
            ?>
          </tbody>

        </table>

      </div>
    </div>
  </section>
</div>
