<?php
  // Left Menu
  if($_SESSION['login_info']['type'] == 'buyer'){
  require APPPATH . '/Views/Buyer/Components/Left.html';
  }elseif($_SESSION['login_info']['type'] == 'seller'){
  require APPPATH.'/Views/Seller/Components/Left.html';
  }
?>
<?php
$workers = $buyer_info["workers"]; //상시근로자
$classification = 0;
if($buyer_info['classification'] == 1){ //기업구분에 따른 의무고용율
$classification = 0.031;
}else{
$classification = 0.034;
}

$employ = 0; //의무고용인원
if($workers<50){
$employ = 0;
}else{
$employ = (int)($workers*$classification);
}
if($employ != 0){
  $ratio = ($buyer_info['mild_disabled']+($buyer_info['severely_disabled']*2))/$employ; //의무고용인원충족비율
}else{
  $ratio = 0;
}
$base = 1149000;
$levy = $base * $employ *12; //부담금
?>
<div class="flex-grow-1 pb-5">
  <section class="shop-list">
    <div class="auto-container">
      <div class="w-100 py-5 mb-5" id ="buyer_ranking" style="display: none">
        <h2 class="text-center mb-3 fw-bold">추천상품</h2>
        <input type="hidden" id ="login_type" value="<?=$_SESSION['login_info']['type']?>">
        <input type="hidden" id ="p_n" value="<?=$_GET['p_n']?>">
        <table class="table border-top border-bottom border-2">
          <th>상품사진</th>
          <th>회사명/상품명</th>
          <th>상품수량</th>
          <th>계약금액</th>
          <th>감면액</th>
          <tbody>
          <tr>
            <?php

            function product_compare_data($a, $b){
              if ($a['sort_num'] == $b['sort_num']){
                return ($a['register_date'] < $b['register_date']) ? 1 : -1;
              }
              return ($a['sort_num'] < $b['sort_num']) ? 1 : -1;
            }
          if(is_array($ranking) && count($ranking)){
          $ret = array();
              foreach($ranking as $item){
                $product_price = number_format($item["product_price"]);
                $result_price = $item['reduction'] *$base;
                $reduction_money = 0;

                if($result_price > $levy ){
                  $reduction_money = $levy*0.6;
                }else if($result_price >$item["product_price"]*0.5){
                  $reduction_money = $item["product_price"]*0.5 *12;
                }else{
                  $reduction_money = $result_price *12;
                }

                if($reduction_money > $item['product_price']*0.5){
                  $reduction_money = (int)$item['product_price']*0.5;
                }

                $reduction_money = (int)$reduction_money;
                $item['reduction_money'] = $reduction_money;
                $item['sort_num'] = $reduction_money/$item['product_price'];
                $ret[] = $item;
              usort($ret,'product_compare_data');
              }

            $index = 0;
            foreach($ret as $item){
              if($index == 5){
                break;
              }
            $rdm = $item['reduction_money'];
            $slice = substr($rdm,0,-1);
            $slice_rdm = $slice.'0';
            ?>
            <td>
              <img class="preview-img-small" src="/uploads/<?=$item['representative_image']?>" alt="<?=$item['product_name']?>">

            </td>
            <td>
              <h3><a href="/Buyer/Shop/Detail/<?=$item['product_no']?>?rm=<?=$slice_rdm?>"><span
                      class="text-primary"><?=$item['company_name']?></span> / <?=$item['product_name']?></a></h3>
            </td>
            <td>
              <p><?=$item['product_quantity']?></p>
            </td>
            <td>
              <p><?=number_format($item['product_price'])?>원</p>

            </td>
            <td>
              <p><?=number_format($slice_rdm)?>원</p>
            </td>
          </tr>
          <?php $index++;
              }
            }
            ?>
          </tbody>
        </table>
        <?php
            if(!is_array($ranking)){
            ?>
        <h2 class="text-center fw-bold my-5">등록된 상품이 없습니다</h2>
        <?php
             }
              ?>
      </div>
      <div class="px-3 pt-5 mt-5 mb-5">
        <div class="order-items d-flex justify-content-end mb-4">
          <table class="table">
            <thead>
            <tr>
              <th>
                상품사진
              </th>
              <th>
                회사명/상품명
              </th>
              <th>
                상품수량
              </th>
              <th>
                계약금액
              </th>
              <th id ="buyer_rdm" style="display: none">
                감면액
              </th>
            </tr>
            </thead>
            <tbody>
            <?php

          if(is_array($list)&& count($list) > 0){

            if($_GET["p_n"]!=""){
              $i=($_GET["p_n"]-1)*10+1;
            }
            $ret = array();
            foreach($list as $item){
              $product_price = number_format($item["product_price"]);
              $result_price = $item['reduction'] *$base;
              $reduction_money = 0;

              if($result_price > $levy ){
                $reduction_money = $levy*0.6;
              }else if($result_price >$item["product_price"]*0.5){
                $reduction_money = $item["product_price"]*0.5 *12;
              }else{
                $reduction_money = $result_price *12;
              }

              if($reduction_money > $item['product_price']*0.5){
                $reduction_money = (int)$item['product_price']*0.5;
              }

              $reduction_money = (int)$reduction_money;

              $item['reduction_money'] = $reduction_money;
              $ret[] = $item;

            }

            foreach($ret as $item){
            $rdm = $item['reduction_money'];
            $slice = substr($rdm,0,-1);
            $slice_rdm = $slice.'0';
            ?>
            <tr>
              <td>
                <img class="preview-img-small" src="/uploads/<?=$item['representative_image']?>"
                     alt="<?=$item['product_name']?>">
              </td>
              <td>
                <h3><a href="/Buyer/Shop/Detail/<?=$item['product_no']?>?rm=<?=$slice_rdm?>"><span
                        class="text-primary"><?=$item["company_name"]?></span> / <?=$item["product_name"]?></a></h3>
                <!--                <p class="sub-info"><?=$item["product_detail"]?></p>-->
              </td>
              <td>
                <p><?=$item["product_quantity"]?></p>
              </td>
              <td>
                <p><?=number_format($item["product_price"])?>원</p>
              </td>
              <td class ="buyer_rdm_">
                <p ><?=number_format($slice_rdm)?>원</p>
              </td>
            </tr>
            <?php

              }
            }
            ?>
            </tbody>
          </table>
        </div>
        <?php
            if(!is_array($list)){
            ?>
        <h2 class="text-center fw-bold my-5">등록된 상품이 없습니다</h2>
        <?php
             }
              ?>
      </div>
      <div class="float-start"><div class="dataTables_info" id="datatables_info" role="status" aria-live="polite"></div></div>
      <ul style="float: right" class="pagination">
        <li class="paginate_button page-item previous disabled" id="datatables_previous">
          <?php
         $value = $_GET["value"];
         if($data_page_total_cnt%10 != 0){
           $data_page_num = ($data_page_total_cnt/10) + 1;
         }else{
           $data_page_num = ($data_page_total_cnt/10);
         }
         for($i=1;$i<=$data_page_num;$i++){
              if($_GET["p_n"]==$i){?>
        <li class="paginate_button page-item active">
          <?php }else{ ?>
        <li class="paginate_button page-item">
          <?php } ?>
          <a href="javascript:nextPage(<?=$value?>,<?=$i?>)" aria-controls="datatables" data-dt-idx="1" tabindex="0" class="page-link"><?=$i?></a></li>
        <?php }?>
      </ul>
    </div>
  </section>
</div>
<script>
  $(document).ready(function(){
   if($("#login_type").val() == 'buyer'){
     $("#buyer_ranking").css('display','block');
     $("#buyer_rdm").css('display','block')
   }else{
     $(".buyer_rdm_").css('display','none')
   }
   if($("#p_n").val() > 1){
     $("#buyer_ranking").css('display','none');
   }
  });
  function nextPage(value,p_n){
    location.href = '/Buyer/Shop/List?value='+value+'&p_n='+p_n;
  }
</script>
