<div class="flex-grow-1">
  <section class="faq">
    <div class="auto-container py-5">
      <?php
        require(__DIR__.'/Components/Nav.html');
      ?>
      <h2 class="mb-5 h4 fw-bold text-center">자주 묻는 질문</h2>
      <ul class="faq-list mb-5">
        <li class="border-bottom">
          <a
            class="d-flex justify-content-between ps-5 pe-2 py-3 text-reset faq-question"
            data-bs-toggle="collapse"
            href="#faq01"
            role="button"
            aria-expanded="false"
            aria-controls="faq01"
          >
            <span>연계고용감면신청 언제, 어떻게 하나요?</span>
            <i>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-chevron-down"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </i>
          </a>
          <div class="collapse" id="faq01">
            <div class="faq-answer bg-light ps-5 py-4 pe-4">
              부담금 납부의무 사업주는 부담금 납부연도 1월 10일까지 사업체 본점
              소재지를 관할하는 공단 지역본부 및 지사에
              (전자/우편/방문)부담금감면신청을 하여야 합니다.
            </div>
          </div>
        </li>
        <li class="border-bottom">
          <a
            class="d-flex justify-content-between ps-5 pe-2 py-3 text-reset faq-question"
            data-bs-toggle="collapse"
            href="#faq02"
            role="button"
            aria-expanded="false"
            aria-controls="faq02"
          >
            <span>연계고용 부담금감면신청을 하려면 어떤 서류가 필요한가요?</span>
            <i>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-chevron-down"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </i>
          </a>
          <div class="collapse" id="faq02">
            <div class="faq-answer bg-light ps-5 py-4 pe-4">
              연계고용부담금 감면신청에 필요한 서류는 <br/>
              ① 부담금 감면신청서<br/>
              ② 연계고용 계약서<br/>
              ③ 연계고용 도급계약에 따른 보수 지급 영수증 사본<br/>
              ④ 연계고용 대상 사업체 총매출액을 확인할 수 있는 서류 사본<br/>
              (결산서, 손익계산서, 부가가치세 과세표준증명, 매출처별 세금계산서 합계표 등)<br/>
              ⑤ 연계고용 대상 사업장 소속 장애인 근로자 여부를 입증할 수 있는 서류(월별 임금대장, 장애인등록증 등) 등이 있습니다.<br/><br/>
              감면신청도우미에 들어가시면 한번에 다운로드 가능합니다.
            </div>
          </div>
        </li>
        <li class="border-bottom">
          <a
            class="d-flex justify-content-between ps-5 pe-2 py-3 text-reset faq-question"
            data-bs-toggle="collapse"
            href="#faq03"
            role="button"
            aria-expanded="false"
            aria-controls="faq03"
          >
            <span>감면액 예상금액과 실제 감면액과 차이가 날 수 있나요?</span>
            <i>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-chevron-down"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </i>
          </a>
          <div class="collapse" id="faq03">
            <div class="faq-answer bg-light ps-5 py-4 pe-4">
              네 차이가 날 수 있습니다.<br/>감면예산액은 공급업체의 올해 예상 매출액을 바탕으로 계산되므로 실제 매출액이 달라질 경우 감면금액은 변동될 수 있습니다.
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>