<!-- 판매자 메뉴-->
<?php
$total = $_SESSION["disabledCount"]['severely_disabled']+$_SESSION["disabledCount"]['mild_disabled'];
?>
<div
  class="left-fixed-box seller-left-box bg-dark p-3"
>
  <div class="text-center mb-3">
    <div class="d-flex justify-content-center align-items-center rounded-circle border mx-auto mb-3 overflow-hidden bg-white" style="width: 150px; height: 150px;">
      <img src="https://kfo.ai/images/top/top_06_r_17_17.png" alt="로고" />
    </div>
    <h2><a class="text-white" href="/Seller"><?=$_SESSION["disabledCount"]['company_name']?></a></h2>
  </div>
  <div class="mb-3">
    <h3 class="text-white">매출액</h3>
    <p class="text-end text-white"><?=number_format($_SESSION["totalSales"]['price'])?>원</p>
  </div>
  <div class="mb-3">
    <h3 class="text-white">장애인 근로자</h3>
    <p class="text-end text-white"><?=$_SESSION["disabledCount"]['worker_cnt']?>명</p>
    <p class="text-end">중증 <?=$_SESSION["disabledCount"]['degree_1_cnt']?>명,경증 <?=$_SESSION["disabledCount"]['degree_2_cnt']?>명</p>
  </div>
  <div>
    <div class="accordion" id="accordionSellerLeft">
      <div class="accordion-item">
        <h3 class="accordion-header" id="headingOne">
          <button
            class="accordion-button py-1 px-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            인재관리
          </button>
        </h3>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionSellerLeft"
        >
          <div class="accordion-body">
            <ul class="p-0 text-start">
              <li>
                <a class="on" href="/Seller/IMJOB/List">장애인 근로자 관리</a>
              </li>
              <li>
                <a href="/Seller/IMJOB/Manage">장애인 근로자 등록</a>
              </li>
              <li>
                <a
                  data-bs-toggle="modal"
                  data-bs-target="#jpbOnModal"
                  onclick="togglePosition(true)">
                  장애인 근로자 고용
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h3 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed py-1 px-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            상품관리
          </button>
        </h3>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionSellerLeft"
        >
          <div class="accordion-body">
            <ul class="p-0 text-start">
              <li>
                <a href="/Seller/Item/ItemList">상품 조회/수정</a>
              </li>
              <li>
                <a href="/Seller/Item/ItemRegist">상품 등록</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h3 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed py-1 px-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            계약관리
          </button>
        </h3>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#accordionSellerLeft"
        >
          <div class="accordion-body">
            <ul class="p-0 text-start">
              <li>
                <a href="/Seller/Contract">계약현황 조회</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h3 class="accordion-header" id="headingFour">
          <button
            class="accordion-button collapsed py-1 px-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            통계
          </button>
        </h3>
        <div
          id="collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="headingFour"
          data-bs-parent="#accordionSellerLeft"
        >
          <div class="accordion-body">
            <ul class="p-0 text-start">
              <li>
                <a href="#">요약</a>
              </li>
              <li>
                <a href="#">판매분석</a>
              </li>
              <li>
                <a href="#">근로자 현황</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- jobOn Modal -->
<div class="modal fade" id="jpbOnModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="jpbOnModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="jpbOnModalLabel">장애인 근로자 고용</h5>
      </div>
      <div class="modal-body py-4 text-center">
        장애인 인재 채용 플랫폼 <strong>『jobon』</strong>으로 연결합니다.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="togglePosition(false)">취소</button>
        <a href="http://jobon.kr/" type="button" class="btn btn-primary" target="_blank" rel="noopener noreferrer">확인</a>
      </div>
    </div>
  </div>
</div>

<script>
  const currentURI = window.location.href;
  const headingOne = document.querySelector('div[aria-labelledby="headingOne"]');
  const headingTwo = document.querySelector('div[aria-labelledby="headingTwo"]');
  const headingThree = document.querySelector('div[aria-labelledby="headingThree"]');
  const headingFour = document.querySelector('div[aria-labelledby="headingFour"]');
  const allCollapse = document.querySelectorAll('.accordion-collapse');
  const headingLinks = document.querySelectorAll('.accordion-body a');

  headingLinks.forEach((nav) => {
    if (nav.pathname === window.location.pathname) {
      nav.classList.add('on')
    } else {
      nav.classList.remove('on')
    }
    if(window.location.pathname == '/Seller/Item/ItemUpdate') {
      document.querySelector('a[href="/Seller/Item/ItemList"]').classList.add('on')
    }
  })

  switch (true) {
    case currentURI.includes('Seller/IMJOB'):
      panelShow(headingOne);
      break;
    case currentURI.includes('Seller/Item'):
      panelShow(headingTwo);
      break;
    case currentURI.includes('Seller/Contract'):
      panelShow(headingThree);
      break;
    default:
      break;
  }

  function panelShow (heading) {
    allCollapse.forEach(collapse => {
      collapse.classList.remove('show')
      heading.classList.add('show');
    })
  }

  const pageWrapper = document.querySelector('.page-wrapper');
  function togglePosition(bodyStatus) {
    bodyStatus ? pageWrapper.style.position = 'static' : pageWrapper.style.position = 'relative'
  }
</script>