<div class="flex-grow-1">
  <?php
  // Banner Secction
  // require(__DIR__.'/Section/Banner.html');
  require(__DIR__.'/Section/MainBanner.html');

  // Info Menu
  require(__DIR__.'/Section/InfoMenu.html');

  // 추천 상품 Section
  require(__DIR__.'/Section/RecommendItemsList.html');

  // 새로운 상품 Section
  require(__DIR__.'/Section/NewItemList.html');

  // 광고 배너 Section
  require(__DIR__.'/Section/AdBanner.html');

  // 광고 영상 Section
  require(__DIR__.'/Section/Advertisement.html');

  // 공지사항 Section
  require(__DIR__.'/Section/NoticeBanner.html');

  ?>
</div>
