<div id="modal_product_form" class="join-modal modal-product_form">
    <section>
        <article>
            <div  class="modal_product_form-box">
                <h2>1. 개인정보 위탁관리자</h2>
                <p>- 한국직업개발원(상생몰)</p>
                <h2>2. 개인정보 수집 이용 목적</h2>
                <p>- 고객 상담</p>
                <h2>3. 수집 이용 항목</h2>
                <p>- 기업명/담당부서, 담당자 연락처, 이메일</p>
                <h2>4. 보유 및 이용기간</h2>
                <p>- 입력일로부터 3년까지</p>
            </div>
            <h5>
                * 동의를 거부할 권리가 있으며, 동의 거부 시 서비스 이용에 제한을 받을 수 있습니다.
            </h5>
            <button onclick="info_agree_btn()">동의하기</button>
        </article>
    </section>
</div>