<section class="content-main">
	<div class="content-header">
    <h2 class="content-title"> <?=$page_name?> 상세보기</h2>
	</div>
<?php
$product_price = number_format($data["product_price"]);
 $delivery_cycle = "";
          if($data["delivery_cycle"] == 1){
          $delivery_cycle = "1번";
          }else if($data["delivery_cycle"] == 2){
          $delivery_cycle = "1주일에 한 번";
          }else if($data["delivery_cycle"] == 3){
          $delivery_cycle = "1달에 한 번";
          }else if($data["delivery_cycle"] ==4){
          $delivery_cycle = "2달에 한 번";
          }else if($data["delivery_cycle"] == 5){
          $delivery_cycle = "6달에 한 번";
          }
$product_surtax ="";
if($data['product_surtax'] == 1){
$product_surtax = "10%";
}else if($data['product_surtax'] == 2){
$product_surtax = "-";
}

$start_date = $data['product_start'];
$timestamp = strtotime($start_date);
$start_date = date("Y-m-d", $timestamp);

$end_date = $data['product_end'];
$timestamp = strtotime($end_date);
$end_date = date("Y-m-d", $timestamp);
?>

  <div class="card mb-4">
    <div class="card-body">
      <h5>상품 정보</h5>
      <div class="row">
        <div class="col-8">
          <table class="table table-hover border detail-table">
      <!-- {{{ -->
            <tbody>
              <tr>
                <td class="th">상품번호</td>
                <td colspan="3"><?=$data["product_no"]?></td>
              </tr>
              <tr>
                <td class="th">상태</td>
                <td>        <?php
                      switch($data["status"]){
                        case "0":
                        case "1": echo "심사중"; break;
                        case "5": echo "판매중"; break;
                        case "7": echo "반려"; break;
                      }
                      ?></td>

                <td colspan="2">comment: <?=$data["status_comment"]?></td>
              </tr>
              <tr>
                <td class="th">상품등록 회사</td>
                <td colspan="3"><?=$data["company_name"]?></td>
              </tr>
              <tr>
                <td class="th">카테고리(대분류)</td>
                <td colspan="3"><?=$data["product_category"]?></td>
              </tr>
              <tr>
                <td class="th">카테고리(중분류)</td>
                <td colspan="3"><?=$data["product_category2"]?></td>
              </tr>
              <tr>
                <td class="th">상품명</td>
                <td colspan="3"><?=$data["product_name"]?></td>
              </tr>
              <tr>
                <td class="th">판매기간</td>
                <td colspan="3"><?=$start_date?> ~ <?=$end_date?></td>
              </tr>
              <tr>
                <td class="th">부가세</td>
                <td colspan="3"><?=$product_surtax ?></td>
              </tr>
              <tr>
                <td class="th">판매수량</td>
                <td colspan="3"><?=$data["product_quantity"]?></td>
              </tr>
              <tr>
                <td class="th">판매가격</td>
                <td colspan="3"><?=$product_price?>원</td>
              </tr>
              <tr>
                <td class="th">배송주기</td>
                <td colspan="3"><?=$delivery_cycle?></td>
              </tr>
          <!--    <tr>
                <td class="th">상품이미지</td>
                <td>대표이미지 : </td>
                <td>추가이미지1</td>
                <td>추가이미지2</td>
              </tr>-->
              <tr>
                <td class="th">상품 상세정보</td>
                <td colspan="3"><?=$data["product_detail"]?></td>
              </tr>
              <tr>
                <td class="th">등록일</td>
                <td colspan="3"><?=$data["register_date"]?></td>
              </tr>
              <tr>
                <td class="th">수정일</td>
                <td colspan="3"><?=$data["update_date"]?></td>
              </tr>
            </tbody>
      <!-- }}} -->
          </table>
        </div>

        <div class="col-4">
          <div class="row mb-3">
            <div class="col-6">
              <p class="mb-1 fw-bold">대표 이미지</p>
              <p class="mb-1">기존파일 : <?=$data['representative_image_ori']?></p>
              <button class="btn btn-outline-secondary btn-sm me-3 fw-normal" type="button"  onclick="downloadFileNew('<?=$data["representative_image"]?>','<?=$data["representative_image_ori"]?>');">기존파일
              다운로드
              </button>
            </div>
            <div class="col-6">
              <?php
              if($data['representative_image'] != ""){
              ?>
              <img class="border" style="width: 200px; height: 200px;"src="/uploads/<?=$data["representative_image"]?>" alt="">
              <?php
              }
              ?>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <p class="mb-1 fw-bold">추가 이미지 01 (선택사항)</p>
              <p class="mb-1">기존파일 : <?=$data['product_image1_ori']?></p>
              <button class="btn btn-outline-secondary btn-sm me-3 fw-normal" type="button"  onclick="downloadFileNew('<?=$data["product_image1"]?>','<?=$data["product_image1_ori"]?>');">기존파일
                다운로드
              </button>
            </div>
            <div class="col-6">
              <?php
              if($data['product_image1'] != ""){
              ?>
              <img class="border" style="width: 200px; height: 200px;"  alt=""src="/uploads/<?=$data["product_image1"]?>">
              <?php
              }
              ?>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <p class="mb-1 fw-bold">추가 이미지 02 (선택사항)</p>
              <p class="mb-1">기존파일 : <?=$data['product_image2_ori']?></p>
              <button class="btn btn-outline-secondary btn-sm me-3 fw-normal" type="button"  onclick="downloadFileNew('<?=$data["product_image2_ori"]?>','<?=$data["product_image2_ori"]?>');">기존파일
                다운로드
              </button>
            </div>
            <div class="col-6">
              <?php
              if($data['product_image2'] != ""){
              ?>
              <img class="border" style="width: 200px; height: 200px;" alt="" src="/uploads/<?=$data["product_image2"]?>">
              <?php
              }
              ?>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <p class="mb-1 fw-bold">상품상세 이미지 (선택사항)</p>
              <p class="mb-1">기존파일 : <?=$data['detail_img_ori']?></p>
              <button class="btn btn-outline-secondary btn-sm me-3 fw-normal" type="button"  onclick="downloadFileNew('<?=$data["detail_img"]?>','<?=$data["detail_img_ori"]?>');">기존파일
                다운로드
              </button>
            </div>
            <div class="col-6">
              <?php
              if($data['detail_img'] != ""){
              ?>
              <img class="border" style="width: 200px; height: 200px;" alt="" src="/uploads/<?=$data["detail_img"]?>">
              <?php
              }
              ?>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <button class="btn btn-success"><a class="text-white" href="/<?=_CONTROLLER?>/Update/<?=$data['idx']?>">수정하기</a></button>
    <button class="btn btn-dark" onclick="window.close();">닫기</button>
  </div>

</section>
<script>

function downloadFileNew(fileName,fileNameOri){
if(fileName == ""){
alert("등록된 파일이 없습니다");
}else {
location.href = "/<?=_CONTROLLER?>/downloadFileNew?fileName=" + fileName + "&fileNameOri=" + fileNameOri;
}
};
</script>