<section class="content-main">
	<div class="content-header">
    <h2 class="content-title"> <?=$page_name?> </h2>
	</div>

  <div class="card mb-4">
    <div class="card-header">
      <form name="form-searchbar">

      <div class="row gx-3">
        <div class="col-2">
          <label>상품번호 검색</label>
          <input type="text" class="form-control form-control-sm search" id="search-product_no" placeholder="">
        </div>
        <div class="col-2">
          <label>회사 검색</label>
          <input type="text" class="form-control form-control-sm search" id="search-company_name" placeholder="">
        </div>
        <div class="col-2">
          <label>상태</label>
          <select class="form-control form-control-sm filter" id="search-status">
            <option value="" selected>전체</option>
            <option value="1">승인대기</option>
            <option value="5">승인</option>
            <option value="7">반려</option>
            <option value="9">탈퇴</option>
          </select>
        </div>
        <div class="col-2">
          <label>카테고리</label>
          <select class="form-control form-control-sm filter" id="search-product_category">
            <option value="">전체</option>
            <option value="1">사무용품</option>
            <option value="2">생활용품</option>
            <option value="3">전산용품</option>
            <option value="4">식음료</option>
            <option value="5">청소용품</option>
          </select>
        </div>
      </div>

      </form>
    </div>


    <div class="card-body">

      <div class="">
        <table class="table table-hover small" id="datatables">
        </table>
      </div>
    </div>

  </div>

</section>

