<style>
  .preview-bg-img {width: 200px; height: 200px; background-size: contain; background-repeat: no-repeat; background-position: center;}
</style>
<section class="content-main" xmlns="">
  <div class="content-header">
    <h2 class="content-title"> <?=$page_name?> 상세보기</h2>
  </div>
<?php
$product_price = number_format($data["product_price"]);
$start_date = $data['product_start'];
$timestamp = strtotime($start_date);
$start_date = date("Y-m-d", $timestamp);

$end_date = $data['product_end'];
$timestamp = strtotime($end_date);
$end_date = date("Y-m-d", $timestamp);
?>


  <form name="form-update" method="POST" enctype="multipart/form-data" action="/<?=_CONTROLLER?>/UpdateSubmit">
    <input type="hidden" name="idx" value="<?=$data['idx']?>">

  <div class="card mb-4">
    <div class="card-body">
      <h5>상품 정보</h5>
      <div class="row">
        <div class="col-8">
          <table class="table table-hover border detail-table">
        <!-- {{{ -->
        <tbody>
        <tr>
          <td class="th">상품번호</td>
          <td colspan="3"><?=$data["product_no"]?></td>
        </tr>
      <!--  <tr>
          <td class="th">추천순위</td>
          <td colspan="3">
            <select class='form-select' name='product_ranking'>
              <option value='9999'  <?php if($data['product_ranking']==9999){echo "selected";}?>>선택안함</option>
              <option value='1' <?php if($data['product_ranking']==1){echo "selected";}?>>1</option>
              <option value='2'  <?php if($data['product_ranking']==2){echo "selected";}?>>2</option>
              <option value='3'  <?php if($data['product_ranking']==3){echo "selected";}?>>3</option>
              <option value='4'  <?php if($data['product_ranking']==4){echo "selected";}?>>4</option>
              <option value='5'  <?php if($data['product_ranking']==5){echo "selected";}?>>5</option>
              <option value='6'  <?php if($data['product_ranking']==5){echo "selected";}?>>6</option>
              <option value='7'  <?php if($data['product_ranking']==7){echo "selected";}?>>7</option>
              <option value='8'  <?php if($data['product_ranking']==8){echo "selected";}?>>8</option>
              <option value='9'  <?php if($data['product_ranking']==9){echo "selected";}?>>9</option>
              <option value='10'  <?php if($data['product_ranking']==10){echo "selected";}?>>10</option>
            </select>
          </td>
        </tr>-->
        <tr>
          <td class="th">상품등록 회사</td>
          <td colspan="1"><?=$data["company_name"]?></td>
        </tr>
        <tr>
          <td class="th">카테고리(대분류)</td>
          <td colspan="3">
            <select name="product_category" class="form-select" id="product_category"  onchange="category_type();">
              <?php
                  foreach($category_type1 as $item){
                  ?>
              <option value="<?=$item['category_type1']?>" <?php if($data['product_category']== $item['category_type1']){echo "selected";}?>><?=$item['category_type1']?></option>
              <?php
                  }
                  ?>
            </select>
          </td>
        </tr>
        <tr>
          <td class="th">카테고리(중분류)</td>
          <td colspan="3">
            <select name="product_category2" class="form-select" id="product_category2"">
              <?php
                  foreach($category_type2 as $item){
                  ?>
              <option value="<?=$item['category_type2']?>" <?php if($data['product_category2']== $item['category_type2']){echo "selected";}?>><?=$item['category_type2']?></option>
              <?php
                  }
                  ?>
            </select>
          </td>
        </tr>
        <tr>
          <td class="th">상품명</td>
          <td colspan="3">
            <input type="text" class="form-control" name="product_name" value="<?=$data['product_name']?>" required>
          </td>
        </tr>
        <tr>
          <td class="th">판매기간</td>
          <td colspan="3">
            <div class="d-flex align-items-center">
              <label class="visually-hidden" for="productSaleStart">판매시작일</label>
              <input type="date" value="<?=$start_date?>" name="product_start" id="productSaleStart" class="form-control" required/>
              <span class="px-2">-</span>
              <label class="visually-hidden" for="productSaleEnd">판매종료일</label>
              <input type="date" value="<?=$end_date?>" name="product_end" id="productSaleEnd" class="form-control" required/>
            </div>
          </td>
        </tr>
        <tr>
          <td class="th">부가세</td>
          <td colspan="3">
            <div class="d-flex">
              <div class="selector-item me-3">
                <input type="radio" id="taxation" name="product_surtax" value="1" class="selector-item-radio"
                <?php if($data['product_surtax']==1){echo "checked";}?>/>
                <label for="taxation" class="selector-item-label">과세상품 <span class="tax10">(부가세 10%)</span></label>
              </div>
              <div class="selector-item">
                <input type="radio" id="taxFree" name="product_surtax"  <?php if($data['product_surtax']==2){echo "checked";}?> value="2" class="selector-item-radio"/>
                <label for="taxFree" class="selector-item-label">면세상품</label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="th">판매수량</td>
          <td colspan="3">
            <input type="text" name="product_quantity" class="form-control" value="<?=$data['product_quantity']?>">
          </td>
        </tr>
        <tr>
          <td class="th">판매가격</td>
          <td colspan="3">
            <input type="text" name="product_price" class="form-control" value="<?=$data['product_price']?>"  oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')">
          </td>
        </tr>
        <tr>
          <td class="th">배송주기</td>
          <td colspan="3">
            <div class="d-flex">
              <div class="selector-item me-3">
                <input type="radio" id="deliverOnce" name="delivery_cycle" value="1" class="selector-item-radio"
                <?php if($data['delivery_cycle']==1){echo "checked";}?>/>
                <label for="deliverOnce" class="selector-item-label">1번</label>
              </div>
              <div class="selector-item me-3">
                <input type="radio" id="deliverAWeek" name="delivery_cycle" value="2" class="selector-item-radio"
                <?php if($data['delivery_cycle']==2){echo "checked";}?>/>
                <label for="deliverAWeek" class="selector-item-label">1주일에 한 번</label>
              </div>
              <div class="selector-item me-3">
                <input type="radio" id="deliver1Month" name="delivery_cycle" value="3" class="selector-item-radio"
                <?php if($data['delivery_cycle']==3){echo "checked";}?>/>
                <label for="deliver1Month" class="selector-item-label">1달에 한 번</label>
              </div>
              <div class="selector-item me-3">
                <input type="radio" id="deliver2Months" name="delivery_cycle" value="4" class="selector-item-radio"
                <?php if($data['delivery_cycle']==4){echo "checked";}?>/>
                <label for="deliver2Months" class="selector-item-label">2달에 한 번</label>
              </div>
              <div class="selector-item me-3">
                <input type="radio" id="deliver6Months" name="delivery_cycle" value="5" class="selector-item-radio"
                <?php if($data['delivery_cycle']==5){echo "checked";}?>/>
                <label for="deliver6Months" class="selector-item-label">6달에 한 번</label>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="th">상품 상세정보</td>
          <td colspan="3">
            <textarea name="product_detail" class="form-control" placeholder="상품 상세정보를 입력해주세요."><?=$data['product_detail']?></textarea>
          </td>
        </tr>
        <tr>
          <td class="th">등록일</td>
          <td colspan="3"><?=$data["register_date"]?></td>
        </tr>
        <tr>
          <td class="th">수정일</td>
          <td colspan="3"><?=$data["update_date"]?></td>
        </tr>
        </tbody>
        <!-- }}} -->
      </table>
        </div>

        <div class="col-4">
          <div class="row mb-4">
            <div class="col-6">
              <label for="representative-img" class="form-label">대표 이미지</label>
              <input id="representative-img" name="representative_image" class="form-control product-img-input mb-2"
                     value ="" type="file" accept="image/*" />기존파일 : <?=$data['representative_image_ori']?>
              <br/>
              <button class="btn btn-outline-secondary btn-sm me-3 fw-normal" type="button"  onclick="downloadFileNew('<?=$data["representative_image"]?>','<?=$data["representative_image_ori"]?>');">기존파일
              다운로드
              </button>
              <input type="hidden" name="representative_image" value='<?=$data["representative_image"]?>'>
              <input type="hidden" name="representative_image_ori" value='<?=$data["representative_image_ori"]?>'>
            </div>
            <div class="col-6">
              <div class="preview-bg-img bg-light border rounded" style="background-image: url('/uploads/<?=$data['representative_image']?>')"></div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-6">
              <label for="product-img1" class="form-label text-secondary">추가 이미지 01<span class="fw-normal" style="font-size: 0.8rem;">(선택사항)</span></label>
              <input id="product-img1" value ="" name="product_image1" class="form-control product-img-input mb-2" type="file"
                     accept="image/*"/>기존파일 : <?=$data['product_image1_ori']?>
              <br/>
              <button class="btn btn-outline-secondary btn-sm me-3 fw-normal" type="button"  onclick="downloadFileNew('<?=$data["product_image1"]?>','<?=$data["product_image1_ori"]?>');">기존파일
              다운로드
              </button>
              <input type="hidden" name="product_image1" value='<?=$data["product_image1"]?>'>
              <input type="hidden" name="product_image1_ori" value='<?=$data["product_image1_ori"]?>'>
            </div>
            <div class="col-6">
              <div class="preview-bg-img border bg-light border rounded" style="background-image: url('/uploads/<?=$data['product_image1']?>')"></div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-6">
              <label for="product-img2" class="form-label text-secondary">추가 이미지 02<span class="fw-normal" style="font-size: 0.8rem;">(선택사항)</span></label>
              <input id="product-img2" name="product_image2" value ="" class="form-control product-img-input mb-2" type="file"
                     accept="image/*"/>기존파일 : <?=$data['product_image2_ori']?>
              <br/>
              <button class="btn btn-outline-secondary btn-sm me-3 fw-normal" type="button"  onclick="downloadFileNew('<?=$data["product_image_ori"]?>','<?=$data["product_image2_ori"]?>');">기존파일
              다운로드
              </button>
              <input type="hidden" name="product_image2" value='<?=$data["product_image2"]?>'>
              <input type="hidden" name="product_image2_ori" value='<?=$data["product_image2_ori"]?>'>
            </div>
            <div class="col-6">
              <div class="preview-bg-img border bg-light border rounded" style="background-image: url('/uploads/<?=$data['product_image2']?>')"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="detail-img" class="form-label text-secondary">상품상세 이미지<span class="fw-normal" style="font-size: 0.8rem;">(선택사항)</span></label>
              <input id="detail-img" name="detail_img" class="form-control product-img-input mb-2" type="file"
                     accept="image/*"/>기존파일 : <?=$data['detail_img_ori']?>
              <br/>
              <button class="btn btn-outline-secondary btn-sm me-3 fw-normal" type="button"  onclick="downloadFileNew('<?=$data["detail_img"]?>','<?=$data["detail_img_ori"]?>');">기존파일
              다운로드
              </button>
              <input type="hidden" name="detail_img" value='<?=$data["detail_img"]?>'>
              <input type="hidden" name="detail_img_ori" value='<?=$data["detail_img_ori"]?>'>
            </div>
            <div class="col-6">
              <div class="preview-bg-img border bg-light border rounded" style="background-image: url('/uploads/<?=$data['detail_img']?>')"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <div>
      <button  class="btn btn-danger">삭제하기</button>
    </div>
    <div>
      <button type ="submit" class="btn btn-success">저장하기</button>
      <button class="btn btn-dark" onclick="window.close();">닫기</button>
    </div>
  </div>
  </form>
</section>

<script>
	/* 이미지 파일 타입 체크 & 미리보기 시작 */
	document.querySelectorAll('input[accept="image/*"]').forEach(item => {

		item.addEventListener("change", function () {
			const filePath = item.value;
			const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
			const image_preview = item.parentElement.nextElementSibling.firstElementChild;
			const reader = new FileReader();
			let uploaded_image = "";
			console.log(image_preview)
			if (!allowedExtensions.exec(filePath)) {
				alert('jpg, jpeg, png, gif 파일만 업로드 가능합니다.');
				item.value = '';
				return false;
			} else if (item.files && item.files[0]) {
				reader.addEventListener("load", () => {
					uploaded_image = reader.result;
					image_preview.style.backgroundSize = `contain`;
					image_preview.style.backgroundImage = `url(${uploaded_image})`;
				});
				reader.readAsDataURL(this.files[0]);
			}
		})
	})

    function downloadFileNew(fileName,fileNameOri){
      if(fileName == ""){
        alert("등록된 파일이 없습니다");
      }else {
        location.href = "/<?=_CONTROLLER?>/downloadFileNew?fileName=" + fileName + "&fileNameOri=" + fileNameOri;
      }
    };
    function category_type(){
      if($("#product_category").val() != ""){
        var category_type1 = $("#product_category").val();
        $.ajax({
          type: 'post',
          url: "/"+_CONTROLLER+"/CategorySearch",
          data: {
            "category_type1": category_type1
          },
          success: function (result){
            var result = JSON.parse(result);
            $("#product_category2").empty();
            for(var i = 0; i<result['data'].length; i++){
              var data = "<option value='"+result['data'][i]['category_type2']+"'>"+result['data'][i]['category_type2']+"</option>";
              $("#product_category2").append(data);
            }
          }
        });
      }
    }
</script>