<section class="content-main">
	<div class="content-header">
    <h2 class="content-title"> <?=$page_name?> </h2>
	</div>

  <div class="card mb-4">
    <div class="card-header">
      <form name="form-searchbar">

      <div class="row gx-3">
        <div class="col-lg-2">
          <label>이름 검색</label> 
          <input type="text" class="form-control form-control-sm search" id="search-name" placeholder="">
        </div>
        <div class="col-lg-2">
          <label>이메일 검색</label> 
          <input type="text" class="form-control form-control-sm search" id="search-email" placeholder="">
        </div>
        <div class="col-lg-2">
          <label>가입기간 검색</label> 
          <input type="text" class="form-control form-control-sm filter daterange" id="search-daterange" placeholder="기간 검색">
        </div>
      </div>

      </form>
    </div>


    <div class="card-body">

      <div class="">
        <table class="table table-hover small" id="datatables">
        </table>
      </div>
    </div>

  </div>

</section>

