<section class="content-main">
	<div class="content-header">
    <h2 class="content-title"> <?=$page_name?> 수정하기</h2>
	</div>

  <form name="form-update" method="POST" enctype="multipart/form-data" action="/<?=_CONTROLLER?>/UpdateSubmit">
  <input type="hidden" name="uuid" value="<?=$data["uuid"]?>">

  <div class="card mb-4">
    <div class="card-body">
      <h5>기본 정보</h5>
      <div class="row">
        <div class="col-8">
          <table class="table table-hover border detail-table">
          <!-- {{{ -->
          <tbody>
            <tr>
              <td class="th">인재명</td>
              <td><input type="text" class="form-control form-control-sm" name="name" value="<?=$data["name"]?>" required></td>
            </tr>
            <tr>
              <td class="th">이메일</td>
              <td><input type="email" class="form-control form-control-sm" name="email" value="<?=$data["email"]?>" required></td>
            </tr>
            <tr>
              <td class="th">비밀번호 초기화</td>
              <td>---</td>
            </tr>
            <tr>
              <td class="th">휴대폰번호</td>
              <td><input type="text" class="form-control form-control-sm mask-phone" name="phone" value="<?=$data["phone"]?>" required></td>
            </tr>
            <tr>
              <td class="th">전화번호</td>
              <td><input type="text" class="form-control form-control-sm mask-phone" name="tel" value="<?=$data["tel"]?>" required></td>
            </tr>
            <tr>
              <td class="th">팩스번호</td>
              <td><input type="text" class="form-control form-control-sm mask-phone" name="fax" value="<?=$data["fax"]?>" required></td>
            </tr>
            <tr>
              <td class="th">주소</td>
              <td>
                <div class="row">
                  <div class="col-8 col-lg-4 pe-0">
                    <div class="form-group mb-0">
                      <input type="text" class="modal-search-post form-control form-control-sm" id="post_code" name="post_code" placeholder="우편번호" value="<?=$data["post_code"]?>" readonly>
                    </div>
                  </div>
                  <div class="col-4">
                    <button type="button" class="btn btn-sm btn-primary modal-search-post">우편번호 검색</button>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" id="address_road" name="address" class="form-control form-control-sm my-2" placeholder="주소" value="<?=$data["address"]?>" readonly>
                  <input type="text" id="address_detail" name="address_detail" class="form-control form-control-sm my-2" placeholder="상세주소" value="<?=$data["address_detail"]?>">
                  <input type="hidden" name="coordinate_x" id="coordinate_x" value="<?=$data["latitude"]?>">
                  <input type="hidden" name="coordinate_y" id="coordinate_y" value="<?=$data["logitude"]?>">
                </div>
              </td>
            </tr>
            <tr>
              <td class="th">가입일</td>
              <td><?=$data["register_date"]?></td>
            </tr>
          </tbody>
          <!-- }}} -->
          </table>
        </div>
        <div class="col-2">
          <div class="border">
            <img class="img-fluid" src="<?=@$profile_img_url?>" alt="">
            <div class="mt-4 p-2">
              <label>프로필 사진 교체</label>
              <input class="form-control" type="file" name="profile_img" accept="image/*" id="upload" multiple="">
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="border">
            <img class="img-fluid" src="/Image/<?=@$data["welfare_card_uuid"]?>">
            <div class="mt-4 p-2">
              <label>복지카드 교체</label>
              <input class="form-control" type="file" name="welfare_img">
            </div>
          </div>
        </div>
      </div>

      <h5 class="mt-4">장애 정보</h5>
      <table class="table table-hover border detail-table">
      <!-- {{{ -->
      <tbody>
        <tr>
          <td class="th">주장애</td>
          <td>
            <select class="form-control form-control-sm filter w-25" id="search-impairment-type0" name="impairment[type][main]" data-this-level=0 title="주 장애 선택" required>
              <option value="" disabled selected>주 장애 선택</option>
            <?php
            if(@$impairments["Type"]["level0"] && @count($impairments["Type"]["level0"])){
              foreach($impairments["Type"]["level0"] as $val){
                $selected = ($val["idx"] == $impairment_data["type"]["main"])?"selected":"";
                echo "<option value='".$val["idx"]."' data-level='".$val["this_level"]."' ".$selected.">".$val["title"]."</option>";
              }

            }
            ?>
            </select>
          </td>
        </tr>
        <tr>
          <td class="th">부장애</td>
          <td>
            <select class="form-control form-control-sm filter w-25" id="search-impairment-type1" name="impairment[type][sub]" data-this-level=1 title="주 장애 선택 후 부 장애 선택" required>
              <option value="" disabled selected>주 장애 선택 후 장애부위 선택</option>
            <?php
            if(@$impairments["Type"]["level1"] && @count($impairments["Type"]["level1"])){
              foreach($impairments["Type"]["level1"] as $val){
                $selected = ($val["idx"] == $impairment_data["type"]["sub"])?"selected":"";
                $display = ($val["level0_idx"] == $impairment_data["type"]["main"])?"":"none";
                echo "<option value='".$val["idx"]."' data-level='".$val["this_level"]."' data-level0_idx='".$val["level0_idx"]."' style='display:".$display."' ".$selected.">".$val["title"]."</option>";
              }

            }
            ?>
            </select>
          </td>
        </tr>
        <tr>
          <td class="th">장애 인증 날짜</td>
          <td>
            <input type="date" class="form-control form-control-sm w-25" name="impairment[date]" value="<?=$impairment_data["date"]?>">
          </td>
        </tr>
        <tr>
          <td class="th">구체적 장애내용</td>
          <td>
            <input type="text" class="form-control form-control-sm" name="impairment[detail]" value="<?=$impairment_data["detail"]?>">
          </td>
        </tr>
        <tr>
          <td class="th">장애 정도</td>
          <td>
            <table class="table table-bordered my-0">
            <?php
            foreach($impairments["Degree"] as $code => $items){
            ?>
              <tr>
                <td width=15% class="bg-white"><?=$items[0]["title"]?></td>
                <td class="px-3">
                  <?php
                  foreach($items as $key => $val){
                    $checked = ($val["score"] == $impairment_data["degree"][$code])?"checked":"";
                  ?>
                  <div class="input-group">
                    <input type="radio" name="impairment[degree][<?=$code?>]" value="<?=$val["score"]?>" id="impairment_degree_<?=$code."_".$key?>" <?=$checked?> required>
                    <label class="ms-2" for="impairment_degree_<?=$code."_".$key?>"><?=$val["item"]?></label>
                  </div>
                  <?php
                  }
                  ?>
                </td>
              </tr>
            <?php
            }
            ?>
            </table>
          </td>
        </tr>
        <tr>
          <td class="th">보장구</td>
          <td>
            <table class="table table-bordered my-0">
            <?php
            foreach($impairments["AssistiveDevice"] as $code => $items){
            ?>
              <tr>
                <td width=15% class="bg-white"><?=$items[0]["title"]?></td>
                <td class="px-3">
                  <?php
                  foreach($items as $key => $val){
                    $checked = ($val["score"] == $impairment_data["assistive_device"][$code])?"checked":"";
                  ?>
                  <div class="input-group mb-2">
                    <input type="radio" name="impairment[assistive_device][<?=$code?>]" value="<?=$val["score"]?>" id="impairment_assistive_device_<?=$code."_".$key?>" <?=$checked?> required>
                    <label class="ms-2" for="impairment_assistive_device_<?=$code."_".$key?>"><?=$val["item"]?></label>
                  </div>
                  <?php
                  }
                  ?>
                </td>
              </tr>
            <?php
            }
            ?>
            </table>
          </td>
        </tr>
        <tr>
          <td class="th">운동능력</td>
          <td>
            <table class="table table-bordered my-0">
            <?php
            foreach($impairments["PhysicalAbility"] as $code => $items){
            ?>
              <tr>
                <td width=15% class="bg-white"><?=$items[0]["title"]?></td>
                <td class="px-3">
                  <?php
                  foreach($items as $key => $val){
                    $checked = ($val["score"] == $impairment_data["physical_ability"][$code])?"checked":"";
                  ?>
                  <div class="input-group mb-2">
                    <input type="radio" name="impairment[physical_ability][<?=$code?>]" value="<?=$val["score"]?>" id="impairment_physical_ability_<?=$code."_".$key?>" <?=$checked?> required>
                    <label class="ms-2" for="impairment_physical_ability_<?=$code."_".$key?>"><?=$val["item"]?></label>
                  </div>
                  <?php
                  }
                  ?>
                </td>
              </tr>
            <?php
            }
            ?>
            </table>
          </td>
        </tr>
        <tr>
          <td class="th">특이사항</td>
          <td>
            <textarea class="form-control border" name="impairment[remark]" rows=7 placeholder="특이사항 입력"><?=$impairment_data["remark"]?></textarea>
          </td>
      </tbody>
      <!-- }}} -->
      </table>

      <h5 class="mt-4">SNS 정보</h5>
      <table class="table table-hover border detail-table">
      <!-- {{{ -->
      <tbody>
        <tr>
          <td class="th">홈페이지</td>
          <td>
            <input type="url" class="form-control form-control-sm" name="sns_homepage" value="<?=$data["sns_homepage"]?>">
          </td>
        </tr>
        <tr>
          <td class="th">블로그</td>
          <td>
            <input type="url" class="form-control form-control-sm" name="sns_blog" value="<?=$data["sns_blog"]?>">
          </td>
        </tr>
        <tr>
          <td class="th">페이스북</td>
          <td>
            <input type="url" class="form-control form-control-sm" name="sns_facebook" value="<?=$data["sns_facebook"]?>">
          </td>
        </tr>
        <tr>
          <td class="th">트위터</td>
          <td>
            <input type="url" class="form-control form-control-sm" name="sns_twitter" value="<?=$data["sns_twitter"]?>">
          </td>
        </tr>
        <tr>
          <td class="th">링크드인</td>
          <td>
            <input type="url" class="form-control form-control-sm" name="sns_linkedin" value="<?=$data["sns_linkedin"]?>">
          </td>
        </tr>
        <tr>
          <td class="th">유튜브</td>
          <td>
            <input type="url" class="form-control form-control-sm" name="sns_youtube" value="<?=$data["sns_youtube"]?>">
          </td>
        </tr>
      </tbody>
      <!-- }}} -->
      </table>
    </div>
  </div>

  <div>
    <button class="btn btn-dark float-end" onclick="window.close();">닫기</button>
    <button type="submit" class="btn btn-success">수정하기</button>
  </div>

  </form>

</section>

