<div class="flex-grow-1" xmlns="http://www.w3.org/1999/html">
  <section class="reduction-help">
    <div class="auto-container py-5">
      <h2 class="mb-5 h4 fw-bold text-center">감면신청 도우미</h2>
      <div class="reduction-help mb-5">
        <section>

          <select class="form-select w-25" name="seller_uuid" id="contract_select">
            <option value="" >계약서 선택</option>
            <?php if(is_array($data) && count($data) > 0){
            foreach($data as $item){
            ?>
            <option value="<?=$item['contract_no']?>" <?php if($item['contract_no']==$_GET["cn"]){echo "selected";}?>><?=$item['product_name']?> / <?=number_format($item['product_price'])?>원 / <?=substr($item['register_date'],0,10)?></option>
            <?php
              }
            }
            ?>
          </select>

          <table class="table mt-4">
            <thead class="bg-light">
            <tr>
              <th class="text-center py-3">문서유형</th>
              <th class="text-center py-3">파일명</th>
              <th class="text-center py-3">문서 다운로드</th>
              <th class="text-center py-3">최종 수정일</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <p class="fw-bold">연계고용도급계약서</p>
              </td>
              <td>
                <p class="mb-1">(<?=$_GET['cn']?>)<?=$seller_info['company_name'].'와 '. $buyer_info['company_name'].'의 계약'?></p>
                <p class="text-small">※ 물품구매에 따른 계약서 내용 자동 추가</p>
              </td>
              <td>
                <?php
                 $workflow_id = "";
                 if($_GET["cn"] != ""){
                $workflow_id = $workflow['workflow_id'];
                 }
                  ?>
                <button class="btn btn-outline-secondary btn-sm" onclick="Contract_Detail(<?=$workflow_id?>);">다운로드 링크</button>
              </td>

              <td>
                <p>2022.08.30</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="fw-bold mb-2">지급증빙서류</p>
                <form method="post" id ="fileForm"  action ="/Reduction/Help/ProvisionUpload"  enctype="multipart/form-data">
                  <input type="hidden" name ="cn" id ="cn" value="<?=$_GET['cn']?>">
                  <?php
                  if($_GET['cn'] != ""){
                  ?>
                  <label for="provision_file" class="btn btn-outline-success btn-sm fw-normal">파일 선택</label>
                  <input type="file" id="provision_file" name="provision_file" class="d-none">
                  <button type="button" onclick="file_check();" class="btn btn-success btn-sm fw-normal">등록</button>
                  <p class="upload-text mt-1">: <span class="upload-name">선택된 파일이 없습니다.</span></p>
                  <input type="hidden" name ="contract_no" value="<?=$workflow['contract_no']?>">
                  <?php
                  }
                  ?>
                </form>
              </td>
              <td>
                <p class="mb-1">(<?=$buyer_info['company_name']?>)<br>파일명 : <?=$workflow["provision_file_ori"]?></p>
                <p class="text-small">※ 연계고용 도급계약에 따른 보수지급 영수증</p>
              </td>
              <td>
                <button class="btn btn-outline-secondary btn-sm" onclick="uploadCheck('<?=$workflow["provision_file"]?>','<?=$workflow["provision_file_ori"]?>');" >다운로드</button>
              </td>
              <td>
                <p>2022.08.30</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="fw-bold">매출증빙서류</p>
              </td>
              <td>
                <p class="mb-1">(<?=$seller_info['company_name']?>)<br>파일명 : <?=$seller_info['sales_file_ori']?></p>
                <p class="text-small">※ 판매기업의 매출액 증빙자료(결산서, 손익계산서, 부가가치세 과세표준증명, 매출처별세금 계산서 합계표 등) 업로드 내용 표시</p>
              </td>
              <td>
                <button class="btn btn-outline-secondary btn-sm" onclick="downloadFileNew('<?=$seller_info["sales_file"]?>','<?=$seller_info["sales_file_ori"]?>');" >다운로드</button>
                <input type="hidden" name="sales_file" value='<?=$data["sales_file"]?>'>
                <input type="hidden" name="sales_file_ori" value='<?=$data["sales_file_ori"]?>'>
              </td>
              <td>
                <p>2022.08.30</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="fw-bold">장애인근로자증빙</p>
              </td>
              <td>
                <p class="mb-1">(<?=$seller_info['company_name']?>)<br>파일명 : <?=$seller_info['workers_file_ori']?></p>
                <p class="text-small">※ 판매기업의 장애인 현황 증빙자료(월별 임금대장, 장애인등록증 등) 업로드 내용 표시</p>
              </td>
              <td>
                <button class="btn btn-outline-secondary btn-sm"onclick="downloadFileNew('<?=$seller_info["workers_file"]?>','<?=$seller_info["workers_file_ori"]?>');" >다운로드</button>
                <input type="hidden" name="workers_file" value='<?=$data["workers_file"]?>'>
                <input type="hidden" name="workers_file_ori" value='<?=$data["workers_file_ori"]?>'>
              </td>
              <td>
                <p>2022.08.30</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="fw-bold">사업자등록증</p>
              </td>
              <td>
                <p class="mb-1">(<?=$buyer_info['company_name']?>)<br>파일명 : <?=$buyer_info['buyer_documents_ori']?></p>
                <br>
                <p class="mb-1">(<?=$seller_info['company_name']?>)<br>파일명 :<?=$seller_info['seller_business_license_ori']?></p>
                <p class="text-small">※ 구매기업과 판매기업의 사용자등록증 자동 추가</p>
              </td>
              <td>
                <button class="btn btn-outline-secondary btn-sm"onclick="downloadFileNew('<?=$seller_info["seller_business_license"]?>','<?=$seller_info["seller_business_license_ori"]?>');" >다운로드</button>
                <input type="hidden" name="seller_business_license" value='<?=$data["seller_business_license"]?>'>
                <input type="hidden" name="seller_business_license_ori" value='<?=$data["seller_business_license_ori"]?>'>
                <br><br><br>
                <button class="btn btn-outline-secondary btn-sm"onclick="downloadFileNew('<?=$buyer_info["buyer_documents"]?>','<?=$buyer_info["buyer_documents_ori"]?>');" >다운로드</button>
                <input type="hidden" name="buyer_documents" value='<?=$data["buyer_documents"]?>'>
                <input type="hidden" name="buyer_documents_ori" value='<?=$data["buyer_documents_ori"]?>'>
              </td>
              <td>
                <p>2022.08.30</p>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center mt-5">
            <a href="/assets/download/부담금감면신청서.hwp" download class="btn btn-dark me-3">부담금 감면 신청서 양식 다운로드</a>
<!--
            <a class="btn btn-dark" onclick="zip('<?=$seller_info["sales_file"]?>','<?=$seller_info["workers_file"]?>','<?=$seller_info["seller_business_license"]?>');">제출문서 일괄 다운로드</a>
-->
          </div>
        </section>
      </div>
    </div>
  </section>
</div>

<script>

 $(document).ready(function(){
	 $("#provision_file").on('change',function(e){
		 const files = e.target.files;
		 for (const file of files) {
			 $(".upload-name").text(file.name)
		 }
	 });

   $('#contract_select').on('change',function(){
     var contract_no = $("#contract_select").val();
    // alert(seller_uuid);
     location.href = "/Reduction/Help/?cn=" + contract_no;
   })
 })

 function file_check(){
   if($("#provision_file").val() =="" ){
     alert("파일을 선택해주세요");
   }else{
     $("#fileForm").submit();
   }
 }

  function Contract_Detail(workflow_id){
   if($("#cn").val() == ""){
     alert("계약서를 먼저 선택해주세요");
   }else {
     const options = {
       method: 'GET',
       headers: {
         accept: 'application/json',
         Authorization: 'esignon jlxfF8HAeRw1/8iUN5OVSH+060OTnZ+j7vRJdTHLFVSMzuM3n4MCaavEg6S0rFMpVNTkFsgGBWJ2usJ1j9T8uni3QARD+1L1cLc7W+PJ/M9dMoyAruRZ1C3NQusJ88gQ0utugU+hNRE='
       }
     };
     fetch('https://docs.esignon.net/api/v3/workflows/' + workflow_id + '?offset=%2B09%3A00', options)
             .then(response => response.json())
             .then(response => /*console.log(response)*/ {
               if (response['download_url'] == "") {
                 window.open(response['playing_url']);
               } else {
                 window.open(response['download_url']);
               }
             })
             .catch(err => console.error(err));
   }
  }

  function downloadFileNew(fileName,fileNameOri){
    if($("#cn").val() == "") {
      alert("계약서를 먼저 선택해주세요");
    }else {
      if (fileName == "") {
        alert("등록된 파일이 없습니다");
      } else {
        location.href = "/Reduction/Help/downloadFileNew?fileName=" + fileName + "&fileNameOri=" + fileNameOri;
      }
    }
  };

 function uploadCheck(fileName,fileNameOri){
   if($("#cn").val() == "") {
     alert("계약서를 먼저 선택해주세요");
   }else {
     if (fileName != "") {
       location.href = "/Reduction/Help/downloadFileNew?fileName=" + fileName + "&fileNameOri=" + fileNameOri;
     } else if ($('#provision_file').val() == "") {
       alert("파일을 먼저 등록해주세요");
     } else {
       alert("등록된 파일이 없습니다.");
     }
   }
 }
</script>



