<section class="auth_signUpSeller auth_signUpUser">
<h2>기본정보를 입력해주세요.</h2>
    <div class="signup-progress-bar">
        <div class="signup-progress-current"></div>
    </div>
    <div>
        <form name="form-submit" id ="SellerValidation" method="post" action="/Auth/SignUpSellerSubmit" enctype="multipart/form-data">
            <input type="hidden" name="sbs" value="<?=$sbs?>">
            <input type="hidden" id="emailCheck" value="0">
            <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="label">이메일 주소 <span class="asterisk-mark">*</span> <button type="button" onclick ="sellerDoubleCheck()">이메일 중복체크</button></label>

                    <span class="alert-text" id = "email-text">이메일 중복체크를 해주세요.</span>
                </div>
                <input type="email" id="email" name="email" placeholder="아이디로 사용할 이메일 주소를 입력해주세요." tabindex=100 required>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="label">비밀번호 <span class="asterisk-mark">*</span></label>
                    <span class="alert-text" id ="pwd-text"></span>
                </div>
                <input type="password" name="password" id = "password" placeholder="영문+숫자+특수문자 조합 8자 이상 입력해주세요." pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,32}$" autoComplete="off" tabindex=100 required>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="label">비밀번호 확인 <span class="asterisk-mark">*</span></label>
                    <span class="alert-text" id = "pwd-check"></span>
                </div>
                <input type="password" name="confirm_password" id = "confirm_password" placeholder="영문+숫자+특수문자 조합 8자 이상 입력해주세요." pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,32}$" autoComplete="off" tabindex=100 required>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="label">담당자 이름 <span class="asterisk-mark">*</span></label>
                </div>
                <input type="text" name="seller_name" placeholder="담당자 이름을 입력해주세요" tabindex=100 required>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="label">휴대폰번호 <span class="asterisk-mark">*</span></label>
                    <span class="alert-text" id = "phone-text"></span>
                </div>
                <input type="text" class="mask-phone" id = "phone" name="phone" placeholder="휴대폰 번호를 입력해주세요." tabindex=100 required>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="label">사업체명 <span class="asterisk-mark">*</span></label>
                </div>
                <input type="text" name="company_name" placeholder="사업체명을 입력해주세요" tabindex=100 required>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="label">사업자등록번호 <span class="asterisk-mark">*</span></label>
                    <span class="alert-text" id = "companyCode-text"></span>
                </div>
                <input type="text" id ="company_code" name="company_code" class="mask-business-number" placeholder="사업자등록번호를 숫자만 입력해주세요." tabindex=100 required>
            </div>

            <div class="form-group">
                <p class="label">기업형태 <span class="asterisk-mark">*</span></p>
                <div class="d-flex justify-content-between align-items-center classification_radio">
                    <div>
                        <input type="radio" id="classification01" name="classification" value="1" tabindex=100 required>
                        <label class="me-2" for="classification01">장애인 표준사업자</label>
                    </div>
                    <div>
                        <input type="radio" id="classification02" name="classification" value="2" tabindex=100>
                        <label class="me-2" for="classification02">장애인 직업재활시설</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="label">팩스번호</label>
                </div>
                <input type="text" class="mask-phone" name="fax" placeholder="팩스번호를 숫자만 입력해주세요." tabindex=100>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="label">주소 <span class="asterisk-mark">*</span></label>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <input class="zipcode-input" type="text" placeholder="우편번호를 입력해주세요.">
                    <a class="zipcode-btn" href="#">우편번호</a>
                </div>
                <input type="text" name="address" style="margin-top: 20px;" placeholder="우편번호 선택 시 자동으로 입력됩니다." tabindex=100 required>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                    <label for="" class="label">상세주소</label>
                </div>
                <input type="text" placeholder="상세 주소를 입력해주세요.">
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                    <label class="label">올해 예상 매출액 <span class="asterisk-mark">*</span></label>
                </div>
                <input type="text" name="seller_sales" placeholder="올해 예상 매출액을 숫자만 입력해주세요." oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')" title="적용법인 세율 입력" tabindex=100 >
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="label">사업자등록증 첨부 <span class="asterisk-mark">*</span></p>
                </div>
                <div class="file-box d-flex justify-content-between align-items-center">
                    <input class="upload-name" id = "upload-name1" placeholder="첨부파일을 선택해주세요." readonly required>
                    <label for="seller_business_license">선택</label>
                    <input type="file" id="seller_business_license" name="seller_business_license" class="" placeholder="사업자등록증 첨부" title="사업자등록증 첨부" tabindex=100 required>
                </div>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="label">인증서류 <span class="asterisk-mark">*</span> (장애인표준사업장 등록증 or 장애인 직업재활시설 등록증)</p>
                </div>
                <div class="file-box d-flex justify-content-between align-items-center">
                    <input class="upload-name" id = "upload-name2" placeholder="첨부파일을 선택해주세요." readonly required>
                    <label for="seller_documents">선택</label>
                    <input type="file" id="seller_documents" name="seller_documents" class="" placeholder="인증서류 첨부" title="인증서류 첨부" tabindex=100 required>
                </div>
            </div>

            <div class="form-group mt-5">
                <button type="submit" class="" onclick="Seller_validation();return false" tabindex=100>다음</button>
            </div>
        </form>
    </div>
</section>
<script>
    $(function() {
        $('#classificationCheck').hide();
    });

    function Seller_validation(){
        $("#SellerValidation").submit();
    }
    const fileInput_license = document.querySelector('#seller_business_license');
    fileInput_license.addEventListener('change', function() {
        let fileName1 = fileInput_license.value.replace(/c:\\fakepath\\/i, '');
        document.querySelector('#upload-name1').value = fileName1;
    })
    const fileInput_doc = document.querySelector('#seller_documents');
    fileInput_doc.addEventListener('change', function() {
        let fileName2 = fileInput_doc.value.replace(/c:\\fakepath\\/i, '');
        document.querySelector('#upload-name2').value = fileName2;
    })
    function sellerDoubleCheck(){
        var email = $("#email").val();
        var reg_email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
        $("#emailCheck").val(1);

        if(reg_email.test(email)){
            $.ajax({
                url:'/Auth/SellerEmailCheck',
                type:'post',
                data:{email:email},
                success:function(result){
                    if(result == 3){
                        alert("사용 가능한 이메일 입니다.")
                        $("#email-text").text("사용 가능한 이메일 입니다.").css("color","green")
                    }else{
                        $("#email").val('')
                        $("#emailCheck").val(0);
                        alert("이미 가입한 이메일 입니다.");
                        $("#email-text").text("이미 가입한 이메일 입니다.").css("color","red")
                    }
                },
                error:function(){
                    alert("에러가 발생했습니다.");
                    $("#emailCheck").val(0);
                }
            });
        }else{
            alert("올바른 이메일 형식이 아닙니다.");
            $("#email-text").text("올바른 이메일 형식이 아닙니다.").css("color","red")
            $("#email").val('')
            $("#emailCheck").val(0);
        }
    }

</script>

