<section class="auth_signIn">
  <h2>로그인</h2>
  <div class="d-flex justify-content-between select-company-type">
    <button class="p-0 on">구매기업</button>
    <button class="p-0">판매기업</button>
  </div>
  <div>
    <div class="input-box">
      <label for="signInEmail">이메일</label>
      <input id="signInEmail" type="text" placeholder="이메일을 입력해주세요.">
    </div>
    <div class="input-box">
      <label for="signInPwd">비밀번호</label>
      <div class="position-relative">
        <input id="signInPwd" type="password" placeholder="비밀번호를 입력해주세요.">
        <button class="toggle_pwd p-0">
          <img class="w-100" src="/assets/m_images/icon_hide_pwd.png" alt="">
        </button>
      </div>
    </div>
  </div>
  <button class="btn-login p-0" type="submit">로그인</button>
  <div class="search-links d-flex justify-content-center">
    <a href="">아이디 찾기</a>
    <a href="">비밀번호 찾기</a>
  </div>
  <a class="btn-join" href="/Auth/SignUp">회원가입</a>
</section>
