<section class="container" style="padding: 120px 0;">
  <div id="row">
    <div class="col-12 col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
      <!-- Login Form -->
      <div class="login-form default-form border rounded p-4">
        <div class="form-inner">
          <h2 class="mb-4 font-weight-900" title="비밀번호 찾기"><a tabindex=100>비밀번호 찾기</a></h2>
          <!--Login Form-->
          <form name="form-login" method="post" action="/<?=_CONTROLLER?>/ForgotSubmit">
            <input type="hidden" name="search_type" value="2">
            <div class="form-group">
              <label class="my-2" title="아이디"><a>이메일 주소</a></label>
              <input type="text" name="user_id" placeholder="이메일 주소 입력" title="이메일 주소 입력" value="<?=$remember_id?>" tabindex=100 required>
            </div>
            <div class="form-group">
              <label class="my-2" title="회사명"><a>회사명</a></label>
              <input type="text" name="company_name" placeholder="회사명 입력" title="회사명 입력" value="" tabindex=100 required>
            </div>

            <div class="form-group">
              <label class="my-2" title="담당자 이름"><a>담당자 이름</a></label>
              <input type="text" name="manager_name" value="" title="담당자 이름 입력" placeholder="담당자 이름 입력" tabindex=100 required>
            </div>

            <div class="form-group">
              <label class="my-2" title="연락처"><a>연락처</a></label>
              <input type="text" onfocusout="blur(this)"
                     oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" id="phone" name="user_phone"  placeholder="연락처 입력(숫자만 입력)" title="연락처 입력" value="" maxlength="11" tabindex=100 required>
            </div>

            <div class="form-group">
              <div class="d-flex justify-content-end">
                <a href="/Auth/SignIn" class="me-4 text-end" tabindex=100>로그인</a>
                <a href="/Auth/ForgotMyId" class="text-end" tabindex=100>아이디 찾기</a>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="theme-btn btn-style-one py-3" name="log-in" tabindex=100>비밀번호 찾기 신청</button>
            </div>
          </form>

          <div class="bottom-box mt-4">
            <div>
              <a tabindex=100>아직 회원이 아니세요?</a>
              <a href="/Auth/SignUp" class="" tabindex=100>회원가입</a>
            </div>

            <!-- oauth
            <div class="divider"><span>or</span></div>
            <div class="btn-box row">
              <div class="col-lg-6 col-md-12">
                <a href="#" class="theme-btn social-btn-two facebook-btn"><i class="fab fa-facebook-f"></i> Log In via Facebook</a>
              </div>
              <div class="col-lg-6 col-md-12">
                <a href="#" class="theme-btn social-btn-two google-btn"><i class="fab fa-google"></i> Log In via Gmail</a>
              </div>
            </div>
            -->
          </div>
        </div>
      </div>
      <!--End Login Form -->
    </div>
  </div>
</section>
<script>
	$(document).ready(function(){
		$("#phone").blur(function(){
			var num = $("#phone").val();
			blur(num) });
	});
	function blur(num) {
		num = num.replace(/[^0-9]/g, '');
		var tmp = '';
		tmp += num.substr(0, 3);
		tmp += '-';
		tmp += num.substr(3, 4);
		tmp += '-';
		tmp += num.substr(7);
		$("#phone").val(tmp);
	}
</script>