<section class="container" style="padding-top: 172px; margin-bottom: 500px;">
  <div id="row">
    <div class="col-12 col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">

      <h2 class="mb-4 font-weight-900 text-center" title="기업 회원가입"><a tabindex=100>기업 회원가입</a></h2>

      <div class="row join-process">
        <div class="col-12 col-md-4 ok">
          <a title="1단계 이용약관 동의 완료">
            <em>1</em>
            <span>1단계 <br>약관 동의</span>
          </a>
        </div>
        <div class="col-12 col-md-4 ok">
          <a title="2단계 기업 정보 입력 완료">
            <em>2</em>
            <span>2단계 <br>기업 정보 입력</span>
          </a>
        </div>
        <div class="col-12 col-md-4 on">
          <a title="3단계 가입 완료">
            <em>3</em>
            <span>3단계 <br>가입 완료</span>
          </a>
        </div>
      </div>

      <div class="my-5">
        <div class="text-center pt-4 my-4">
          <i class="fa fa-3x text-primary fa-check-double"></i>
        </div>
        <h3 class="font-weight-900 text-center"><a>회원가입이 완료되었습니다.</a></h3>
        <h5 class="font-weight-900 text-center mt-4"><a>심사가 진행중이며, 승인 완료 후 로그인이 가능합니다.</a></h5>
      </div>

      <div class="my-5 text-center">
        <a href="/Auth/SignIn" class="btn btn-lg btn-primary w-50">로그인</a>
      </div>

    </div>
  </div>
</section>
