<script>

  $(function() {
		$('#classificationCheck').hide();
	});

	function validationJoin(){
		if(!$('input:radio[name="classification"]').is(':checked')){
			$('#classificationCheck').show();
			$('input:radio[name="classification"]:eq(1)').focus();
			return false;
    }else {
			$('#classificationCheck').hide();
    };
  }

</script>
<section class="container" style="padding-top: 172px; margin-bottom: 128px;">

  <div id="row">
    <div class="col-12 col-lg-10 offset-lg-1">

      <h2 class="mb-4 font-weight-900 text-center" title="구매기업 회원가입"><a>구매기업 회원가입</a></h2>

      <div class="row join-process">
        <div class="col-4 ok">
          <a title="1단계 이용약관 동의 입력 완료">
            <em>1</em>
            <span>1단계 <br>약관 동의</span>
          </a>
        </div>
        <div class="col-4 on">
          <a title="2단계 기본정보 입력 진행중">
            <em>2</em>
            <span>2단계 <br>기본 정보</span>
          </a>
        </div>
        <div class="col-4">
          <a title="3단계 가입 완료">
            <em>3</em>
            <span>3단계 <br>가입 완료</span>
          </a>
        </div>
      </div>

      <div class="default-form border rounded my-4 p-4">
        <div class="form-inner">

          <form name="form-submit" method="post" action="/Auth/SignUpBuyerSubmit" enctype="multipart/form-data">
            <input type="hidden" name="sbs" value="<?=$sbs?>">
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="이메일주소 필수입력">이메일주소(로그인 시 아이디로 사용됩니다)</a> </label>
              <button type="button"class="btn btn-primary btn-sm fw-normal" style="min-width: 100px;" name="idCheck" id="idCheck" onclick="buyerDoubleCheck();">중복체크</button>
              <input class="mt-3" type="email" id="email" name="email" placeholder="이메일주소를 입력해 주세요" title="이메일주소 입력" tabindex=100 required>
            </div>

            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="비밀번호 필수입력">비밀번호(영문+숫자+특수문자 조합 8자 이상)</a></label>
              <input type="password" name="password" placeholder="영문+숫자+특수문자 조합 8자 이상" title="비밀번호 입력" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,32}$" autoComplete="off" tabindex=100 required>

            </div>
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="비밀번호 확인 필수입력">비밀번호 확인</a></label>
              <input type="password" name="confirm_password" placeholder="영문+숫자+특수문자 조합 8자 이상" title="영문+숫자+특수문자 조합 8자 이상 비밀번호 확인 입력" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,32}$" autoComplete="off" tabindex=100 required>

            </div>
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="담당자 이름 필수입력">담당자 이름</a></label>
              <input type="text" name="buyer_name" placeholder="담당자이름을 입력해주세요" title="담당자 이름 입력" tabindex=100 required>
            </div>
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="휴대폰번호 필수입력">휴대폰번호</a></label>
              <input type="text" class="mask-phone" name="phone" placeholder="숫자, '-'만 입력" title="휴대폰번호 숫자, '-'만 입력" tabindex=100 required>
            </div>
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="사업체명 필수입력">사업체명</a></label>
              <input type="text" name="company_name" placeholder="사업체명을 입력해주세요" title="사업체명 입력" tabindex=100 required>
            </div>

            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="사업자등록번호 필수입력">사업자등록번호</a></small></label>
              <input type="text" name="company_code" class="mask-business-number" placeholder="숫자만 입력해 주세요." title="사업자등록번호 입력" tabindex=100 required>
            </div>
            <div class="form-group">
              <p class="my-2"><sup class="text-danger">*</sup><a title="기업형태 필수입력">기업형태</a></p>
              <div>
                <label class="me-2">
                  <input type="radio" name="classification" value="1" tabindex=100 required>민간기업
                </label>
                <label class="me-2">
                  <input type="radio" name="classification" value="2" tabindex=100>공공기관
                </label>
                <label>
                  <input type="radio" name="classification" value="3" tabindex=100>국가/자치단체
                </label>
              </div>
              <span style="color: red;display: none;" id="classificationCheck">※기업형태를 선택해주세요</span>
            </div>
            <div class="form-group">
              <label class="my-2"><a title="팩스번호">팩스번호</a></label>
              <input type="text" class="mask-phone" name="fax" placeholder="숫자, '-'만 입력" title="팩스번호 숫자, '-'만 입력" tabindex=100>
            </div>
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="담당자 이름 필수입력">주소</a></label>
              <input type="text" name="address" placeholder="주소를 입력해주세요" title="담당자 이름 입력" tabindex=100 required>
            </div>
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="상시 근로자 수 필수입력">상시 근로자 수 </a></label>
              <input type="text" name="workers" id = "workers" placeholder="숫자만 입력" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')" title="상시 근로자 수 입력" tabindex=100 required>
            </div>
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="경증 장애인 근로자 수 필수입력">경증 장애인 근로자 수</a></label>
              <input type="text" name="mild_disabled" id = "mild_disabled" placeholder="숫자만 입력" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')" title="경증 장애인 근로자 수 입력" tabindex=100 required>
            </div>
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="중증 장애인 근로자 수 필수입력">중증 장애인 근로자 수</a></label>
              <input type="text" name="severely_disabled" id = "severely_disabled" placeholder="숫자만 입력" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')" title="중증 장애인 근로자 수 입력" tabindex=100 required>
            </div>
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="적용 법인세율">적용 법인세율</a></label>
              <input type="text" name="tax_rate" placeholder="숫자만 입력" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')" title="적용법인 세율 입력" tabindex=100 >
            </div>
            <div class="">
              <p class="my-2"><a title="관심상품">관심상품</a></p>
              <label class="form-check-label me-1"><input class="form-check-input" type="checkbox" value="Y" name="interest_office"> 사무용품</label>
              <label class="form-check-label me-1"><input class="form-check-input" type="checkbox" value="Y" name="interest_daily"> 생활용품</label>
              <label class="form-check-label me-1"><input class="form-check-input" type="checkbox" value="Y" name="interest_computerized"> 전산용품</label>
              <label class="form-check-label me-1"><input class="form-check-input" type="checkbox" value="Y" name="interest_food"> 식음료</label>
              <label class="form-check-label me-1"><input class="form-check-input" type="checkbox" value="Y" name="interest_cleaning"> 청소용품</label>
            </div>
            <br>
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="사업자등록증 첨부">사업자등록증 첨부</a></label>
              <input type="file" name="buyer_documents" class="form-control" placeholder="사업자등록증 첨부" title="사업자등록증 첨부" tabindex=100 required>
            </div>
            <div class="form-group mt-5">
              <button type="submit" class="theme-btn btn-style-one py-3 w-100" onclick="validationJoin()" tabindex=100>회원가입</button>
            </div>
          </form>

          <div class="bottom-box mt-5">
            <div class="text-end">
              <a tabindex=100>이미 회원이신가요?</a>
              <a href="/Auth/SignIn" class="" tabindex=100 title="로그인">로그인</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<script>

  function buyerDoubleCheck(){
    var email = $("#email").val();
    var reg_email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
    if(reg_email.test(email)){
      $.ajax({
        url:'/Auth/BuyerEmailCheck',
        type:'post',
        data:{email:email},
        success:function(result){
          if(result == 3){
            alert("사용 가능한 이메일 입니다.")
          }else{
            $("#email").val('')
            alert("이미 가입된 기업입니다");

          }
        },
        error:function(){
          alert("에러가 발생했습니다.");
        }
      });
    }else{
      alert("올바른 이메일 형식이 아닙니다.");
      $("#email").val('')
    }
  };

</script>