<section class="container" style="padding-top: 172px; margin-bottom: 128px;">
  <div id="row">
    <div class="col-12 col-lg-10 offset-lg-1">

      <h2 class="mb-4 font-weight-900 text-center" title="판매기업 회원가입"><a tabindex=100>판매기업 회원가입</a></h2>

      <div class="row join-process">
        <div class="col-4 on">
          <a title="1단계 이용약관 동의 진행중">
            <em>1</em>
            <span>1단계 <br>약관 동의</span>
          </a>
        </div>
        <div class="col-4">
          <a title="2단계 기본정보 입력">
            <em>2</em>
            <span>2단계 <br>기본 정보 입력</span>
          </a>
        </div>
        <div class="col-4">
          <a title="3단계 가입 완료">
            <em>3</em>
            <span>3단계 <br>가입 완료</span>
          </a>
        </div>
      </div>

      <div class="default-form border rounded my-4 p-4">
        <div class="form-inner">

          <form method="post" action="/Auth/SignUpSeller">
            
<!--            <h4> <a tabindex=100>서비스 이용 약관 (필수)</a> </h4>-->
<!--            <div class="border p-2 mt-2 terms-wrap">-->
<!--              <a title="서비스 이용 약관 내용">-->
<!--                <div style="white-space:pre-wrap;"><?=@$sla?></div>-->
<!--              </a>-->
<!--            </div>-->
<!--            <div>-->
<!--              <div class="form-check float-end">-->
<!--                <input class="form-check-input" type="checkbox" name="sla" value="1" id="sla1" required>-->
<!--                <label class="form-check-label" for="sla1">동의함</label>-->
<!--              </div>-->
<!--            </div>-->
            
            <h4 class="mt-5"> <a tabindex=100>사이트 이용 약관 (필수)</a> </h4>
            <div class="border p-2 mt-2 terms-wrap">
              <a title="사이트 이용 약관 내용">
                <div style="white-space:pre-wrap;"><?=@$tos?></div>
              </a>
            </div>
            <div>
              <div class="form-check float-end">
                <input class="form-check-input" type="checkbox" name="tos" value="1" id="sla2" required>
                <label class="form-check-label" for="sla2">동의함</label>
              </div>
            </div>
            
            <h4 class="mt-5"> <a tabindex=100>개인정보 수집 및 이용 동의 (필수)</a> </h4>
            <div class="border p-2 mt-2 terms-wrap">
              <a title="개인정보 수집 및 이용 동의">
                <div style="white-space:pre-wrap;"><?=@$pps?></div>
              </a>
            </div>
            <div>
              <div class="form-check float-end">
                <input class="form-check-input" type="checkbox" name="pps" value="1" id="sla3" required>
                <label class="form-check-label" for="sla3">동의함</label>
              </div>
            </div>
            
            <h4 class="mt-5"> <a tabindex=100>광고성 정보 수신 동의 (선택)</a> </h4>
            <div class="border p-2 mt-2 terms-wrap">
              <a title="광고성 정보 수신 동의">
                <div style="white-space:pre-wrap;"><?=@$sbs?></div>
              </a>
            </div>
            <div class="float-end">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="sbs_n" name="sbs" value="N" required>
                <label class="form-check-label" for="sbs_n">동의안함</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="sbs_y" name="sbs" value="Y" required>
                <label class="form-check-label" for="sbs_y">동의함</label>
              </div>
            </div>
            
<!--            <h4 class="mt-5"> <a tabindex=100>부가서비스 혜택 안내 (선택)</a> </h4>-->
<!--            <div class="border p-2 mt-2 terms-wrap">-->
<!--              <a title="부가서비스 혜택 안내">-->
<!--                <div style="white-space:pre-wrap;"><?=@$ads?></div>-->
<!--              </a>-->
<!--            </div>-->
<!--            <div class="float-end">-->
<!--              <div class="form-check form-check-inline">-->
<!--                <input class="form-check-input" type="radio" id="ads_n" name="ads" value="n" required>-->
<!--                <label class="form-check-label" for="ads_n">동의안함</label>-->
<!--              </div>-->
<!--              <div class="form-check form-check-inline">-->
<!--                <input class="form-check-input" type="radio" id="ads_y" name="ads" value="y" required>-->
<!--                <label class="form-check-label" for="ads_y">동의함</label>-->
<!--              </div>-->
<!--            </div>-->

            <div class="text-end pt-4 mt-5" style="font-size:1.4em;">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="all_check" name="all_check" value="1">
                <label class="form-check-label" for="all_check">전체 동의</label>
              </div>
            </div>



            <div class="form-group mt-5">
              <button type="submit" class="theme-btn btn-style-one py-3 w-100" tabindex=100>다음 단계 </button>
            </div>
          </form>

          <div class="bottom-box mt-5">
            <div class="text-end">
              <a tabindex=100>이미 회원이신가요?</a>
              <a href="/Auth/SignIn" class="" tabindex=100 title="로그인">로그인</a>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</section>

<script>
$(document).ready(function(){
  $("#all_check").click(function(){
    const chk = $(this).prop("checked");
    if(chk == true){
      $(".default-form input:checkbox").prop("checked", true);
      $(".default-form input:radio[value='Y']").prop("checked", true);
    }
  });
});
</script>
