<section class="container" style="padding-top: 172px;">
  <div id="row">
    <div class="col-12 col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">

      <h2 class="mb-4 font-weight-900 text-center" title="회원가입"><a>회원가입</a></h2>
      <p class="text text-center"><a tabindex=100>회원가입 유형을 선택해 주세요.</a></p>

      <div class="row register my-5">
        <div class="col-6 user">
          <a href="/Auth/SignUpUserSLA" class="btn" tabindex=100 title="구매기업 가입">
            <i class="fa fa-2x fa-user text-success"></i><br />
            구매기업 가입
          </a>
        </div>
        <div class="col-6 company">
          <a href="/Auth/SignUpCompanySLA" class="btn" tabindex=100 title="판매기업 가입">
            <i class="fa fa-2x fa-building text-orange"></i><br />
            판매기업 가입
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
