<?php
  // Left Menu
  require(__DIR__.'/Components/Left.html');
?>
<style>
  th,td{text-align: center; vertical-align: middle;}
</style>
<div class="flex-grow-1">
  <section class="pt-5 layout-pb-120 contract-list">
    <div class="auto-container">
      <select name="contract_select" id="contract_select" class="w-100 border mb-4 p-3">
        <option value="" >계약서 선택</option>

        <option value="<?=$contractList['contract_no']?>" <?php if($contractList['contract_no']==$_GET["cn"]){echo "selected";}?>><?=$contractList['seller_company'].' 와 '. $contractList['buyer_company'].'의 계약' .'_'.$contractList['contract_no']?></option>

      </select>
      <ul class="d-flex border w-100 justify-content-around mb-4 py-4 text-center bg-light item-list-number">
        <li class="px-5 position-relative">
          <p class="mb-2">상품명</p>
          <p><strong><?=$contractList['product_name']?></strong></p>
        </li>
        <li class="px-5 position-relative">
          <p class="mb-2">상품수량</p>
          <p><strong><?=$contractList['product_quinality']?></strong></p>
        </li>
        <li class="px-5 position-relative">
          <p class="mb-2">계약금액</p>
          <p><strong><?=$contractList['product_price']?></strong></p>
        </li>
        <li class="px-5">
          <p class="mb-2">계약업체</p>
          <p><strong><?=$contractList['buyer_company']?></strong></p>
        </li>
        <li class="px-5">
          <p class="mb-2">계약일</p>
          <p><strong><?=$contractList['register_date']?></strong></p>
        </li>
      </ul>
      <div class="d-flex justify-content-end mt-5 mb-4">
        <button class="btn btn-primary" onclick="add_row();">배송추가</button>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>횟수</th>
          <th>배송 예정일</th>
          <th>배송 시작일</th>
          <th>배송 도착일</th>
          <th>상태</th>
          <th>송장등록</th>
          <th>송장확인</th>
          <th>배송시작</th>
        </tr>
        </thead>
        <?php
        $cnt = 0;
        if(is_array($delivery)){
        $cnt = count($delivery);
        }
        ?>
        <form name="deliveryForm" id="deliveryForm" method="post" action="/Seller/Delivery/Submit" enctype="multipart/form-data">
          <input type="hidden" name="contract_no" value="<?=$contractList['contract_no']?>">
          <input type="hidden" name="seller_uuid" value="<?=$contractList['seller_uuid']?>">
          <input type="hidden" name="seller_company" value="<?=$contractList['seller_company']?>">
          <input type="hidden" name="product_no" value="<?=$contractList['product_no']?>">
          <input type="hidden" name="product_name" value="<?=$contractList['product_name']?>">
          <input type="hidden" name="product_price" value="<?=$contractList['product_price']?>">
          <input type="hidden" name="cnt" id ="cnt" value="<?=$cnt?>">
          <input type="hidden" name = "count" id ="count" value="<?=$cnt+1?>">
          <input type="hidden" name = "delivery_predicted" id ="delivery_predicted" value="">


          <tbody id ="my-tbody">
          <tr>
            <td></td>
            <td> <input class="form-control" id ="delivery_date" name="delivery_date" type="date"></td>
            <td></td>
            <td></td>
            <td></td>
            <td> <div><label for="addInvoide" class="m-0 form-label btn btn-outline-dark btn-sm fw-normal">송장등록</label>
            <input class="d-none" type="file" name ="invoice_file" id="addInvoide"></div></td>
            <td><button class="btn btn-outline-dark btn-sm fw-normal">송장확인</button></td>
            <td><button class="btn btn-success btn-sm fw-normal" onclick="delivery();">배송시작</button></td>
            <td><button class="btn btn-success btn-sm fw-normal" onclick="delete_row();">제거</button></td>
          </tr>
        </form>
          <?php if(is_array($delivery) && count($delivery) > 0){
          foreach($delivery as $item){
          $delivery_status = "";
          if($item['delivery_status'] == 1){
          $delivery_status = 배송대기;
          }else if($item['delivery_status'] == 3){
          $delivery_status = 배송중중;
          }else if($item['delivery_status'] == 5){
          $delivery_status = 배송완료;
          }
          ?>
        <tr>
          <td><?=$item['dcount']?>회</td>
          <td><?=$item['delivery_predicted']?></td>
          <td><?=$item['register_date']?></td>
          <td><?=$item['delivery_arrival']?></td>
          <td><?=$delivery_status?></td>
          <td>
            <div>
              <label for="addInvoide" class="m-0 form-label btn btn-outline-dark btn-sm fw-normal">송장등록</label>
              <input class="d-none" type="file">
            </div>
          </td>
          <td>
            <button class="btn btn-outline-dark btn-sm fw-normal">송장확인</button>
          </td>

          <td>
            <button class="btn btn-success btn-sm fw-normal"> <!--onclick="delivery();"-->배송시작</button>
          </td>
        </tr>
        <?php
        }
        }
        ?>
        </tbody>
      </table>
    </div>
  </section>
</div>
<script>
/*  let count = $('#cnt').val();

  function delivery(){
    if(confirm("배송을 시작하시겠습니까?")){
      $('#delivery_predicted').val($('#delivery_date').val());
      $('#deliveryForm').submit();
    }else{
      return false;
    }
  }*/
/*
  function add_row() {
    count++;
    alert(count);
    var my_tbody = document.getElementById('my-tbody');
    // var row = my_tbody.insertRow(0); // 상단에 추가
    var row = my_tbody.insertRow( my_tbody.rows.length ); // 하단에 추가
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    var cell4 = row.insertCell(3);
    var cell5 = row.insertCell(4);
    var cell6 = row.insertCell(5);
    var cell7 = row.insertCell(6);
    var cell8 = row.insertCell(7);
    var cell9 = row.insertCell(8);
    cell1.innerHTML = '<td></td>';
    cell2.innerHTML = '<td> <input class="form-control" id ="delivery_date" name="delivery_date" type="date"></td>';
    cell3.innerHTML = '<td></td>';
    cell4.innerHTML = '<td></td>';
    cell5.innerHTML = '<td></td>';
    cell6.innerHTML = '<td> <div><label for="addInvoide" class="m-0 form-label btn btn-outline-dark btn-sm fw-normal">송장등록</label>\n' +
            '<input class="d-none" type="file" name ="invoice_file" id="addInvoide">\</div></td>';
    cell7.innerHTML = '<td><button class="btn btn-outline-dark btn-sm fw-normal">송장확인</button></td>';
    cell8.innerHTML = '<td><button class="btn btn-success btn-sm fw-normal" onclick="delivery();">배송시작</button></td>';
    cell9.innerHTML = '<td><button class="btn btn-success btn-sm fw-normal" onclick="delete_row();">제거</button></td>';
    document.getElementById('count').value = count;
    //$('#delivery_predicted').val($('#predicted').val());
   // document.getElementById('delivery_predicted').value = document.getElementById('predicted').value;
  }

  function delete_row() {
    var my_tbody = document.getElementById('my-tbody');
    if (my_tbody.rows.length < 1) return;
    // my_tbody.deleteRow(0); // 상단부터 삭제
    my_tbody.deleteRow( my_tbody.rows.length-1 ); // 하단부터 삭제
  }*/


  $(document).ready(function(){
    $('#contract_select').on('change',function(){
      var contract_no = $("#contract_select").val();
      location.href = "/Seller/DeliveryStatus/?cn=" + contract_no;
    })
  })

</script>