<?php
  // Left Menu
  require(__DIR__.'/Components/Left.html');
?>
<style>
  th,td{text-align: center; vertical-align: middle;}
</style>
<div class="flex-grow-1">
  <section class="pt-5 layout-pb-120 contract-list">
    <div class="auto-container">
      <select name="contract_select" id="contract_select" class="w-100 border mb-4 p-3">
        <?php
        if(count($contractList) == 0){
        ?>
        <option value="" selected>완료된 계약서가 없습니다</option>
        <?php
        }else{
        ?>
        <option value="" >계약서 선택</option>
        <?php if(is_array($contractList) && count($contractList) > 0){
        foreach($contractList as $item){
        ?>
        <option value="<?=$item['contract_no']?>" <?php if($item['contract_no']==$_GET["cn"]){echo "selected";}?>><?=$item['seller_company']?> 와  <?=$item['buyer_company']?> 의 계약 <?=$item['contract_no']?></option>
        <?php
        }
        }
        ?>
        <?php
        }
        ?>
      </select>
      <ul class="d-flex border w-100 justify-content-around mb-4 py-4 text-center bg-light item-list-number">
        <li class="px-5 position-relative">
          <p class="mb-2">상품명</p>
          <p><strong><?=$contents['product_name']?></strong></p>
        </li>
        <li class="px-5 position-relative">
          <p class="mb-2">상품수량</p>
          <p><strong><?=$contents['product_quantity']?></strong></p>
        </li>
        <li class="px-5 position-relative">
          <p class="mb-2">계약금액</p>
          <?php
          if(count($contractList) == 0 || $_GET['cn'] == ""){
          ?>
          <p><strong></strong></p>
          <?php
        }else{
        ?>
          <p><strong><?=number_format($contents['product_price'])?>원</strong></p>
          <?php
        }
        ?>
        </li>
        <li class="px-5">
          <p class="mb-2">계약업체</p>
          <p><strong><?=$contents['buyer_company']?></strong></p>
        </li>
        <li class="px-5">
          <p class="mb-2">계약일</p>
          <p><strong><?=substr($contents["register_date"], 0, 10)?></strong></p>
        </li>
      </ul>
<!--      <div class="d-flex justify-content-end mt-5 mb-4">
        <button class="btn btn-primary" onclick="add_row();">배송추가</button>
      </div>-->
      <table class="table">
        <thead>
        <tr>
          <th>횟수</th>
          <th>배송 예정일</th>
          <th>배송 시작일</th>
          <th>배송 도착일</th>
          <th>상태</th>
          <th>송장등록</th>
          <th>송장확인</th>
          <th>배송시작</th>
        </tr>
        </thead>
        <?php
        $cnt = 0;
        if(is_array($delivery)){
        $cnt = $delivery['count'];
        }
        ?>
        <form name="invoiceForm" id="invoiceForm" method="post" action="/Seller/Delivery/invoice">
          <input type="hidden" name="contract_no" value="<?=$contents['contract_no']?>">
          <input type="hidden" name="seller_uuid" value="<?=$contents['seller_uuid']?>">
          <input type="hidden" name="buyer_uuid" value="<?=$contents['buyer_uuid']?>">
          <input type="hidden" name="buyer_company" value="<?=$contents['buyer_company']?>">
          <input type="hidden" name="seller_company" value="<?=$contents['seller_company']?>">
          <input type="hidden" name="product_no" value="<?=$contents['product_no']?>">
          <input type="hidden" name="product_name" value="<?=$contents['product_name']?>">
          <input type="hidden" name="product_price" value="<?=$contents['product_price']?>">
          <input type="hidden" name="register_date" value="<?=substr($contents['register_date'],0,10)?>">
          <input type="hidden" name="cnt" id ="cnt" value="<?=$cnt?>">
          <input type="hidden" name = "count" id ="count" value="<?=$cnt+1?>">
<!--
          <input type="hidden" name = "delivery_predicted" id ="delivery_predicted" value="">
-->
          <tbody id ="my-tbody">
          <?php
          if($_GET['cn'] != ""){
          ?>
          <tr>
            <td></td>
            <td> <input class="form-control" id ="delivery_predicted" name="delivery_predicted" type="date"></td>
            <td></td>
            <td></td>
            <td></td>
            <td> <!--<div><label for="invoice_file" class="m-0 form-label btn btn-outline-dark btn-sm fw-normal">예약일 등록</label>
            <input class="d-none" type="file" name ="invoice_file" id="invoice_file"></div>--></td>
            <td></td>
            <td><button type="button" class="btn btn-success btn-sm fw-normal" onclick="reservation();">예약일 등록</button></td>
          </tr>
          <?php
            }
            ?>
        </form>
        <form id ="deliveryForm" action="/Seller/Delivery/Submit" method="post" enctype="multipart/form-data">
          <input type="hidden" name="cn" value="<?=$contractList['contract_no']?>">
          <input type="hidden" name="buyer_uuid" value="<?=$contents['buyer_uuid']?>">
          <input type="hidden" name="idx" id="idx" value="">
          <input type="hidden" name="type" id="type" value="">
          <?php if(is_array($delivery) && count($delivery) > 0){

          foreach($delivery as $item){
          $delivery_status = "";
          if($item['delivery_status'] == '1'){
          $delivery_status = "배송대기";
          }else if($item['delivery_status'] == '3'){
          $delivery_status = "배송중";
          }else if($item['delivery_status'] == '5'){
          $delivery_status = "배송완료";
          }
          if($item['idx'] != ""){
          ?>

        <tr>
          <td><?=$item['dcount']?>회</td>
          <td><?=substr($item["delivery_predicted"],0,10)?></td>
          <td><?=substr($item["delivery_start"],0,10)?></td>
          <td><?=substr($item["delivery_arrival"],0,10)?></td>
          <td><?=$delivery_status?></td>
          <td>
            <?php if($item['delivery_status'] == 5){ ?>
            </td>
          <?php
          }else{
          ?>
            <div><label for="invoice_file_<?=$item['idx']?>" class="m-0 form-label btn btn-outline-dark btn-sm fw-normal">
              <?php if($item['delivery_status'] == 1){ ?>
              송장 등록
              <?php }else if($item['delivery_status'] == 3){ ?>
              송장 수정
              <?php
              }
              }
              ?>
            </label>
              <input class="d-none" type="file" name="" id="invoice_file_<?=$item['idx']?>"></div>
          </td>

          <td>
            <?php
          if($item['delivery_status'] == 3 || $item['delivery_status'] == 5){
          ?>
            <button type="button" class="btn btn-outline-secondary btn-sm" onclick="downloadFileNew('<?=$item["invoice_file"]?>','<?=$item["invoice_file_ori"]?>');" >송장확인</button>
            <?php
          }
          ?>
          </td>
          <td>
            <?php
            if($item['delivery_status'] == 1){
            ?>
            <button type="button" class="btn btn-success btn-sm fw-normal" onclick="deliveryUpdate(<?=$item['idx']?>,'start');">배송시작</button>
            <?php
              }else if($item['delivery_status'] == 3){
              ?>
            <button type="button" class="btn btn-success btn-sm fw-normal" onclick="deliveryUpdate(<?=$item['idx']?>,'update');">수정하기</button>
            <?php
            }
            ?>
            </td>
          </tr>
          <?php
            }?>
          <?php
          }
          }
          ?>
        </form>
          </tbody>
        </table>
      <ul style="float: right" class="pagination">
        <li class="paginate_button page-item previous disabled" id="datatables_previous">
          <?php
         $data_page_num = ($data_page_total_cnt/10) + 1;
          $cn = $_GET["cn"];
         for($i=1;$i<=$data_page_num;$i++){
              if($_GET["p_n"]==$i){?>
        <li class="paginate_button page-item active">
          <?php }else{ ?>
        <li class="paginate_button page-item">
          <?php } ?>
          <a href="javascript:nextPage(<?=$cn?>,<?=$i?>)" aria-controls="datatables" data-dt-idx="1" tabindex="0" class="page-link"><?=$i?></a></li>
        <?php }?>
      </ul>
      </div>
    </section>

  </div>
  <script>
    function nextPage(contract_no,p_n){
      location.href = '/Seller/DeliveryStatus/?cn='+contract_no+'&p_n='+p_n;

    }

    function reservation(){
      if($("#delivery_predicted").val() == ""){
        alert("예정일을 지정해주세요");
      }else{
        if(confirm("예약일을 등록하시겠습니까?")){
          $("#invoiceForm").submit();
        }else{
          return false;
        }
      }
    }

    function deliveryUpdate(idx,type) {

      $('#invoice_file_'+idx).attr('name','invoice_file');

      $('#idx').val(idx);
      $('#type').val(type);

      if ($('#invoice_file_'+idx).val() == "") {
        alert("송장을 등록해주세요");
        return false;
      }

      var msg = "";

      if(type == 'start'){
        msg = "배송을 시작하시겠습니까?";
      }else if(type == 'update'){
        msg = "수정하시겠습니까?";
      }

      if (confirm(msg)) {
        $('#deliveryForm').submit();
      }
    }

    function downloadFileNew(fileName,fileNameOri){
      if(fileName == ""){
        alert("등록된 파일이 없습니다");
      }else {
        location.href = "/Seller/Delivery/downloadFileNew?fileName=" + fileName + "&fileNameOri=" + fileNameOri;
      }
    };

    $(document).ready(function(){
      $('#contract_select').on('change',function(){
        var contract_no = $("#contract_select").val();
        location.href = "/Seller/DeliveryStatus/?cn=" + contract_no;
      })
    })

  </script>