<?php
  // Left Menu
  require(__DIR__.'/Components/Left.html');
?>
<div class="flex-grow-1">
    <section class="py-5 imjob-list">
            <div class="auto-container">
                <button class="btn btn-outline-secondary btn-sm my-2 fw-normal" type="button"  onclick="downloadFileNew('<?=$excel["register_file"]?>','<?=$excel["register_file_ori"]?>');">양식다운로드</button>
            </div>
        <form id ="excelupload" method="post" action="/Seller/IMJOB/IMJOBRegist" enctype="multipart/form-data" >
            <input type="file" id ="excel_upload" name ="excelupload" ><br>
            <input type="hidden" id ="file_name" value="<?=$excel['register_file_ori']?>">
            <input type="button" onclick="fileCheck();" value="확인하기">
        </form>

        <?php
          if(is_array($data) && count($data) > 0){
         foreach($data as $item){
         $register_file = "";
        if($item['file'] != ""){
        $register_file = $item['file'];
        }
        }
        }
        ?>
        <form id ="fileForm" method="post" action="/Seller/IMJOB/WorkersReg" >
        <div class="mt-4 pb-3 text-end border-bottom border-2">
           <input type="hidden" id = "register_file" name ="register_file" value="<?=$register_file?>">
            <button type="button" class=" btn btn-success" onclick="register_upload();">
                등록
            </button>
        </div>
        </form>
        <form id ="dataCheck">
        <table class="table table-striped text-center mt-5 imjob-list-table" id ="imjobTbl">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>이름</th>
                    <th>생년월일</th>
                    <th>계약 시작일</th>
                    <th>계약 종료일</th>
                    <th>근무상태</th>
                    <th>장애유형</th>
                </tr>
                </thead>

                <tbody>
                <?php
                if(!is_array($data)){
                ?>
                <h2 class="text-center fw-bold my-5">등록 전 파일을 선택해 리스트를 확인해주세요</h2>
                <?php
                }
                ?>
                <?php
                 if(is_array($data) && count($data) > 0){
                $i = 1;
                foreach($data as $item){
                if($i == count($data)){
                break;
                }
                ?>
                <tr>
                    <td><?=$i?></td>
                    <td><?=$item['name']?></td>
                    <td><?=$item['birth']?></td>
                    <td><?=$item['sdate']?></td>
                    <td><?=$item['edate']?></td>
                    <td><?=$item['status']?></td>
                    <td><?=$item['dis']?></td>
                <?php
                $i++;
                }
                }
                ?>
                </tbody>
            </table>
        </form>
</section>
</div>
<script>
    function downloadFileNew(fileName,fileNameOri){
        if(fileName == ""){
            alert("등록된 파일이 없습니다");
        }else {
            location.href = "/Seller/IMJOB/downloadFileNew?fileName=" + fileName + "&fileNameOri=" + fileNameOri;
        }
    };

    function fileCheck(){
        //alert($("#excel_upload").val());
/*        var upload = $("#excel_upload").val();
        var upload_name = upload.substr(12);

        if(upload_name != file_name){
            alert("등록 양식의 파일명과 다릅니다. 양식을 다운로드 해주세요");
            return false;
        }*/
        if ($("#excel_upload").val() == "") {
            alert("파일을 등록해주세요");
        } else {
            $("#excelupload").submit();
        }

    }
    function register_upload(file_name){
        /*var upload = $("#register_file").val();
        var upload_name = upload.substr(12);
        var file_name = $("#file_name").val();
        if(upload_name != file_name) {
            alert("등록 양식의 파일과 다릅니다.");
        }else{*/
            if ($("#register_file").val() == "") {
                alert("등록 전 확인버튼을 눌러서 리스트를 확인 해주세요");
            } else {
                $("#fileForm").submit();
            }

    }

</script>