<?php
  // Left Menu
  require(__DIR__.'/Components/Left.html');
?>
<div class="flex-grow-1">
  <section class="py-5 imjob-list">
    <div class="auto-container">
      <ul class="d-flex border w-100 justify-content-around mb-4 py-4 text-center bg-light employee-number">
        <li class="px-5 position-relative">
          <p class="h5 text-primary">장애인 근로자 수</p>
          <p class="text-primary"><strong class="h4 fw-bold"><?=$data_cnt["worker_cnt"]?></strong>명</p>
        </li>
        <li class="px-5 position-relative">
          <p class="h5">중증 장애인</p>
          <p><strong class="h4 fw-bold"><?=$data_cnt["degree_1_cnt"]?></strong>명</p>
        </li>
        <li class="px-5">
          <p class="h5">경증 장애인</p>
          <p><strong class="h4 fw-bold"><?=$data_cnt["degree_2_cnt"]?></strong>명</p>
        </li>
      </ul>

      <form id="search_form" method="get" action="/Seller/IMJOB/List">
        <input type="hidden" name="p_n" value="1">
        <div class="d-flex justify-content-end align-items-center">
          <div class="me-3">
            <label class="form-check-label mx-2" for="flexCheck01">
              <input class="form-check-input" type="checkbox" value="1" id="flexCheck01" name="w_s1"
              <?php if($_GET["w_s1"] != ""){ echo "checked";}?>>
              근무자
            </label>
            <label class="form-check-label mx-2" for="flexCheck02">
              <input class="form-check-input" type="checkbox" value="2" id="flexCheck02" name="w_s2"
              <?php if($_GET["w_s2"] != ""){ echo "checked";}?>>
              퇴직자
            </label>
            <label class="form-check-label mx-2" for="flexCheck03">
              <input class="form-check-input" type="checkbox" value="3" id="flexCheck03" name="w_s3"
              <?php if($_GET["w_s3"] != ""){ echo "checked";}?>>
              휴직자
            </label>
          </div>
          진행상황 : &nbsp;
          <div class="input-group input-group-sm me-3">
            <select type="text" class="form-control search-employee w-100" name="search_status">
              <option value="" selected>전체</option>
              <option value="5" <?php if($_GET["search_status"] == "5"){ echo "selected";}?>>승인완료</option>
              <option value="1" <?php if($_GET["search_status"] == "1"){ echo "selected";}?>>승인대기</option>
              <option value="7" <?php if($_GET["search_status"] == "7"){ echo "selected";}?>>반려</option>
            </select>
          </div>

          <div class="input-group input-group-sm me-3">
            <input type="text" class="form-control search-employee" name="search_v" placeholder="아이디 or 생년월일" aria-label="" aria-describedby="search-employee"
            <?php if($_GET["search_v"] != ""){ echo "value='".$_GET['search_v']."'";}?>>
            <button class="btn btn-primary" type="button" id="search-employee" onclick="search()">검색</button>
          </div>

          <div>
            <button class="btn btn-outline-success btn-sm">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
              </svg>
               엑셀다운
            </button>
          </div>
        </div>
      </form>

      <table class="table table-striped text-center mt-5 imjob-list-table">
        <thead>
        <tr>
          <th>No.</th>
          <th>이름</th>
          <th>생년월일</th>
          <th>계약 시작일</th>
          <th>계약 종료일</th>
          <th>근무상태</th>
          <th style="width: auto">장애유형</th>
          <th>복지카드</th>
          <th>상세보기</th>
          <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <?php
        $i=1;
        if($_GET["p_n"]!=""){
          $i=($_GET["p_n"]-1)*10+1;
        }
        foreach($data as $item){
        $working_status="";
        if($item["working_status"] == 1){
          $working_status="근무";
        }else if($item["working_status"] == 2){
          $working_status="퇴직";
        }else if($item["working_status"] == 3){
          $working_status="휴직";
        }
        $disability_degree="";
        if($item["disability_degree"] == 1){
          $disability_degree="중증";
        }else if($item["disability_degree"] == 2){
          $disability_degree="경증";
        }
        $upload_card="없음";
        if($item["upload_card"] != ""){
          $upload_card="있음";
        }
        ?>
        <tr>
          <td><?=$i?></td>
          <td><?=$item["worker_name"]?></td>
          <td><?=$item["worker_birth"]?></td>
          <td><?=$item["worker_term_start"]?></td>
          <td><?=$item["worker_term_end"]?></td>
          <td><?=$working_status?></td>
          <td><?=$disability_degree?></td>
          <td><?=$upload_card?></td>
          <?php if($item["status"] == 5){?>
          <td><button type="button" class="button btn-secondary btn-sm" onclick='IMJOBView(<?=$item["idx"]?>,<?=$_GET["p_n"]?>)'>상세보기</button></td>
          <?php }elseif($item["status"] == 1){ ?>
          <td><span class="text-primary">승인대기</span></td>
          <?php }elseif($item["status"] == 7){ ?>
          <td><span class="text-danger">반려</span></td>
          <?php } ?>
          <td><button type="button" class="button btn-danger btn-sm" onclick='deleteWorker(<?=$item["idx"]?>)'>삭제</button></td>
        </tr>
        <?php
          $i++;
          }
        ?>
        </tbody>
      </table>
      <?php if($data_page_total_cnt == 0){ echo"<div class='text-center'><span>등록된 근로자가 없습니다</span></div>"; }?>

      <div class="float-start"><div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">(총 <?=$data_page_total_cnt?> 개의 데이터)</div></div>
      <ul style="float: right" class="pagination">
        <li class="paginate_button page-item previous disabled" id="datatables_previous">
        <?php
         $data_page_num = $data_page_total_cnt/10;
         for($i=1;$i<=$data_page_num;$i++){
              if($_GET["p_n"]==$i){?>
                <li class="paginate_button page-item active">
        <?php }else{ ?>
                <li class="paginate_button page-item">
        <?php } ?>
          <a href="javascript:nextPage(<?=$i?>)" aria-controls="datatables" data-dt-idx="1" tabindex="0" class="page-link"><?=$i?></a></li>
        <?php }?>
      </ul>
    </div>
  </section>
</div>
<script>
  function deleteWorker(idx){
		location.href = '/Seller/IMJOB/deleteWorker?idx='+idx
  }
	function search(){
		var form = $('#search_form');
		form.submit();
  }
	function nextPage(p_n){
		location.href = '/Seller/IMJOB/List?p_n='+p_n;
	}
	function IMJOBView(idx,p_n){
		location.href = '/Seller/IMJOB/IMJOBView?idx='+idx+'&p_n='+p_n;
	}

</script>