<?php
  // Left Menu
  require(__DIR__.'/Components/Left.html');
?>

<div class="flex-grow-1">
  <section class="seller-mypage py-5">
    <div class="auto-container">
      <div class="d-flex flex-wrap p-3" style="width: 1280px;">
        <div class="card-wrapper">
          <div class="card card-icon card-icon01">
            <div
              class="card-header d-flex justify-content-between align-items-center"
            >
              <h3 class="card-title">계약</h3>
              <a href="/Seller/Contract" class="more-btn">+more</a>
            </div>
            <div class="card-body d-flex flex-column justify-content-center">
              <div class="d-flex justify-content-between mb-3">
                <p class="card-text">계약 진행중</p>
                <p class="text-end"><strong><?=$contractList['count']?></strong>건</p>
              </div>
              <div class="d-flex justify-content-between">
                <p class="card-text">계약 완료</p>
                <p class="text-end"><strong><?=$completionContract['count']?></strong>건</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-wrapper">
          <div class="card card-icon card-icon02">
            <div
              class="card-header d-flex justify-content-between align-items-center"
            >
              <h3 class="card-title">매출</h3>
            </div>
            <div class="card-body d-flex flex-column justify-content-center">
              <div class="mb-2">
                <p class="card-text mb-1">총 매출액</p>
                <p class="text-end"><strong><?=number_format($totalSales['price'])?></strong>원</p>
              </div>
              <div>
                <p class="card-text mb-1">예상 매출액</p>
                <p class="text-end"><strong><?=number_format($expectationSales['price'])?></strong>원</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-wrapper">
          <div class="card card-icon card-icon03">
            <div
              class="card-header d-flex justify-content-between align-items-center"
            >
              <h3 class="card-title">인재</h3>
              <a href="/Seller/IMJOB/List" class="more-btn">+more</a>
            </div>
            <div class="card-body d-flex flex-column justify-content-center">
              <p class="card-text mb-2"><b>장애인 근로자 수 : <?=$_SESSION["disabledCount"]['worker_cnt']?>명</b></p>
              <p class="card-text mb-1 ps-3">- 중증 장애인 수 <strong><?=$_SESSION["disabledCount"]['degree_1_cnt']?></strong>명</p>
              <p class="card-text ps-3">- 경증 장애인 수 <strong><?=$_SESSION["disabledCount"]['degree_2_cnt']?></strong>명</p>
            </div>
          </div>
        </div>
        <div class="card-wrapper">
          <div class="card question-answer">
            <div
              class="card-header d-flex justify-content-between align-items-center"
            >
              <h3 class="card-title">문의사항</h3>
              <a href="/CS/Notice" class="more-btn">+more</a>
            </div>
            <div class="card-body">
              <ul class="nav nav-tabs flex-nowrap" id="qnaTab" role="tablist">
                <li class="nav-item flex-grow-1 position-relative" role="presentation">
                  <button
                    class="nav-link w-100 active"
                    id="contract-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#contract"
                    type="button"
                    role="tab"
                    aria-controls="contract"
                    aria-selected="true"
                  >
                    계약문의
                  </button>
                  <span class="new-badge contract-new-badge">N</span>
                </li>
                <li class="nav-item flex-grow-1 position-relative" role="presentation">
                  <button
                    class="nav-link w-100"
                    id="product-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#product"
                    type="button"
                    role="tab"
                    aria-controls="product"
                    aria-selected="false"
                  >
                    상품문의
                  </button>
                  <span class="new-badge product-new-badge">N</span>
                </li>
                <li class="nav-item flex-grow-1 position-relative" role="presentation">
                  <button
                    class="nav-link w-100"
                    id="extra-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#extra"
                    type="button"
                    role="tab"
                    aria-controls="extra"
                    aria-selected="false"
                  >
                    1:1 문의
                  </button>
                </li>
              </ul>
              <div class="tab-content mt-2">
                <div
                  class="tab-pane fade show active"
                  id="contract"
                  role="tabpanel"
                  aria-labelledby="contract-tab"
                >
                  <ul>
                    <li>
                      <a class="d-flex justify-content-between new" href="">
                        <span>(구매기업)상품명</span><span class="flex-shrink-0 text-secondary">22-08-01</span>
                      </a>
                    </li>
                    <li>
                      <a class="d-flex justify-content-between" href="">
                        <span>(구매기업)상품명</span><span class="flex-shrink-0 text-secondary">22-08-01</span>
                      </a>
                    </li>
                    <li>
                      <a class="d-flex justify-content-between" href="">
                        <span>(구매기업)상품명</span><span class="flex-shrink-0 text-secondary">22-08-01</span>
                      </a>
                    </li>
                    <li>
                      <a class="d-flex justify-content-between" href="">
                        <span>(구매기업)상품명</span><span
                        class="flex-shrink-0 text-secondary">22-08-01</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div
                  class="tab-pane fade"
                  id="product"
                  role="tabpanel"
                  aria-labelledby="product-tab"
                >
                  <ul>
                    <li>
                      <a class="d-flex justify-content-between new" href="">
                        <span>상품명[댓글수]</span><span class="flex-shrink-0 text-secondary">22-08-01</span>
                      </a>
                    </li>
                    <li>
                      <a class="d-flex justify-content-between" href="">
                        <span>상품명[2]</span><span class="flex-shrink-0 text-secondary">22-08-01</span>
                      </a>
                    </li>
                    <li>
                      <a class="d-flex justify-content-between" href="">
                        <span>상품명[1]</span><span class="flex-shrink-0 text-secondary">22-08-01</span>
                      </a>
                    </li>
                    <li>
                      <a class="d-flex justify-content-between" href="">
                        <span>상품명[0]</span><span class="flex-shrink-0 text-secondary">22-08-01</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div
                  class="tab-pane fade"
                  id="extra"
                  role="tabpanel"
                  aria-labelledby="extra-tab"
                >
                  <?php
                   if(is_array($questions)&& count($questions) > 0){
                  foreach($questions as $item){
                  ?>
                  <ul>
                    <li>
                      <a class="d-flex justify-content-between new" href="/CS/Questions/Detail?idx=<?=$item['idx']?>">
                        <span><?=$item['title']?></span><span class="flex-shrink-0 text-secondary"><?=substr($item["register_date"],0,10)?></span>
                        <?php if($item["board_status"]==1){ ?>
                        <span class="badge bg-info">답변대기</span>
                        <?php
                         }
                         if($item["board_status"]==2 && substr($item['update_date'],0,10) == substr(date("Y-m-d H:i:s"),0,10)){
                          ?>
                        <span class="badge bg-success">답변완료</span> New
                        <?php
                         }if($item["board_status"]==2 && substr($item['update_date'],0,10) !=  substr(date("Y-m-d H:i:s"),0,10)){
                          ?>
                        <span class="badge bg-success">답변완료</span>
                        <?php
                        }
                        ?>
                      </a>
                    </li>
                  </ul>
                  <?php
                  }
                  }else{
                  ?>
                  <p>등록된 게시물이 없습니다</p>
                  <?php
                  }
                  ?>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-wrapper">
          <div class="card card-board">
            <div
              class="card-header d-flex justify-content-between align-items-center"
            >
              <h3 class="card-title">공지사항</h3>
              <a href="/CS/Notice" class="more-btn">+more</a>
            </div>
            <div class="card-body">
              <ul>
                <li><a href="">[공지사항]공지사항공지사항공지사항</a></li>
                <li><a href="">[공지사항]공지사항공지사항공지사항공지사항공지사항공지사항</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-wrapper my-info-card">
          <div class="card card-board">
            <div
              class="card-header d-flex justify-content-between align-items-center"
            >
              <h3 class="card-title">나의정보 관리</h3>
<!--              <a href="#" class="more-btn">+more</a>-->
            </div>
            <div class="card-body">
              <ul class="row mt-4">
                <li class="col text-center border-end">
                  <a class="pt-1 pb-3 d-block rounded" href="/Seller/MyPage/Info">
                    <span class="d-block w-100 pt-3 pb-4">
                      <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="#777" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                      </svg>
                    </span>
                    <p class="mt-2 fw-bold">나의정보 수정</p>
                  </a>
                </li>
                <li class="col text-center">
                  <a class="pt-1 pb-3 d-block rounded" href="/Seller/MyPage/ConfirmPassword">
                    <span class="d-block w-100 pt-3 pb-4">
                      <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="#777" class="bi bi-key" viewBox="0 0 16 16">
                        <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                      </svg>
                    </span>
                    <p class="mt-2 fw-bold">비밀번호 변경</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  const tabButtons = document.querySelectorAll('.question-answer .nav-link');
	let tabLink = document.querySelector('.question-answer .more-btn');
	tabButtons.forEach(button => {
		button.addEventListener('click', function() {
      switch (this.id) {
        case 'contract-tab':
					tabLink.href = '/Seller/Contract';
					break;
				case 'product-tab':
					tabLink.href = '/Seller/Item/ItemList';
					break;
				case 'extra-tab':
					tabLink.href = '/CS/Questions';
					break;
        default:
					break;
      }
    })
  })

</script>
