<?php
  // Left Menu
  require(__DIR__.'/Components/Left.html');
?>
<div class="flex-grow-1 bg-light">
  <section class="py-5 mb-5">
    <div class="auto-container">
      <div class="bg-white p-5">
        <h4 class="fw-bold pb-3 border-bottom border-2">장애인 근로자 등록</h4>
        <form id="reg_form" method="post" action="/<?=_CONTROLLER?>/reg_worker" enctype="multipart/form-data">
          <div class="d-flex py-5">
            <div class="me-5">
              <div class="border upload_face-preview" style="width: 150px; height: 192px; background: center / contain url('/assets/images/resource/icons/person_filled.svg') no-repeat;"></div>
            </div>

            <div class="flex-grow-1">
              <div class="row mb-3 align-items-center">
                <div class="col-2">
                  <label for="worker_name" class="form-label m-0 fw-bold">이름</label>
                </div>
                <div class="col-6">
                  <input type="text" class="form-control" id="worker_name" name="worker_name">
                </div>
                <div class="invalid-feedback">
                  관심사는 반드시 선택해야 합니다.
                </div>
              </div>

              <div class="row mb-3 align-items-center">
                <span class="col-2 fw-bold">계약기간</span>
                <div class="col-6 d-flex">
                  <label class="visually-hidden" for="worker_term_start">계약시작일</label>
                  <input type="date" class="form-control" id="worker_term_start" name="worker_term_start">
                  <span class="px-2">-</span>
                  <label class="visually-hidden" for="worker_term_end">계약종료일</label>
                  <input type="date" class="form-control" id="worker_term_end" name="worker_term_end">
                </div>
              </div>

              <div class="row mb-3 align-items-center">
                <div class="col-2">
                  <label for="worker_birth" class="fw-bold">생년월일</label>
                </div>
                <div class="col-6">
                  <input type="text" class="form-control" id="worker_birth" name="worker_birth" placeholder="주민앞자리6숫자" maxlength="6">
                </div>
              </div>

              <div class="row mb-3 align-items-center">
                <span class="col-2 fw-bold">근무 상태</span>
                <div class="col-6 d-flex">
                  <label class="form-check-label me-3" for="flexCheck01">
                    <input class="form-check-input" type="radio" value="1" id="flexCheck01" name="working_status" checked>
                    근무
                  </label>
                  <label class="form-check-label me-3" for="flexCheck02">
                    <input class="form-check-input" type="radio" value="2" id="flexCheck02" name="working_status">
                    퇴직
                  </label>
                  <label class="form-check-label me-3" for="flexCheck03">
                    <input class="form-check-input" type="radio" value="3" id="flexCheck03" name="working_status">
                    휴직
                  </label>
                </div>
              </div>

              <div class="row mb-3 align-items-center">
                <span class="col-2 fw-bold">장애유형</span>
                <div class="col-6 d-flex">
                  <label class="form-check-label me-3" for="flexCheck04">
                    <input class="form-check-input" type="radio" value="1" id="flexCheck04" name="disability_degree" checked>
                    중증
                  </label>
                  <label class="form-check-label me-3" for="flexCheck05">
                    <input class="form-check-input" type="radio" value="2" id="flexCheck05" name="disability_degree">
                    경증
                  </label>
                </div>
              </div>

              <div class="row mb-3 align-items-center">
                <div class="col-2">
                  <label for="upload_face" class="form-label m-0 fw-bold">사진 업로드</label>
                </div>
                <div class="col-6">
                  <input class="form-control" type="file" id="upload_face" name="upload_face">
                </div>
              </div>

              <div class="row mb-3 align-items-center">
                <div class="col-2">
                  <label for="upload_card" class="form-label m-0 fw-bold">복지카드 업로드</label>
                </div>
                <div class="col-6">
                  <input class="form-control" type="file" id="upload_card" name="upload_card">
                </div>
              </div>

            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-outline-success" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
              </svg> 일괄등록
            </button>
            <button class="btn btn-primary" onclick="f_submit()" type="button">등록하기</button>
            <button class="btn btn-outline-secondary" type="reset">취소하기</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
<script>
  /* 사진 미리보기 시작 */
  const image_input = document.querySelector("#upload_face");
  const image_preview = document.querySelector(".upload_face-preview");
  let uploaded_image = "";

  image_input.addEventListener("change", function () {
    const reader = new FileReader();
    reader.addEventListener("load", () => {
      uploaded_image = reader.result;
      image_preview.style.backgroundSize = `contain`;
      image_preview.style.backgroundImage = `url(${uploaded_image})`;
    });
    reader.readAsDataURL(this.files[0]);
  });

  image_preview.addEventListener("click", () => image_input.click());
  /* 사진 미리보기 끝 */

  function validation(){
		if($("#worker_name").val() == ""){
			$("#worker_name").addClass("is-invalid");
			$("#worker_name").focus();
			return false;
		}else if($("#worker_term_start").val() == ""){
			$("#worker_term_start").addClass("is-invalid");
			$("#worker_term_start").focus();
			return false;
    }else if($("#worker_term_end").val() == ""){
			$("#worker_term_end").addClass("is-invalid");
			$("#worker_term_end").focus();
			return false;
    }else if($("#worker_birth").val() == ""){
			$("#worker_birth").addClass("is-invalid");
			$("#worker_birth").focus();
			return false;
		}else if($("#portrait-photo-input").val() == ""){
			$("#portrait-photo-input").addClass("is-invalid");
			$("#portrait-photo-input").focus();
			return false;
		}else if($("#formFile").val() == "") {
			$("#formFile").addClass("is-invalid");
			$("#formFile").focus();
			return false;
		}else {
			return true;
    }
  }
	function f_submit(){
		if(validation()) {
			var form = $('#reg_form');
			form.submit();
		}
	};
</script>