<nav class="d-flex justify-content-between align-items-center px-2 pb-3 border-bottom border-2 buyer-mypage-nav">
  <h2 class="mb-0 h5 fw-bold">마이페이지</h2>
  <ul class="d-flex buyer-nav">
    <li><a class="text-secondary" href="/Buyer/MyPage/Info">기업정보 관리</a></li>
    <li><a class="text-secondary" href="/Buyer/MyPage/ConfirmPassword">비밀번호변경</a></li>
    <li><a class="text-secondary" href="/Buyer/MyPage/Cart">장바구니</a></li>
    <li><a class="text-secondary" href="/Buyer/MyPage/Contract"><!--href="/Buyer/MyPage/Contract">-->계약현황</a></li>
    <li><a class="text-secondary" href="/Buyer/MyPage/DeliveryStatus">배송조회</a></li>
  </ul>
  <input type="hidden" name ="uuid" id = "uuid" value="<?=$_SESSION['login_info']['uuid']?>">
</nav>
<form name="myForm" id="myForm" method="post" action="/Buyer/MyPage/Contract">
</form>
<script>
  const navLinks = document.querySelectorAll('.buyer-mypage-nav a');

  navLinks.forEach((nav) => {
    if (nav.pathname === window.location.pathname) {
      nav.classList.add('on')
    } else {
      nav.classList.remove('on')
    }
		if(window.location.pathname === '/Buyer/MyPage/ChangePassword') {
			document.querySelector('a[href="/Buyer/MyPage/ConfirmPassword"]').classList.add('on')
    }
  })
function contractMove(){
  $("#myForm").submit();
}
/*	function contract_status(){
		var uuid = $("#uuid").val();
		const options = {
			method: 'GET',
			headers: {
				accept: 'application/json',
				Authorization: 'esignon jlxfF8HAeRw1/8iUN5OVSH+060OTnZ+j7vRJdTHLFVSMzuM3n4MCaavEg6S0rFMpVNTkFsgGBWJ2usJ1j9T8uni3QARD+1L1cLc7W+PJ/M9dMoyAruRZ1C3NQusJ88gQ0utugU+hNRE='
			}
		};

		fetch('https://docs.esignon.net/api/v3/workflows/search-with-value?offset=%2B09%3A00&template_id=6&field_name=buyer_uuid&field_value='+uuid+'', options)
				.then(response => response.json())
				.then(response => {
					var workflow_id = [];
					var j = 0;
					for(var i =0; i <response['workflow_list'].length; i++){
						if(response['workflow_list'][i]['status'] == "Complete"){
							workflow_id[j] = response['workflow_list'][i]['workflow_id'];
							$('#workflow_id').val(workflow_id);
							j++;
						}
					}
                  $("#myForm").submit();
				})
				.catch(err => console.error(err));
	}*/
</script>