<?php
  // Left Menu
  require APPPATH . '/Views/Buyer/Components/Left.html';
?>
<div class="flex-grow-1">
  <section class="buyer-contract">
    <div class="auto-container py-5">
      <?php
        // NAV
        require(__DIR__.'/Components/Nav.html');
      ?>
      <form name="myForm" method="GET" action="/Buyer/MyPage/Contract" >
        <table class="w-100 bg-light search-table">
          <tbody>
          <tr>
            <th>계약번호</th>
            <td>
              <input name="search_A"class="form-control me-3" type="text"
              <?php if($_GET["search_A"] != ""){ echo "value='".$_GET["search_A"]."'";}?>/>
            </td>
          </tr>
          <tr>
            <th>계약상태</th>
            <td>
              <label class="form-check-label" for="all">
                <input class="form-check-input" name="search_B" type="radio" value="all" id="all" <?php if($_GET["search_B"] == "all" || $_GET["search_B"] == ""){ echo "checked";}?>/> 전체
              </label>
              <label class="form-check-label" for="proceeding">
                <input class="form-check-input" name="search_B" type="radio" value="1" id="proceeding" <?php if($_GET["search_B"] == "1"){ echo "checked";}?>/> 승인대기
              </label>
              <label class="form-check-label" for="changed">
                <input class="form-check-input" name="search_B" type="radio" value="2" id="changed" <?php if($_GET["search_B"] == "2"){ echo "checked";}?>/> 진행중
              </label>
              <label class="form-check-label" for="completed">
                <input class="form-check-input" name="search_B" type="radio" value="5" id="completed" <?php if($_GET["search_B"] == "5"){ echo "checked";}?>/> 계약완료
              </label>
            </td>
          </tr>
       <!--   <tr>
            <th>카테고리</th>
            <td>
              <select name ="search_C" class="form-select" aria-label="Default select example">
               <option selected>전체</option>
                <option value="1">사무용품</option>
                <option value="2">생활용품</option>
                <option value="3">전산용품</option>
                <option value="4">식음료</option>
                <option value="5">청소용품</option>
              </select>
            </td>
          </tr>-->
          </tbody>
        </table>
        <div class="mt-3 text-center">
          <button class="btn btn-primary" type="submit">검색</button>
          <button class="btn btn-outline-secondary" type="reset">초기화</button>
        </div>
      </form>
        <table class="table table-striped text-center mt-5 result-table">
          <thead>
          <tr>
            <th>No.</th>
            <th>계약상태</th>
            <th>계약번호</th>
            <th>상품명</th>
            <th>카테고리</th>
            <th>물품 수량</th>
            <th>계약금액</th>
            <th>감면금액</th>
            <th>계약 등록일</th>
            <th>배송주기</th>
            <th>판매기업</th>
            <th>상세보기</th>
          </tr>
          </thead>
          <tbody>
          <?php
          if(is_array($data) && count($data) > 0){
          foreach($data as $item){
          $status = "";
          if($item["contract_status"] == 1){
          $status = "승인대기";
          }else if($item["contract_status"] == 2){
          $status = "진행중";
          }else if($item["contract_status"] == 3){
          $status = "구매기업 승인";
          }else if($item["contract_status"] ==5){
          $status = "계약완료";
          }else if($item["contract_status"] == 7){
          $status = "반려";
          }
          else if($item["contract_status"] == 9){
          $status = "계약취소";
          }

          $delivery_cycle = "";
          if($item["delivery_cycle"] == 1){
          $delivery_cycle = "1번";
          }else if($item["delivery_cycle"] == 2){
          $delivery_cycle = "1주일에 한 번";
          }else if($item["delivery_cycle"] == 3){
          $delivery_cycle = "1달에 한 번";
          }else if($item["delivery_cycle"] ==4){
          $delivery_cycle = "2달에 한 번";
          }else if($item["delivery_cycle"] == 5){
          $delivery_cycle = "6달에 한 번";
          }
          $category = "";
          if($item["product_category"] == 1){
          $category = "사무용품";
          }else if($item["product_category"] == 2){
          $category = "생활용품";
          }else if($item["product_category"] == 3){
          $category = "전산용품";
          }else if($item["product_category"] == 4){
          $category = "식음료";
          }else if($item["product_category"] == 5){
          $category = "청소용품";
          }
          ?>

          <tr>
            <td><?=$item["cidx"]?></td>
            <td title="진행중"><?=$status?></td>
            <td title="20220801090000-00001"><a onclick="Contract_Return(<?=$item['workflow_id']?>);"><?=$item["contract_no"]?></a></td>
            <td title="친환경중질지70gA4용지"><?=$item["product_name"]?></td>
            <td title="사무용품"><?=$category?></td>
            <td title="100BOX"><?=$item["product_quantity"]?></td>
            <td title="250,000,000"><?=$item["product_price"]?></td>
            <td title="25,000,000">25,000,000</td>
            <td title="2022-08-01"><?=$item["register_date"]?></td>
            <td title="일주일에 한번"><?=$delivery_cycle?></td>
            <td title="22-08-02"><?=$item["seller_company"]?></td>
            <td title="22-08-02">
              <?php
            if($item["contract_status"] == 2 || $item["contract_status"] == 5){
              ?><button class ="btn btn-success" onclick="Contract_Return(<?=$item['workflow_id']?>,<?=$item['contract_status']?>);">이메일로 받기</button>
              <?php
            }
            ?>
            </td>
          </tr>
          <?php
          }
          }
          ?>
          </tbody>
        </table>
      </form>
    </div>
  </section>
</div>
<script>
function Contract_Return(workflow_id,status){
  if(status == 2){
    Contract_Playing(workflow_id);
    alert("이메일로 진행중인 계약서를 전송하였습니다.");
  }if(status == 5){
    Contract_Complate(workflow_id);
    alert("이메일로 완료된 계약서를 전송하였습니다.")
  }
}
  function Contract_Playing(workflow_id){
    const options = {
      method: 'POST',
      headers: {
        accept: 'application/json',
        Authorization: 'esignon jlxfF8HAeRw1/8iUN5OVSH+060OTnZ+j7vRJdTHLFVSMzuM3n4MCaavEg6S0rFMpVNTkFsgGBWJ2usJ1j9T8uni3QARD+1L1cLc7W+PJ/M9dMoyAruRZ1C3NQusJ88gQ0utugU+hNRE='
      }
    };
    fetch('https://docs.esignon.net/api/v3/workflows/'+workflow_id+'/resend-playing', options)
            .then(response => response.json())
            .then(response => console.log(response))
            .catch(err => console.error(err));
  }

  function Contract_Complate(workflow_id){
    const sdk = require('api')('@esignon/v3.0#g604e4pl30t2t5s');
    sdk.auth('esignon jlxfF8HAeRw1/8iUN5OVSH+060OTnZ+j7vRJdTHLFVSMzuM3n4MCaavEg6S0rFMpVNTkFsgGBWJ2usJ1j9T8uni3QARD+1L1cLc7W+PJ/M9dMoyAruRZ1C3NQusJ88gQ0utugU+hNRE=');
    sdk.resendCompleteWorkflow({workflowId:workflow_id})
            .then(res => console.log(res))
            .catch(err => console.error(err));
  }
</script>