<?php
  // Left Menu
  require APPPATH . '/Views/Buyer/Components/Left.html';
?>
<div class="flex-grow-1">
  <section class="buyer-cart">
    <div class="auto-container py-5">
      <?php
        // NAV
        require(__DIR__.'/Components/Nav.html');
      ?>
      <h3 class="mt-5 h4 fw-bold text-center">장바구니</h3>
      <div class="px-3 mb-5">
        <div class="d-flex justify-content-between align-items-center mb-4 pb-3 border-bottom ">
          <p>상품목록 (총 <span><?php echo count($data)?></span>개)</p>
          <div class="d-flex">
            <select class="form-select form-select-sm me-3" aria-label="Default select example">
              <option selected>최근등록일순</option>
              <option value="1">낮은가격순</option>
              <option value="2">높은가격순</option>
              <option value="3">전체</option>
            </select>
            <select class="form-select form-select-sm" aria-label="Default select example">
              <option selected>20개씩</option>
              <option value="1">50개씩</option>
              <option value="2">100개씩</option>
              <option value="3">200개씩</option>
            </select>
          </div>
        </div>

        <table class="table">
          <thead>
          <tr>
            <th>
              상품사진
            </th>
            <th>
              회사명/상품명
            </th>
            <th>
              상품구분
            </th>
            <th>
              계약금액
            </th>
            <th>
              감면액
            </th>
            <th>

            </th>
          </tr>
          </thead>
          <tbody>
          <?php
          if(is_array($data)){
        foreach($data as $item){
        ?>
          <form name="myForm" method="post" action="">
          <input type="hidden" name="product_no" value="<?=$item['product_no']?>">
          <input type="hidden" name="buyer_uuid" value="<?=$item['buyer_id']?>">
          <input type="hidden" name="seller_uuid" value="<?=$item['seller_id']?>">

          <tr>
            <td>
              <img src="/assets/images/resource/products/item01.png" alt="기업로고">
            </td>
            <td>
              <h4><a href=""><span class="text-primary"><?=$item['company_name']?></span> / <?=$item['product_name']?></a></h4>
              <p class="sub-info"><?=$item['product_detail']?></p>
            </td>
            <td>
              <p><?=$item['product_quantity']?></p>
            </td>
            <td>
              <p><?=$item['product_price']?>원</p>
            </td>
            <td>
              <p>23,520,000원</p>
            </td>
            <td>
              <button class="btn btn-sm btn-danger">삭제</button>
              <button onclick="contract();" class="btn btn-sm btn-success">계약하기</button>
            </td>
          </tr>
          <?php
                }
              }
            ?>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
<script>
  function contract(){
    document.myForm.action='/Buyer/Contract';
    document.myForm.submit();
  }
</script>