<?php
  // Left Menu
  require APPPATH . '/Views/Buyer/Components/Left.html';
?>
<div class="flex-grow-1">
  <section class="buyer-info">
    <div class="auto-container py-5">
      <?php
        // NAV
        require(__DIR__.'/Components/Nav.html');
      ?>
      <h3 class="mt-5 h4 fw-bold text-center">나의정보 수정</h3>
      <div class="default-form border rounded my-4 p-4">
        <div class="form-inner">
          <form name="myForm" method="post" action="/Buyer/MyPage/BuyerUpdateSubmit" enctype="multipart/form-data">
            <input type="hidden" name="sbs" value="<?=$sbs?>">
            <input type="hidden" name="ads" value="<?=$ads?>">

            <div class="read-only-group">
              <p class="my-2"><sup class="text-danger">*</sup><a title="이메일주소">이메일주소</a></p>
              <p type="text"><?=$data["email"]?></p>
            </div>
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="비밀번호 필수입력">현재 비밀번호</a></label>
              <input type="password" name="password" placeholder="영문+숫자+특수문자 조합 6자 이상" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,32}$" title="영문+숫자+특수문자 조합 6자 이상 비밀번호 입력" tabindex=100 required>
            </div>

            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="담당자 이름 필수입력">담당자 이름</a></label>
              <input type="text" name="buyer_name" value ="<?=$data['buyer_name']?>" placeholder="담당자이름을 입력해주세요" title="담당자 이름 입력" tabindex=100 required>
            </div>
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="휴대폰번호 필수입력">휴대폰번호</a></label>
              <input type="text" class="mask-phone" value ="<?=$data['phone']?>" name="phone" placeholder="숫자, '-'만 입력" title="휴대폰번호 숫자, '-'만 입력" tabindex=100 required>
            </div>
            <div class="read-only-group">
              <p class="my-2"><sup class="text-danger">*</sup><a title="사업체명 필수입력">사업체명</a></p>
              <p title="사업체명"><?=$data["company_name"]?></p>
            </div>
            <div class="read-only-group">
              <p class="my-2"><sup class="text-danger">*</sup><a title="사업자등록번호 필수입력">사업자등록번호</a></small></p>
              <p type="text" title="사업자등록번호"><?=$data["company_code"]?></p>
            </div>
            <div class="form-group">
              <p class="mt-4 mb-2"><sup class="text-danger">*</sup><a title="기업형태 필수입력" class="text-dark">기업형태</a></p>
              <label class="me-3">
                <input type="radio" name="classification" value="1" <?php if($data['classification']==1){echo "checked";}?>>민간기업
              </label>
              <label class="me-3">
                <input type="radio" name="classification" value="2" <?php if($data['classification']==2){echo "checked";}?>>공공기관
              </label>
              <label class="me-3">
                <input type="radio" name="classification" value="3" <?php if($data['classification']==3){echo "checked";}?>>국가/자치단체
              </label>
            </div>
            <div class="form-group">
              <label class="my-2"><a title="팩스번호">팩스번호</a></label>
              <input type="text" class="mask-phone" value ="<?=$data['fax']?>" name="fax" placeholder="숫자, '-'만 입력" title="팩스번호 숫자, '-'만 입력" tabindex=100>
            </div>
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="담당자 이름 필수입력">주소</a></label>
              <input type="text" name="address" value ="<?=$data['address']?>" placeholder="주소를 입력해주세요" title="담당자 이름 입력"  tabindex=100 required>
            </div>
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="상시 근로자 수 필수입력">상시 근로자 수 </a></label>
              <input type="text" name="workers" value ="<?=$data['workers']?>" placeholder="숫자만 입력" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')" title="상시 근로자 수 입력" tabindex=100 required>
            </div>
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="경증 장애인 근로자 수 필수입력">경증 장애인 근로자 수</a></label>
              <input type="text" name="mild_disabled" value ="<?=$data['mild_disabled']?>" placeholder="숫자만 입력" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')" title="경증 장애인 근로자 수 입력" tabindex=100 required>
            </div>
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="중증 장애인 근로자 수 필수입력">중증 장애인 근로자 수</a></label>
              <input type="text" name="severely_disabled" value ="<?=$data['severely_disabled']?>" placeholder="숫자만 입력" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')" title="중증 장애인 근로자 수 입력" tabindex=100 required>
            </div>
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="적용 법인세율">적용 법인세율</a></label>
              <input type="text" name="tax_rate" value ="<?=$data['tax_rate']?>" placeholder="숫자만 입력" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')" title="적용법인 세율 입력" tabindex=100 >
            </div>
            <div class="">
              <p class="my-2"><a title="관심상품">관심상품</a></p>
              <label class="form-check-label me-1"><input class="form-check-input" type="checkbox" value="Y" name="interest_office" <?php if($data['interest_office']=='Y'){echo "checked";}?>> 사무용품</label>
              <label class="form-check-label me-1"><input class="form-check-input" type="checkbox" value="Y" name="interest_daily" <?php if($data['interest_daily']=='Y'){echo "checked";}?>> 생활용품</label>
              <label class="form-check-label me-1"><input class="form-check-input" type="checkbox" value="Y" name="interest_computerized" <?php if($data['interest_computerized']=='Y'){echo "checked";}?>> 전산용품</label>
              <label class="form-check-label me-1"><input class="form-check-input" type="checkbox" value="Y" name="interest_food" <?php if($data['interest_food']=='Y'){echo "checked";}?>> 식음료</label>
              <label class="form-check-label me-1"><input class="form-check-input" type="checkbox" value="Y" name="interest_cleaning" <?php if($data['interest_cleaning']=='Y'){echo "checked";}?>> 청소용품</label>
            </div>
            <br>

            <div class="form-group mt-5 d-flex justify-content-center">
              <button type="button" onclick="history.back()" class="theme-btn btn-style-three py-3 me-3" tabindex=100>취소</button>
              <button type="submit" class="theme-btn btn-style-one py-3" tabindex=100>수정</button>
            </div>
          </form>
     <!--       <div class="form-group">
              <label for="formFile" class="form-label my-2"><sup class="text-danger">*</sup><a title="사업자등록증 첨부">사업자등록증 첨부</a></label>
              <input id="formFile" type="file" class="form-control" name="buyer_documents" placeholder="사업자등록증 첨부" title="사업자등록증 첨부" tabindex=100 required>
            </div>-->
       <!--     <div class="form-group mt-5 d-flex justify-content-center">
              <button type="button" class="theme-btn btn-style-three py-3 me-3" tabindex=100>취소</button>
              <button type="button" onclick="BuyerUpdateSubmit()" class="theme-btn btn-style-one py-3" tabindex=100>수정</button>
            </div>-->
        </div>
      </div>
    </div>
  </section>
</div>
