<?php
  // Left Menu
  require APPPATH . '/Views/Seller/Components/Left.html';
?>
<div class="flex-grow-1">
  <section class="seller-info">
    <div class="auto-container py-5">
      <h2 class="mb-5 h4 fw-bold text-center">나의정보수정</h2>

      <div id="row">
        <div class="col-12">
          <div class="default-form border rounded my-4 p-4">
            <div class="form-inner">
              <form name="form-submit" method="post" action="/Seller/MyPage/InfoUpdate" enctype="multipart/form-data">
                <input type="hidden" name="sbs" value="<?=$sbs?>">
                <input type="hidden" name="ads" value="<?=$ads?>">

<!--                <div class="add-logo-img mb-3">

                  <div class="row">
                    <div class="col-2">
                      <label for="representative-img" class="form-label">
                        <div
                            class="preview-bg-img bg-light border rounded"
                            style="background-image: url(/assets/images/resource/icons/image.svg);
                                background-size: 30%;
                                width: 200px;
                                height: 200px;
                                background-position: center;
                                background-repeat: no-repeat;
                            }"
                        ></div>
                      </label>
                    </div>
                    <div class="col-5 ms-4">
                      <p class="mb-3"><sup class="text-danger">*</sup> 기업로고 이미지</p>
                      <input id="representative-img" name="representative_image" class="form-control product-img-input"
                           type="file" accept="image/*" required/>
                    </div>


                  </div>
                </div>-->

                <div class="read-only-group">
                  <p class="my-2"><sup class="text-danger">*</sup><a title="이메일주소">이메일주소</a></p>
                  <input type="hidden" name="email" value="<?=$data['email']?>">
                  <p type="text"><?=$data["email"]?></p>
                </div>
                <div class="form-group">
                  <label class="my-2"><sup class="text-danger">*</sup><a title="비밀번호 필수입력">현재 비밀번호</a></label>
                  <input type="password" name="password" placeholder="영문+숫자+특수문자 조합 6자 이상"
                         title="영문+숫자+특수문자 조합 6자 이상 비밀번호 입력" tabindex=100 required>
                </div>
                <div class="form-group">
                  <label class="my-2"><sup class="text-danger">*</sup><a title="담당자 이름 필수입력">담당자 이름</a></label>
                  <input type="text" name="seller_name" value ="<?=$data['seller_name']?>" placeholder="담당자이름을 입력해주세요" title="담당자 이름 입력" tabindex=100
                         required>
                </div>
                <div class="form-group">
                  <label class="my-2"><sup class="text-danger">*</sup><a title="휴대폰번호 필수입력">휴대폰번호</a></label>
                  <input type="text" class="mask-phone"   value ="<?=$data['phone']?>" name="phone" placeholder="숫자만 입력해주세요" title="휴대폰번호 숫자만 입력"
                         tabindex=100 required>
                </div>
                <div class="form-group">
                  <label class="my-2"><sup class="text-danger">*</sup><a title="사업체명 필수입력">사업체명</a></label>
                  <input type="text" name="company_name" value ="<?=$data['company_name']?>" placeholder="사업체명을 입력해주세요" title="사업체명 입력" tabindex=100
                         required>
                </div>
                <div class="form-group">
                  <label class="my-2"><sup class="text-danger">*</sup><a title="사업자등록번호 필수입력">사업자등록번호</a></small>
                  </label>
                  <input type="text" name="company_code"  value ="<?=$data['company_code']?>" class="mask-business-number" placeholder="숫자만 입력해 주세요."
                         title="사업자등록번호 입력" tabindex=100 required>
                </div>
                <div class="form-group">
                  <p class="mt-4 mb-2 text-dark"><sup class="text-danger">*</sup><a title="기업형태 필수입력">기업형태</a></p>
                  <div>
                    <label class="me-2">
                      <input type="radio" name="classification" value="1" class="me-1" <?php if($data['classification']==1){echo "checked";}?>>장애인 표준사업장
                    </label>
                    <label class="me-2">
                      <input type="radio" name="classification" value="2" class="me-1" <?php if($data['classification']==2){echo "checked";}?>>장애인 직업재활시설
                    </label>
                    <label class="me-2">
                      <input type="radio" name="classification" value="3" class="me-1" <?php if($data['classification']==3){echo "checked";}?>>중증장애인생산품 생산시설
                    </label>
                    <label class="me-2">
                      <input type="radio" name="classification" value="4" class="me-1" <?php if($data['classification']==4){echo "checked";}?>>장애인기업
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="my-2"><a title="팩스번호">팩스번호</a></label>
                  <input type="text" class="mask-phone" name="fax" value ="<?=$data['fax']?>" placeholder="숫자, '-'만 입력" title="팩스번호 숫자, '-'만 입력"
                         tabindex=100>
                </div>
                <div class="form-group">
                  <label class="my-2"><sup class="text-danger">*</sup><a title="담당자 이름 필수입력">주소</a></label>
                  <input type="text" name="address"  value ="<?=$data['address']?>" placeholder="주소를 입력해주세요" title="담당자 이름 입력" tabindex=100 required>
                </div>
                <div class="form-group">
                  <label class="my-2"><sup class="text-danger">*</sup><a title="올해 예상 매출액 필수입력">올해 예상 매출액</a></label>
                  <input type="text" name="seller_sales" value ="<?=$data['seller_sales']?>"  placeholder="숫자만 입력"
                         oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')"
                         title="상시 근로자 수 입력" tabindex=100 required>
                </div>
                <div class="form-group">
                  <label class="my-2"><sup class="text-danger">*</sup><a title="경증 장애인 근로자 수 필수입력">경증 장애인 근로자
                    수</a></label>
                  <input type="text" name="mild_disabled" value ="<?=$data['mild_disabled']?>"  placeholder="숫자만 입력"
                         oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')"
                         title="경증 장애인 근로자 수 입력" tabindex=100 required>
                </div>
                <div class="form-group">
                  <label class="my-2"><sup class="text-danger">*</sup><a title="중증 장애인 근로자 수 필수입력">중증 장애인 근로자
                    수</a></label>
                  <input type="text" name="severely_disabled" value ="<?=$data['severely_disabled']?>" placeholder="숫자만 입력"
                         oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')"
                         title="중증 장애인 근로자 수 입력" tabindex=100 required>
                </div>

                <div class="form-group">
                  <label class="my-2"><a title="사업자등록증 첨부">사업자등록증 첨부</a></label>
                  <button class="btn btn-outline-secondary btn-sm my-2 fw-normal" type="button"  onclick="downloadFileNew('<?=$data["seller_business_license"]?>','<?=$data["seller_business_license_ori"]?>');">기존파일 다운로드</button>
                  <input type="file" name="seller_business_license" class="form-control" placeholder="사업자등록증 첨부"
                         title="사업자등록증 첨부" tabindex=100>
                  <input type="hidden" name="seller_business_license" value='<?=$data["seller_business_license"]?>'>
                  <input type="hidden" name="seller_business_license_ori" value='<?=$data["seller_business_license_ori"]?>'>
                </div>
                <div class="form-group">
                  <label class="my-2"><a title="인증서류(장애인표준사업장 등록증 or 장애인직업재활시설 등록증)첨부">인증서류(장애인표준사업장
                    등록증 or 장애인직업재활시설 등록증)첨부</a></label>
                  <button class="btn btn-outline-secondary btn-sm my-2 fw-normal" type="button"  onclick="downloadFileNew('<?=$data["seller_information"]?>','<?=$data["seller_information_ori"]?>');">기존파일 다운로드</button>
                  <input type="file" name="seller_documents" class="form-control" placeholder="인증서류 첨부"
                         title="인증서류 첨부" tabindex=100>
                  <input type="hidden" name="seller_information" value='<?=$data["seller_information"]?>'>
                  <input type="hidden" name="seller_information_ori" value='<?=$data["seller_information_ori"]?>'></div>
                <div class="form-group">
                  <label class="my-2"><a title="매출증빙 첨부">매출증빙 첨부</a></label>
                  <button class="btn btn-outline-secondary btn-sm my-2 fw-normal" type="button"  onclick="downloadFileNew('<?=$data["sales_file"]?>','<?=$data["sales_file_ori"]?>');">기존파일 다운로드</button>
                  <input type="file" name="sales_file" class="form-control" placeholder="매출증빙 첨부"
                         title="매출증빙 첨부" tabindex=100>
                  <input type="hidden" name="sales_file" value='<?=$data["sales_file"]?>'>
                  <input type="hidden" name="sales_file_ori" value='<?=$data["sales_file_ori"]?>'>
                </div>
                <div class="form-group">
                  <label class="my-2"><a title="장애인근로자 증빙서류 첨부">장애인근로자 증빙서류 첨부</a></label>
                  <button class="btn btn-outline-secondary btn-sm my-2 fw-normal" type="button"  onclick="downloadFileNew('<?=$data["workers_file"]?>','<?=$data["workers_file_ori"]?>');">기존파일 다운로드</button>
                  <input type="file" name="workers_file" class="form-control" placeholder="장애인근로자 증빙서류 첨부"
                         title="장애인근로자 증빙서류 첨부" tabindex=100>
                  <input type="hidden" name="workers_file" value='<?=$data["workers_file"]?>'>
                  <input type="hidden" name="workers_file_ori" value='<?=$data["workers_file_ori"]?>'>
                </div>
                <div class="form-group">
                  <label class="my-2"><a title="기업상세정보첨부">기업상세정보 첨부(상품상세정보에
                    노출됩니다)</a></label>
                  <button class="btn btn-outline-secondary btn-sm my-2 fw-normal" type="button"  onclick="downloadFileNew('<?=$data["seller_information"]?>','<?=$data["seller_information_ori"]?>');">기존파일 다운로드</button>
                  <input type="file" name="seller_information" class="form-control" placeholder="기업상세정보 첨부"
                         title="기업상세정보 첨부"  tabindex=100>
                  <input type="hidden" name="seller_information" value='<?=$data["seller_information"]?>'>
                  <input type="hidden" name="seller_information_ori" value='<?=$data["seller_information_ori"]?>'>                </div>

                <div class="form-group mt-5 d-flex justify-content-center">
                  <button type="button" onclick="history.back()" class="theme-btn btn-style-three py-3 me-3" tabindex="100">취소</button>
                  <button type="submit" class="theme-btn btn-style-one py-3" tabindex="100">수정</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
	/* 이미지 파일 타입 체크 & 미리보기 시작 */
	document.querySelectorAll('input[accept="image/*"]').forEach(item => {
		item.addEventListener("change", function () {
			const filePath = item.value;
			const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
			// const image_preview = item.parentElement.previousElementSibling.firstElementChild;
			const image_preview = document.querySelector('.preview-bg-img');
			const reader = new FileReader();
			let uploaded_image = "";

			if (!allowedExtensions.exec(filePath)) {
				alert('jpg, jpeg, png, gif 파일만 업로드 가능합니다.');
				item.value = '';
				return false;
			} else if (item.files && item.files[0]) {
				reader.addEventListener("load", () => {
					uploaded_image = reader.result;
					image_preview.style.backgroundSize = `contain`;
					image_preview.style.backgroundImage = `url(${uploaded_image})`;
				});
				reader.readAsDataURL(this.files[0]);
			}
		})
	})


    function downloadFileNew(fileName,fileNameOri){
      if(fileName == ""){
        alert("등록된 파일이 없습니다");
      }else {
        location.href = "/Seller/MyPage/downloadFileNew?fileName=" + fileName + "&fileNameOri=" + fileNameOri;
      }
    };
</script>