<?php
  // Left Menu
  require APPPATH . '/Views/Seller/Components/Left.html';
?>
<div class="flex-grow-1">
  <section class="buyer-info">
    <div class="auto-container py-5">
      <h3 class="mt-5 h4 fw-bold text-center">비밀번호 변경</h3>
      <div class="default-form border rounded my-4 p-4">
        <div class="form-inner">
          <form name="myForm" method="post" action="" enctype="multipart/form-data">
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="비밀번호 필수입력">새 비밀번호</a></label>
              <input type="password" name="password" placeholder="영문+숫자+특수문자 조합 6자 이상" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,32}$" title="영문+숫자+특수문자 조합 6자 이상 비밀번호 입력" tabindex=100 required>
            </div>
            <div class="form-group">
              <label class="my-2"><sup class="text-danger">*</sup><a title="비밀번호 필수입력">새 비밀번호 확인</a></label>
              <input type="password" name="password" placeholder="영문+숫자+특수문자 조합 6자 이상" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,32}$" title="영문+숫자+특수문자 조합 6자 이상 비밀번호 입력" tabindex=100 required>
            </div>
          </form>

          <div class="form-group mt-5 d-flex justify-content-center">
            <button type="button" onclick="pwdCheck()" class="theme-btn btn-style-one py-3" tabindex=100>비밀번호 변경하기</button>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
<script type="text/javascript">
	function pwdCheck() {
		var password_check = document.getElementById('password_check').value;
		var confirm_password = document.getElementById('confirm_password').value;
		if( confirm_password != password_check ) {
			alert("비밀번호가 일치 하지 않습니다");
			return false;
		} else{
			document.myForm.action='/Buyer/MyPage/BuyerUpdateSubmit';
			document.myForm.submit();
		}
	}
</script>