<section class="content-main">
	<div class="content-header">
    <h2 class="content-title"> <?=$page_name?> </h2>
	</div>

<!--  <div class="card mb-4">
    <div class="card-header">
      <form name="form-searchbar">

      <div class="row gx-3">
        <div class="col-lg-2">
          <label>아이디 검색</label>
          <input type="text" class="form-control form-control-sm search" id="search-id" placeholder="">
        </div>
        <div class="col-lg-2">
          <label>핸드폰 검색</label>
          <input type="text" class="form-control form-control-sm search" id="search-phone" placeholder="">
        </div>
      </div>

      </form>
    </div>-->


    <div class="card-body">

      <div class="">
        <table class="table table-hover small" id="datatables">
        </table>
      </div>
    </div>

  </div>

</section>

