<section class="content-main">
	<div class="content-header">
    <h2 class="content-title"> <?=$page_name?> 상세보기</h2>
	</div>

  <div class="card mb-4">
    <div class="card-body">
      <h5>상품 정보</h5>
      <table class="table mb-5 border border-2">
        <thead>
        <tr>
          <th class="th text-center">판매자</th>
          <th class="th text-center">구매자</th>
          <th class="th text-center">계약번호</th>
          <th class="th text-center">상품명</th>
          <th class="th text-center">계약금액</th>
          <th class="th text-center">계약등록일</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center fw-bold"><?=$contract['seller_company']?></td>
          <td class="text-center fw-bold"><?=$contract['buyer_company']?></td>
          <td class="text-center fw-bold"><?=$contract['contract_no']?></td>
          <td class="text-center fw-bold"><?=$contract['product_name']?></td>
          <td class="text-center fw-bold"><?=number_format($contract['product_price'])?>원</td>
          <td class="text-center fw-bold"><?=substr($contract["register_date"], 0, 10)?></td>
        </tr>
        </tbody>
      </table>
      <h5>배송현황</h5>
      <table class="table table-hover border detail-table">
        <thead>
        <tr>

          <th class="text-center">횟수</th>
          <th class="text-center">배송 예정일</th>
          <th class="text-center">배송 시작일</th>
          <th class="text-center">배송 도착일</th>
          <th class="text-center">진행상황 보기</th>
          <th class="text-center">수정</th>
          <th class="text-center">삭제</th>

        </tr>
        </thead>
      <!-- {{{ -->
      <tbody>
      <?php
      if(@is_array($data) && count($data) > 0){
      foreach($data as $item){
      $status = "";
      $btn_type = "";
      if($item['delivery_status'] == 1){
      $status = "배송대기";
      $btn_type = "btn btn-info btn-sm";
      }else if($item['delivery_status'] == 3){
      $status = "배송중";
      $btn_type = "btn btn-primary btn-sm";
      }else if($item['delivery_status'] == 5){
      $status = "배송완료";
      $btn_type = "btn btn-success btn-sm";
      }
      ?>
        <tr>
          <input type="hidden" name ="url" id ="url" value="<?=$_GET['idx']?>">
          <td class="text-center"><?=$item['dcount']?>회</td>
          <td><input type="date" value="<?=substr($item['delivery_predicted'], 0, 10)?>" name="delivery_predicted_<?=$item['idx']?>" id="delivery_predicted_<?=$item['idx']?>" class="form-control" required/></td>
          <td><input type="date" value="<?=substr($item['delivery_start'], 0, 10)?>" name="delivery_start_<?=$item['idx']?>" id="delivery_start_<?=$item['idx']?>" class="form-control" required/></td>
          <td><input type="date" value="<?=substr($item['delivery_arrival'], 0, 10)?>" name="delivery_arrival_<?=$item['idx']?>" id="delivery_arrival_<?=$item['idx']?>" class="form-control" required/></td>
          <td class="text-center"><button type="button" class="<?=$btn_type?>"><?=$status?></button></td>
          <td class="text-center"><span  class="btn btn-warning btn-sm text-white" onclick="dateUpdate('<?=$item['idx']?>','delivery_predicted_<?=$item['idx']?>','delivery_start_<?=$item['idx']?>','delivery_arrival_<?=$item['idx']?>','<?=$contract['idx']?>');">수정</span></td>
          <td class="text-center"><span class="btn btn-danger btn-sm" onclick="delivery_delete('<?=$item['idx']?>','<?=$contract['idx']?>');">삭제</span></td>
        </tr>
      <?php
          }
          }
          ?>
      </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button class="btn btn-secondary me-2"><a class="text-white" onclick="window.close();">닫기</a></button>
  </div>

</section>

<script>

  function dateUpdate(idx,delivery_predicted,delivery_start,delivery_arrival,cidx){
    var dp =$("#"+delivery_predicted).val();
    var ds = $("#"+delivery_start).val();
    var da = $("#"+delivery_arrival).val();

   // alert(#index);
    location.href = '/Delivery/Lists/DateUpdate?idx='+idx+'&dp='+dp+'&ds='+ds+'&da='+da+'&cidx='+cidx;
  }
function delivery_delete(idx,cidx){
    location.href = '/Delivery/Lists/DeliveryDel?idx='+idx+'&cidx='+cidx;

}
</script>