<section class="content-main">
	<div class="content-header">
    <h2 class="content-title"> <?=$page_name?> 상세보기</h2>
	</div>

  <div class="card mb-4">
    <div class="card-body">
      <h5>상품 정보</h5>
      <table class="table mb-5 border border-2">
        <thead>
        <tr>
          <th class="th text-center">판매자</th>
          <th class="th text-center">구매자</th>
          <th class="th text-center">계약번호</th>
          <th class="th text-center">상품명</th>
          <th class="th text-center">계약금액</th>
          <th class="th text-center">계약등록일</th>
        </tr>
        </thead>
        <tbody>

        <tr>
          <td class="text-center fw-bold">판매기업체명</td>
          <td class="text-center fw-bold">구매기업체명</td>
          <td class="text-center fw-bold">20222092317320</td>
          <td class="text-center fw-bold">[해찌]100% 초전수-해결한다 찌든때! 다목적 세정제</td>
          <td class="text-center fw-bold">15000000</td>
          <td class="text-center fw-bold">2022-09-23 17:30:33</td>
        </tr>
        </tbody>
      </table>
      <h5>배송현황</h5>
      <table class="table table-hover border detail-table">
        <thead>
        <tr>
          <th class="text-center">횟수</th>
          <th class="text-center">배송 예정일</th>
          <th class="text-center">배송 시작일</th>
          <th class="text-center">배송 도착일</th>
          <th class="text-center">진행상황 보기</th>
          <th class="text-center">수정</th>
          <th class="text-center">삭제</th>
        </tr>
        </thead>
      <!-- {{{ -->
      <tbody>
        <tr>
          <td class="text-center">1회</td>
          <td class="text-center">2022.01.01</td>
          <td class="text-center">2022.01.01</td>
          <td class="text-center">2022.01.31</td>
          <td class="text-center"><span class="badge bg-success">배송완료</span></td>
          <td class="text-center"><span class="btn btn-warning btn-sm text-white">수정</span></td>
          <td class="text-center"><span class="btn btn-danger btn-sm">삭제</span></td>
        </tr>
        <tr>
          <td class="text-center">2회</td>
          <td class="text-center">2022.01.01</td>
          <td class="text-center">2022.01.01</td>
          <td class="text-center"></td>
          <td class="text-center"><span class="badge bg-primary">배송중</span></td>
          <td class="text-center"><span class="btn btn-warning btn-sm text-white">수정</span></td>
          <td class="text-center"><span class="btn btn-danger btn-sm">삭제</span></td>
        </tr>
        <tr>
          <td class="text-center">3회</td>
          <td class="text-center">2022.01.01</td>
          <td class="text-center">2022.01.01</td>
          <td class="text-center"></td>
          <td class="text-center"><span class="badge bg-secondary">대기중</span></td>
          <td class="text-center"><span class="btn btn-warning btn-sm text-white">수정</span></td>
          <td class="text-center"><span class="btn btn-danger btn-sm">삭제</span></td>
        </tr>
      </tbody>
      <!-- }}} -->
      </table>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button class="btn btn-secondary me-2"><a class="text-white" onclick="javascript:history.back()">목록보기</a></button>
    <button class="btn btn-dark" onclick="window.close();">닫기</button>
  </div>

</section>

