<div class="flex-grow-1">
  <section class="faq">
    <div class="auto-container py-5">
      <div class="bg-light p-5">
        <h2 class="mb-4 fw-bold">책임한계 및 법적고시</h2>
        <div style="word-break: keep-all;">
          <p class="mb-2">상생몰은 본 웹사이트에 포함되어 있거나, 봄 웹 사이트를 통해 배포되거나, 본 웹 사이트에 포함 되어 있는 서비스로부터 링크, 다운로드 또는 엑세스 되는 정보, 내용 또는 광고(총칭하여 “자료”)의 정확성이나 신뢰성에 대해 어떠한 보증도 하지 않을 뿐만 아니라 서비스상의 또는 서비스와 관련된 광고, 기타 정보 또는 제안의 결과로서 디스플레이, 구매 또는 취득하게 되는 제품, 정보 또는 기타 자료(“제품”)의 질에 대해서도 보증을 하지 않습니다.</p>
          <p class="mb-2">어떠한 경우에도 상생몰은 서비스, 자료와 관련하여 직접, 간접, 부수적, 징벌적, 파생적인 손해에 대해서 책임을 지지 않습니다.</p>
          <p class="mb-2">상생몰 웹사이트내 등록된 판매물품과 물품의 내용은 판매자가 등록한 것으로 상생몰에서는 그 내용에 대하여 일체의 책임을 지지 않습니다.</p>
          <p class="mb-2">상생몰내에 등록된 게시물은 사실과 다를 수 있기 때문에, 거래하기전에 반드시 물품상태를 직접 육안으로 확인하셔야 합니다.</p>
          <p class="mb-2">특히, “상생몰내 매물정보”의 정확성이나 신뢰성에 대해 명시적 또는 묵시적인 보증을 명시적으로 부인합니다.</p>
          <p class="mb-2">상생몰내에 등록된 매물거래시 등록정보 및 매물상태 확인, 거래에 대한 모든 책임은 구매하는 귀하에게 있으며 만일의 사태로 피해가 발생해도 상생몰은 일체 책임을 지지 않습니다.</p>
          <p class="mb-2">따라서 상생몰 웹사이트내 등록된 모든 매물은 저희 상생몰과는 무관하오니 계약시 당사자간에 신중히 검토하시기 바랍니다.</p>
          <p class="mb-2">상생몰은 임의로 서비스나 자료의 일부분을 개선하고 서비스나 자료상의 실수나 생략된 부분을 수정할 수 있습니다.(의무사항은 아님)</p>
          <p class="mb-2">본 책임한계 및 법적고시는 2022년 11월 31일부터 시행합니다.</p>
        </div>
      </div>
    </div>
  </section>
</div>