<section class="content-main">
  <div class="content-header">
    <h2 class="content-title"> <?=$page_name?> 상세보기</h2>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h5>약관 내용</h5>
      <?php
      $terms ="";
      if($data['category'] == "Terms/TermsOfService"){
      $terms = "사이트 이용 약관";
      }
      if($data['category'] == "Terms/PrivacyPolicy"){
      $terms = "개인정보 수집 및 이용 동의";
      }
      if($data['category'] == "Terms/Subscribe"){
      $terms = "광고성 정보 수신";
      }
      if($data['category'] == "Terms/ServiceLevelAgreement"){
      $terms = "책임한계 및 법적고시";
      }
      if($data['category'] == "Terms/AdditionalService"){
      $terms = "이메일 주소 무단 수집거부";
      }
      $status = "";
      if($data['terms_status'] == '1'){
      $status = "신규등록";
      }
      if($data['terms_status'] == '2'){
      $status = "사용중";
      }
      if($data['terms_status'] == '3'){
      $status = "미사용";
      }
      ?>
      <table class="table table-hover border detail-table">
        <!-- {{{ -->
        <tbody>
        <tr>
          <td class="th">약관 종류</td>
          <td colspan="2"><?=$terms?></td>
        </tr>
        <tr>
          <td class="th">적용상태</td>
          <td><?=$status?></td>
        </tr>
        <tr>
          <td class="th">등록일</td>
          <td colspan="2"><?=substr($data['register_date'],0,10)?></td>
        </tr>

        <tr>
          <td class="th">약관내용</td>
          <td colspan="2">
            <textarea name="" id="" readonly style="width: 100%; height: 500px"><?=$data['contents']?> </textarea>
          </td>
        </tr>
        </tbody>
        <!-- }}} -->
      </table>
    </div>
  </div>

  <div class="text-end">
    <a href="/<?=_CONTROLLER?>/Update?idx=<?=$data['idx']?>" class="btn btn-success">수정하기</a>
    <button class="btn btn-dark" onclick="history.back();">뒤로</button>
  </div>
  <div>
  </div>

</section>

