<section class="content-main">
  <div class="content-header">
    <h2 class="content-title"> <?=$page_name?> 상세보기</h2>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h5>약관 내용</h5>
      <table class="table table-hover border detail-table">
        <!-- {{{ -->
        <tbody>
        <tr>
          <td class="th">약관</td>
          <td colspan="2">서비스이용약관</td>
        </tr>
        <tr>
          <td class="th">적용상태</td>
          <td>적용</td>
        </tr>
        <tr>
          <td class="th">등록일</td>
          <td colspan="2">22-08-01</td>
        </tr>
        <tr>
          <td class="th">등록자</td>
          <td colspan="2">관리자1</td>
        </tr>
        <tr>
          <td class="th">메모</td>
          <td colspan="2">@@한 내용이 변경됨</td>
        </tr>
        <tr>
          <td class="th">약관내용</td>
          <td colspan="2">
            <textarea name="" id="" readonly style="width: 100%; height: 500px">
[ 상생몰 이용 약관 ]

제1장 총칙

제 1 조 (목적)

이 약관은 ㈜한국직업개발원(이하 “회사”)이 운영하는 사이버몰에서 제공하는 서비스와 이를 이용하는 회원의 권리·의무 및 책임사항을 규정함을 목적으로 합니다.

제 2 조 (용어의 정의)

이 약관에서 사용하는 용어의 정의는 다음과 같습니다. 그리고 여기에서 정의되지 않은 이 약관상의 용어의 의미는 일반적인 거래관행에 따릅니다.

1. “사이버몰”이란 회사가 상품 또는 용역 등(일정한 시설을 이용하거나 용역을 제공받을 수 있는 권리를 포함하며, 이하 “상품 등”)을 회원에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 상품 등을 거래할 수 있도록 설정한 가상의 영업장(http://www.sangseng.shop 등 회사가 운영하는 웹사이트 및 모바일 웹, 앱 등을 모두 포함)을 의미합니다.

2. “회원”이라 함은 사이버몰에 회원등록을 한 자로서, 계속적으로 사이버몰에서 제공하는 서비스를 이용할 수 있는 자를 말하며, 회사의 별도 기준에 따라 구분되는 “구매기업회원”과 “판매기업회원”을 통칭합니다.

3. “아이디(ID)”라 함은 회원의 식별과 서비스 이용을 위하여 회원이 설정하고 회사가 승인하여 등록된 전자우편주소를 말합니다.

4. “비밀번호(Password)”라 함은 회원의 동일성 확인과 회원의 권익 및 비밀보호를 위하여 회원 스스로가 설정하여 사이버몰에 등록한 문자와 숫자 등의 조합을 말합니다.

5. “연계고용도급계약 중개 서비스”라 함은 구매기업회원과 판매기업회원이 연계고용부담금감면제도를 활용할 목적으로 도급 계약을 체결하는 것을 지원하는 서비스를 말합니다. 해당 서비스는 판매기업회원 정보 조회, 도급 목적물 정보 조회, 전자 계약 지원 등 제반업무 지원을 포함합니다.

6. “할인쿠폰”이라 함은 상품 등을 구매할 때나 사이버몰이 제공하는 서비스를 이용할 때 표시된 금액 또는 비율만큼 할인 받을 수 있는 쿠폰을 말합니다.

7. “제휴사”란 회사와 계약을 체결하여 회원에게 상품 등을 거래하거나 각종 정보 및 혜택 등을 제공하는 온라인 및 오프라인 업체를 의미합니다. 제휴사는 회사가 제공하는 개별 서비스 홈페이지에 고지되어 있으며, 회사 및 제휴사의 사정에 따라 해지 또는 추가될 수 있습니다.


제 3 조 (약관의 명시와 설명 및 개정)

① 회사는 이 약관의 내용과 상호 및 대표자 성명, 영업소 소재지 주소(소비자의 불만을 처리할 수 있는 주소를 포함), 전화번호, 모사전송번호, 전자우편주소, 사업자등록번호, 통신판매업신고번호, 개인정보관리책임자 등을 회원이 쉽게 확인할 수 있도록 사이버몰의 초기 서비스 화면에 게시합니다. 다만, 약관의 구체적 내용은 회원이 연결화면을 통하여 볼 수 있도록 할 수 있습니다.

② 회사는 『전자상거래 등에서의 소비자보호에 관한 법률』, 『약관의 규제에 관한 법률』, 『전자문서 및 전자거래기본법』, 『전자금융거래법』, 『전자서명법』, 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』, 『소비자기본법』 등 관련 법령을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.

③ 회사가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행 약관과 함께 사이버몰의 화면에 그 적용일자 7일(다만, 회원에게 불리한 내용으로 변경하는 경우에는 30일) 이전부터 적용일자 전일까지 공지합니다.

④ 제3항에 의해 변경된 약관은 관련 법령에 특별한 규정 기타 부득이한 사유가 없는 한 그 적용일자 이전으로 소급하여 적용되지 아니합니다.

⑤ 제3항에 따라 공지된 적용일자 이후에 회원이 명시적으로 거부의사를 표명하지 않을 경우에는 개정된 약관에 동의하는 것으로 간주하며, 변경된 약관에 동의하지 않는 회원은 회원 탈퇴를 요청할 수 있습니다. 제3항의 조치에도 불구하고 약관의 개정 사실을 알지 못함으로써 발생하는 회원의 피해에 대하여 회사는 책임을 지지 않습니다.

⑥ 회사는 제공하는 서비스 내의 개별 서비스에 대한 별도의 약관 또는 이용조건을 둘 수 있으며 개별 서비스에서 별도로 적용되는 약관에 대한 동의는 회원이 개별 서비스를 최초로 이용할 경우 별도의 동의절차를 거치게 됩니다. 이 경우 개별 서비스에 대한 이용약관 등이 이 약관에 우선합니다.

⑦ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 『전자상거래 등에서의 소비자보호에 관한 법률』, 『약관의 규제에 관한 법률』, 공정거래위원회가 정하는 『전자상거래 등에서의 소비자 보호지침』 등 관련 법령 및 상관례에 따릅니다.

⑧ 이 약관의 규정이 대한민국의 강행법규와 상충되는 경우에는 그 강행법규에 따릅니다. 이 경우 다른 조항의 효력에는 영향을 미치지 아니합니다.

제 4 조 (서비스의 제공 및 변경)

① 회사는 다음 각 호와 같은 서비스를 제공합니다.

1. 전자상거래 서비스(통신판매중개서비스 포함) 및 이에 수반 되는 기타 서비스

2. 기타 회사가 정하는 서비스 또는 업무

② 회사는 상품 등의 품절 또는 기술적 사양의 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 상품 등의 내용을 변경할 수 있습니다. 이 경우에는 변경된 상품 등의 내용을 명시하여 현재의 상품 등의 내용을 게시한 곳에 즉시 공지합니다.

③ 회사가 제공하기로 회
            </textarea>
          </td>
        </tr>
        </tbody>
        <!-- }}} -->
      </table>
    </div>
  </div>

  <div class="text-end">
    <button class="btn btn-dark" onclick="window.close();">닫기</button>
  </div>

</section>

