<section class="content-main">
	<div class="content-header">
    <h2 class="content-title"> <?=$page_name?> 상세보기</h2>
	</div>

  <div class="card mb-4">
    <div class="card-body">
      <h5>기본 정보</h5>
      <div class="row">
        <div class="col-8">
          <table class="table table-hover border detail-table">
          <!-- {{{ -->
          <tbody>
          <?php
          $classification = "";
          if($data["classification"] == 1){
          $classification = "민간기업";
          } if($data["classification"] == 2){
          $classification = "공공기관";
          } if($data["classification"] == 3){
          $classification = "국가/자치단체";
          }

          $interest_office = "";
          $interest_daily = "";
          $interest_computerized = "";
          $interest_food = "";
          $interest_cleaning = "";
          if($data["interest_office"] == 'Y'){
          $interest_office = "사무용품,";
          }
          if($data["interest_daily"] == 'Y'){
          $interest_daily = "생활용품";
          }
          if($data["interest_computerized"] == 'Y'){
          $interest_computerized = "전산용품,";
          }
          if($data["interest_food"] == 'Y'){
          $interest_food = "식음료,";
          }
          if($data["interest_cleaning"] == 'Y'){
          $interest_cleaning = "청소용품";
          }

          ?>
            <tr>
              <td class="th">아이디(이메일)</td>
              <td><?=$data["email"]?></td>
            </tr>
            <tr>
              <td class="th">담당자명</td>
              <td><?=$data["buyer_name"]?></td>
            </tr>
            <tr>
              <td class="th">휴대폰번호</td>
              <td class="mask-phone"><?=$data["phone"]?></td>
            </tr>
            <tr>
              <td class="th">사업체명</td>
              <td><?=$data["company_name"]?></td>
            </tr>
            <tr>
              <td class="th">사업자등록번호</td>
              <td class="mask-business-number"><?=$data["company_code"]?></td>
            </tr>
            <tr>
              <td class="th">기업형태</td>
              <td><?=$classification?></td>
            </tr>
            <tr>
              <td class="th">팩스번호</td>
              <td class="mask-phone"><?=$data["fax"]?></td>
            </tr>
            <tr>
              <td class="th">주소</td>
              <td>
                <?=$data["address"]?> <br>
              </td>
            </tr>
            <tr>
              <td class="th">상시 근로자 수</td>
              <td><?=$data["workers"]?></td>
            </tr>
            <tr>
              <td class="th">경증 장애인 근로자 수</td>
              <td><?=$data["mild_disabled"]?></td>
            </tr>
            <tr>
              <td class="th">중증 장애인 근로자 수</td>
              <td><?=$data["severely_disabled"]?></td>
            </tr>
            <tr>
              <td class="th">적용 법인세율</td>
              <td><?=$data["tax_rate"]?></td>
            </tr>
            <tr>
              <td class="th">관심상품</td>
              <td><?=$interest_office?><?=$interest_daily ?><?=$interest_computerized ?><?=$interest_food?><?=$interest_cleaning?></td>
            </tr>
            <tr>
              <td class="th">상태</td>
              <td>
                <?php
                switch($data["status"]){
                  case "0":
                  case "1": echo "심사중"; break;
                  case "5": echo "등록완료"; break;
                  case "7": echo "거절"; break;
                  case "9": echo "탈퇴"; break;
                }

                if($data["status"] == 1){
                ?>
                <div class="mt-2">
                  <a href="/<?=_CONTROLLER?>/Confirm/<?=$data['uuid']?>/5" class="btn btn-sm btn-primary" onclick="return confirm('가입을 승인하시겠습니까?')">가입 승인</a>
                  <a href="/<?=_CONTROLLER?>/Confirm/<?=$data['uuid']?>/7" class="btn btn-sm btn-danger ms-4" onclick="return confirm('승인을 거절하시겠습니까?')">승인 거절</a>
                </div>
                <?php
                }
                else if($data["status"] == 5){
                ?>
                <div class="mt-2">
                  <a href="/<?=_CONTROLLER?>/Confirm/<?=$data["uuid"]?>/7" class="btn btn-sm btn-danger" onclick="return confirm('승인을 거절하시겠습니까?')">승인 거절</a>
                </div>
                <?php
                }
                else if($data["status"] == 7){
                ?>
                <div class="mt-2">
                  <a href="/<?=_CONTROLLER?>/Confirm/<?=$data["uuid"]?>/5" class="btn btn-sm btn-primary" onclick="return confirm('가입을 승인하시겠습니까?')">가입 승인</a>
                </div>
                <?php
                }
                ?>
              </td>
            </tr>
            <tr>
              <td class="th">가입일</td>
              <td><?=$data["register_date"]?></td>
            </tr>
          </tbody>
          <!-- }}} -->
          </table>
        </div>
        <?php
        $buyer_documents = "첨부파일 X";
        if($data['buyer_documents'] != ""){
        $buyer_documents = "첨부파일 O";
        }
        ?>
        <div class="col-2">
          <div class="border">
            <label>사업자 등록증 / <?=$buyer_documents?></label>
            <?php
            if($data['buyer_documents'] != ""){
            ?>
            <button class="btn btn-outline-secondary btn-sm my-2 fw-normal" type="button"  onclick="downloadFileNew('<?=$data["buyer_documents"]?>','<?=$data["buyer_documents_ori"]?>');">기존파일 다운로드</button>
            <?php
            }
            ?>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <button class="btn btn-dark float-end" onclick="window.close();">닫기</button>
    <a href="/<?=_CONTROLLER?>/Update/<?=$data['uuid']?>" class="btn btn-success">수정하기</a>
  </div>

</section>

<script>

  function downloadFileNew(fileName,fileNameOri){
    if(fileName == ""){
      alert("등록된 파일이 없습니다");
    }else {
      location.href = "/<?=_CONTROLLER?>/downloadFileNew?fileName=" + fileName + "&fileNameOri=" + fileNameOri;
    }
  };

</script>