<section class="content-main">
	<div class="content-header">
    <h2 class="content-title"> <?=$page_name?> 수정하기</h2>
	</div>

  <form name="form-update" method="POST" enctype="multipart/form-data" action="/<?=_CONTROLLER?>/UpdateSubmit">
  <input type="hidden" name="uuid" value="<?=$data['uuid']?>">

  <div class="card mb-4">
    <div class="card-body">
      <h5>기본 정보</h5>
      <div class="row">
        <div class="col-8">
          <table class="table table-hover border detail-table">
          <!-- {{{ -->
          <tbody>
            <tr>
              <td class="th">아이디(이메일)</td>
              <td><input type="email" class="form-control form-control-sm" name="email" value="<?=$data['email']?>" required></td>
            </tr>
            <tr>
              <td class="th">담당자명</td>
              <td><input type="text" class="form-control form-control-sm" name="buyer_name" value="<?=$data['buyer_name']?>" ></td>
            </tr>
            <tr>
              <td class="th">휴대폰번호</td>
              <td><input type="text" class="form-control form-control-sm" name="phone" value="<?=$data['phone']?>" ></td>
            </tr>
            <tr>
              <td class="th">사업체명</td>
              <td><input type="text" class="form-control form-control-sm" name="company_name" value="<?=$data['company_name']?>" required></td>
            </tr>
            <tr>
              <td class="th">사업자등록번호</td>
              <td><input type="text" class="form-control form-control-sm" name="company_code" value="<?=$data['company_code']?>" required></td>
            </tr>
              <td class="th">팩스번호</td>
              <td><input type="text" class="form-control form-control-sm" name="fax" value="<?=$data['fax']?>" ></td>
            </tr>
            <tr>
              <td class="th">주소</td>
              <td>
                <div class="row">
                  <div class="col-8 col-lg-4 pe-0">
                  </div>
<!--                  <div class="col-4">
                    <button type="button" class="btn btn-sm btn-primary modal-search-post">우편번호 검색</button>
                  </div>-->
                </div>
                <div class="form-group">
                  <input type="text" id="address_road" name="address" class="form-control form-control-sm my-2" placeholder="주소" value="<?=$data['address']?>" >

                </div>
              </td>
            </tr>
            <tr>
              <td class="th">경증 장애인 근로자 수</td>
              <td><input type="text" class="form-control form-control-sm" value ="<?=$data['mild_disabled']?>" name="mild_disabled" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')" required></td>
            </tr>
            <tr>
              <td class="th">중증 장애인 근로자 수</td>
              <td><input type="text" class="form-control form-control-sm"  value ="<?=$data['severely_disabled']?>" name="severely_disabled" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')" required></td>
            </tr>

          </tbody>
          <!-- }}} -->
          </table>
        </div>
        <div class="col-2">
          <div class="border">
            <div class="mt-4 p-2">
              <label>사업자 등록증</label>
              <button class="btn btn-outline-secondary btn-sm my-2 fw-normal" type="button"  onclick="downloadFileNew('<?=$data["buyer_documents"]?>','<?=$data["buyer_documents_ori"]?>');">기존파일 다운로드</button>
              <input class="form-control" type="file" name="buyer_documents" accept="image/*" id="upload" multiple="">
              <input type="hidden" name="buyer_documents" value='<?=$data["buyer_documents"]?>'>
              <input type="hidden" name="buyer_documents_ori" value='<?=$data["buyer_documents_ori"]?>'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <button class="btn btn-dark float-end" onclick="window.close();">닫기</button>
    <button type="submit" class="btn btn-success">수정하기</button>
  </div>

  </form>

</section>

<script>
  function downloadFileNew(fileName,fileNameOri){
    if(fileName == ""){
      alert("등록된 파일이 없습니다");
    }else {
      location.href = "/<?=_CONTROLLER?>/downloadFileNew?fileName=" + fileName + "&fileNameOri=" + fileNameOri;
    }
  };
</script>