<section class="content-main">
	<div class="content-header">
    <h2 class="content-title"> <?=$page_name?> </h2>
		<div>
      <a href="/<?=_CONTROLLER?>/Create" class="btn btn-primary">기업 등록</a>
		</div>
	</div>

  <div class="card mb-4">
    <div class="card-header">
      <form name="form-searchbar">

      <div class="row gx-3">
        <div class="col-2">
          <label>기업명 검색</label> 
          <input type="text" class="form-control form-control-sm search" id="search-company-name" placeholder="">
        </div>
        <div class="col-2">
          <label>사업자등록번호 검색</label> 
          <input type="text" class="form-control form-control-sm search" id="search-business-number" placeholder="">
        </div>
        <div class="col-2">
          <label>상태</label> 
          <select class="form-control form-control-sm filter" id="search-status">
            <option value="" selected>전체</option>
            <option value="1">심사중</option>
            <option value="5">가입완료</option>
            <option value="7">거절</option>
            <option value="9">탈퇴</option>
          </select>
        </div>
        <div class="col-2">
          <label>가입기간 검색</label> 
          <input type="text" class="form-control form-control-sm filter daterange" id="search-daterange" placeholder="기간 검색">
        </div>
      </div>

      </form>
    </div>


    <div class="card-body">

      <div class="">
        <table class="table table-hover small" id="datatables">
        </table>
      </div>
    </div>

  </div>

</section>

