<section class="content-main">
	<div class="content-header">
    <h2 class="content-title"> <?=$page_name?> 수정하기</h2>
	</div>

  <form name="form-update" method="POST" enctype="multipart/form-data" action="/<?=_CONTROLLER?>/UpdateSubmit">
  <input type="hidden" name="uuid" value="<?=$data['uuid']?>">

  <div class="card mb-4">
    <div class="card-body">
      <h5>기본 정보</h5>
      <div class="row">
        <div class="col-8">
          <table class="table table-hover border detail-table">
          <!-- {{{ -->
          <tbody>
            <tr>
              <td class="th">아이디(이메일)</td>
              <td><input type="email" class="form-control form-control-sm" name="email" value="<?=$data['email']?>" required></td>
            </tr>
            <tr>
              <td class="th">담당자명</td>
              <td><input type="text" class="form-control form-control-sm" name="seller_name" value="<?=$data['seller_name']?>" ></td>
            </tr>
            <tr>
              <td class="th">휴대폰번호</td>
              <td><input type="text" class="form-control form-control-sm" name="phone" value="<?=$data['phone']?>" ></td>
            </tr>
            <tr>
              <td class="th">사업체명</td>
              <td><input type="text" class="form-control form-control-sm" name="company_name" value="<?=$data['company_name']?>" required></td>
            </tr>
            <tr>
              <td class="th">사업자등록번호</td>
              <td><input type="text" class="form-control form-control-sm" name="company_code" value="<?=$data['company_code']?>" required></td>
            </tr>
            <tr>
              <td class="th">기업형태</td>
              <td>
                <div class="input-group">
                  <input type="radio" name="classification" value="1" id="classification1" checked required>
                  <label class="ms-2" for="classification1">장애인 표준사업장</label>
                </div>
                <div class="input-group">
                  <input type="radio" name="classification" value="2" id="classification2" required>
                  <label class="ms-2" for="classification2">장애인 직업재활시설</label>
                </div>
              </td>
            </tr>
            <tr>
              <td class="th">팩스번호</td>
              <td><input type="text" class="form-control form-control-sm" name="fax" value="<?=$data['fax']?>" ></td>
            </tr>
            <tr>
              <td class="th">주소</td>
              <td>
                <div class="row">
                  <div class="col-8 col-lg-4 pe-0">
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" id="address_road" name="address" class="form-control form-control-sm my-2" placeholder="주소" value="<?=$data["address"]?>">

                </div>
              </td>
            </tr>
            <tr>
              <td class="th">올해 예상 매출액</td>
              <td>
                <input type="text" id="seller_sales" name="seller_sales" class="form-control form-control-sm my-2" value="555">
              </td>
            </tr>
            <tr>
              <td class="th">경증 장애인 근로자 수</td>
              <td><input type="text"  value="<?=$data['mild_disabled']?>" class="form-control form-control-sm" name="mild_disabled" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')" required></td>
            </tr>
            <tr>
              <td class="th">중증 장애인 근로자 수</td>
              <td><input type="text"   value="<?=$data['severely_disabled']?>" class="form-control form-control-sm" name="severely_disabled" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1')" required></td>
            </tr>
          </tbody>
          <!-- }}} -->
          </table>
        </div>
        <div class="col-2">
          <div class="border">
              <label>기업로고 교체</label>
              <input class="form-control" type="file" name="seller_logo" accept="image/*" multiple="">
            <input type="hidden" name="seller_logo" value='<?=$data["seller_logo"]?>'>
            <input type="hidden" name="seller_logo_ori" value='<?=$data["seller_logo_ori"]?>'>
          </div>
          <br>
          <div class="border">
            <label>매출증빙서류</label>
            <input class="form-control" type="file" name="sales_file" accept="image/*" multiple="">
            <input type="hidden" name="sales_file" value='<?=$data["sales_file"]?>'>
            <input type="hidden" name="sales_file_ori" value='<?=$data["sales_file_ori"]?>'>
          </div>
          <br>
          <div class="border">
              <label>장애인표준사업장 등록증 <br> 장애인직업재활시설 등록증</label>
              <input class="form-control" type="file" name="seller_documents" accept="image/*" multiple="">
            <input type="hidden" name="seller_documents" value='<?=$data["seller_documents"]?>'>
            <input type="hidden" name="seller_documents_ori" value='<?=$data["seller_documents_ori"]?>'>
          </div>
          <br>
          <div class="border">
            <label>장애인근로자 증빙서류</label>
            <input class="form-control" type="file" name="workers_file" accept="image/*" multiple="">
            <input type="hidden" name="workers_file" value='<?=$data["workers_file"]?>'>
            <input type="hidden" name="workers_file_ori" value='<?=$data["workers_file_ori"]?>'>
          </div>
          <br>
          <div class="border">
            <label>기업상세정보</label>
            <input class="form-control" type="file" name="seller_information" accept="image/*" multiple="">
            <input type="hidden" name="seller_information" value='<?=$data["seller_information"]?>'>
            <input type="hidden" name="seller_information_ori" value='<?=$data["seller_information_ori"]?>'>
          </div>
          <br>
          <div class="border">
            <label>사업자등록증</label>
            <input class="form-control" type="file" name="seller_business_license" accept="image/*" multiple="">
            <input type="hidden" name="seller_business_license" value='<?=$data["seller_business_license"]?>'>
            <input type="hidden" name="seller_business_license_ori" value='<?=$data["seller_business_license_ori"]?>'>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <button class="btn btn-dark float-end" onclick="window.close();">닫기</button>
    <button type="submit" class="btn btn-success">수정하기</button>
  </div>

</section>

