<section class="content-main">
  <div class="content-header">
    <h2 class="content-title"> <?=$page_name?> 상세보기</h2>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h5>상품 정보</h5>
      <table class="table table-hover border detail-table">
        <!-- {{{ -->
        <tbody>
        <tr>
          <td class="th">상품번호</td>
          <td colspan="3"><?=$data["title"]?></td>
        </tr>
        <tr>
          <td class="th">상태</td>
          <td colspan="3">
            <select name="status" id="" class="form-select">
              <option value="1" selected>승인대기</option>
              <option value="5">승인</option>
              <option value="7">반려</option>
              <option value="9">탈퇴</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="th">추천순위</td>
          <td colspan="3">
            <select class='form-select' name='product_ranking'>
              <option value='9999'>선택안함</option>
              <option value='1'>1</option>
              <option value='2'>2</option>
              <option value='3'>3</option>
              <option value='4'>4</option>
              <option value='5'>5</option>
              <option value='6'>6</option>
              <option value='7'>7</option>
              <option value='8'>8</option>
              <option value='9'>9</option>
              <option value='10'>10</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="th">상품등록 회사</td>
          <td colspan="1">회사명</td>
          <td colspan="2">회사이메일</td>
        </tr>
        <tr>
          <td class="th">카테고리</td>
          <td colspan="3">
            <select name="product_category" id="" class="form-select">
              <option value="1" selected>사무용품</option>
              <option value="2">생활용품</option>
              <option value="3">전산용품</option>
              <option value="4">식음료</option>
              <option value="5">청소용품</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="th">상품명</td>
          <td colspan="3">
            <input type="email" class="form-control" name="product_name" value="<?=$data["email"]?>" required>
          </td>
        </tr>
        <tr>
          <td class="th">판매기간</td>
          <td colspan="3">
            <div class="d-flex align-items-center">
              <label class="visually-hidden" for="productSaleStart">판매시작일</label>
              <input type="date" name="product_start" id="productSaleStart" class="form-control" required/>
              <span class="px-2">-</span>
              <label class="visually-hidden" for="productSaleEnd">판매종료일</label>
              <input type="date" name="product_end" id="productSaleEnd" class="form-control" required/>
            </div>
          </td>
        </tr>
        <tr>
          <td class="th">부가세</td>
          <td colspan="3">
            <div class="d-flex">
              <div class="selector-item me-3">
                <input type="radio" id="taxation" name="product_surtax" value="1" class="selector-item-radio"
                       checked/>
                <label for="taxation" class="selector-item-label">과세상품 <span class="tax10">(부가세 10%)</span></label>
              </div>
              <div class="selector-item">
                <input type="radio" id="taxFree" name="product_surtax" value="2" class="selector-item-radio"/>
                <label for="taxFree" class="selector-item-label">면세상품</label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="th">판매수량</td>
          <td colspan="3">
            <input type="text" name="product_quantity" class="form-control" value="<?=$data['name']?>">
          </td>
        </tr>
        <tr>
          <td class="th">판매가격</td>
          <td colspan="3">
            <input type="text" name="product_price" class="form-control" value="<?=$data['name']?>">
          </td>
        </tr>
        <tr>
          <td class="th">배송주기</td>
          <td colspan="3">
            <div class="d-flex">
              <div class="selector-item me-3">
                <input type="radio" id="deliverOnce" name="delivery_cycle" value="1" class="selector-item-radio"
                       checked/>
                <label for="deliverOnce" class="selector-item-label">1번</label>
              </div>
              <div class="selector-item me-3">
                <input type="radio" id="deliverAWeek" name="delivery_cycle" value="2" class="selector-item-radio"/>
                <label for="deliverAWeek" class="selector-item-label">1주일에 한 번</label>
              </div>
              <div class="selector-item me-3">
                <input type="radio" id="deliver1Month" name="delivery_cycle" value="3" class="selector-item-radio"/>
                <label for="deliver1Month" class="selector-item-label">1달에 한 번</label>
              </div>
              <div class="selector-item me-3">
                <input type="radio" id="deliver2Months" name="delivery_cycle" value="4"
                       class="selector-item-radio"/>
                <label for="deliver2Months" class="selector-item-label">2달에 한 번</label>
              </div>
              <div class="selector-item me-3">
                <input type="radio" id="deliver6Months" name="delivery_cycle" value="5"
                       class="selector-item-radio"/>
                <label for="deliver6Months" class="selector-item-label">6달에 한 번</label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="th">상품이미지</td>
          <td>
            <label for="representative-img" class="form-label">대표 이미지</label>
            <input id="representative-img" name="representative_image" class="form-control product-img-input"
                   type="file" accept="image/*" required/>
          </td>
          <td>
            <label for="product-img1" class="form-label text-secondary">추가 이미지 01</label>
            <input id="product-img1" name="product_image1" class="form-control product-img-input" type="file"
                   accept="image/*" required/>
          </td>
          <td>
            <label for="product-img2" class="form-label text-secondary">추가 이미지 01</label>
            <input id="product-img2" name="product_image2" class="form-control product-img-input" type="file"
                   accept="image/*" required/>
          </td>
        </tr>
        <tr>
          <td class="th">상품 상세정보</td>
          <td colspan="3">
            <textarea name="product_detail" class="form-control" placeholder="상품 상세정보를 입력해주세요."></textarea>
          </td>
        </tr>
        <tr>
          <td class="th">등록일</td>
          <td colspan="3"><?=$data["title"]?></td>
        </tr>
        <tr>
          <td class="th">수정일</td>
          <td colspan="3"><?=$data["title"]?></td>
        </tr>
        <tr>
          <td class="th">수정한 사람</td>
          <td colspan="3"><?=$data["title"]?></td>
        </tr>
        </tbody>
        <!-- }}} -->
      </table>
    </div>
  </div>

  <div class="text-end">
    <button class="btn btn-danger">삭제</button>
    <button class="btn btn-success">저장</button>
    <button class="btn btn-dark" onclick="window.close();">닫기</button>
  </div>

</section>

