<section class="content-main">
  <div class="content-header">
    <h2 class="content-title"> <?=$page_name?> 상세보기</h2>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h5>근로자 내용</h5>
      <table class="table table-hover border detail-table">
        <!-- {{{ -->
        <tbody>
        <tr>
          <td class="th">회사명</td>
          <td colspan="2">회사</td>
        </tr>
        <tr>
          <td class="th">회사코드</td>
          <td>123456789</td>
        </tr>
        <tr>
          <td class="th">근로자 이름</td>
          <td colspan="2">홍길동</td>
        </tr>
        <tr>
          <td class="th">장애유형</td>
          <td colspan="2">중증</td>
        </tr>
        <tr>
          <td class="th">상태</td>
          <td>승인대기</td>
          <td>comments: </td>
        </tr>
        <tr>
          <td class="th">근무상태</td>
          <td colspan="2">근무</td>
        </tr>
        <tr>
          <td class="th">복지카드</td>
          <td colspan="2">
            <img src="" alt="">
          </td>
        </tr>
        <tr>
          <td class="th">근로자 생년월일</td>
          <td colspan="2">111111</td>
        </tr>
        <tr>
          <td class="th">근로자 계약기간</td>
          <td colspan="2">22.08.01 - 23.08.01</td>
        </tr>
        <tr>
          <td class="th">등록일</td>
          <td colspan="2">22.08.01</td>
        </tr>
        <tr>
          <td class="th">등록인</td>
          <td colspan="2">관리자</td>
        </tr>
        <tr>
          <td class="th">수정일</td>
          <td colspan="2">22.08.22</td>
        </tr>
        <tr>
          <td class="th">수정인</td>
          <td colspan="2">관리자2</td>
        </tr>
        </tbody>
        <!-- }}} -->
      </table>
    </div>
  </div>

  <div class="text-end">
    <button class="btn btn-success">수정</button>
    <button class="btn btn-dark" onclick="window.close();">닫기</button>
  </div>

</section>

