<section class="content-main">
    <div class="content-header">
        <h2 class="content-title"> <?=$page_name?> </h2>
    </div>

    <form name="form-submit" method="POST" target="_self" action="/<?=_CONTROLLER?>/UpdateSubmit" onsubmit="return confirm('수정하시겠습니까?')">
        <input type="hidden" name="idx" value="<?=$data['idx']?>">
        <div class="card border rounded-lg">
            <div class="card-body">
                <table class="table table-hover border detail-table">
                    <!-- {{{ -->
                    <tbody>
                    <tr>
                        <td class="th">대분류</td>
                        <td colspan="3">
                            <input type="text" class="form-control" name="category_type1" value="<?=$data['category_type1']?>" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="th">중분류</td>
                        <td colspan="3">
                            <input type="text" class="form-control" name="category_type2" value="<?=$data['category_type2']?>" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="th">소분류</td>
                        <td colspan="3">
                            <input type="text" class="form-control" name="category_type3" value="<?=$data['category_type3']?>">
                        </td>
                    </tr>
                    </tbody>
                    <!-- }}} -->
                </table>
            </div>

            <div class="card-footer border-top">
                <a href="/<?=_CONTROLLER?>/Delete?idx=<?=$data['idx']?>" class="btn btn-danger">삭제하기</a>
                <button type="submit" class="btn btn-primary">수정하기</button>
            </div>
        </div>
    </form>

</section>