    <!-- Main Footer -->
    <footer class="main-footer alternate5 mt-5">
      <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section pt-4">
          <div class="row">
            <div class="big-column col-xl-3 col-lg-3 col-md-12">
              <div class="footer-column about-widget">
                <div class="logo"><a href="#"><img src="https://kfo.ai/images/footer_img/footer_logo.png" alt=""></a></div>

                <p class="phone-num"><span>Call us </span><a href="tel:07043735030">070 4373 5030 ~ 1</a></p>
                <p class="address">서울특별시 성동구 상원12길 30<br>서울숲동진 IT타워 11층 <br><a href="mailto:mailto:kfosos@kfo.or.kr" class="email">support@superio.com</a></p>
              </div>
            </div>

            <div class="big-column col-xl-9 col-lg-9 col-md-12">
              <div class="row">
                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">회사소개</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">회사소개</a></li>
                        <li><a href="#">언론에 비친 KFO</a></li>
                        <li><a href="#">수상 및 인증</a></li>
                        <li><a href="#">오시는길</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">채용 정보</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">채용정보</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">인재/기업 정보</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">인재정보</a></li>
                        <li><a href="#">기업정보</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- div class="footer-column col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-widget">
                    <h4 class="widget-title">고객센터</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">자주하는 질문</a></li>
                        <li><a href="#">1:1문의</a></li>
                      </ul>
                    </div>
                  </div>
                </div -->
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--Bottom-->
      <div class="footer-bottom">
        <div class="auto-container">
          <div class="outer-box">
            <div class="copyright-text">© 2022 <a href="#">KFO 한국직업개발원</a>. All Right Reserved.</div>
            <ul class="social-links">
              <li class="r_last"><a href="https://blog.naver.com/kfoblog" target="_blank" rel="noreferrer noopener"><img src="https://kfo.ai/images/footer_img/btn_blog.png"></a></li>
              <!-- <li><a href="https://www.instagram.com/kfo.or.kr/" target="_blank"><img src="/images/footer_img/btn_insta.png" /></a></li> -->
              <li><a href="https://instagram.com/kfo_spoiler?utm_medium=copy_link" target="_blank" rel="noreferrer noopener"><img src="https://kfo.ai/images/footer_img/btn_insta.png"></a></li>
              <li><a href="https://tv.naver.com/kfo" target="_blank" rel="noreferrer noopener"><img src="https://kfo.ai/images/footer_img/btn_navertv.png"></a></li>
              <li><a href="https://www.youtube.com/channel/UCLUpuCd77AlrZDT7nYQ1BEg" target="_blank" rel="noreferrer noopener"><img src="https://kfo.ai/images/footer_img/btn_youtube.png"></a></li>
              <li><a href="https://www.facebook.com/%ED%95%9C%EA%B5%AD%EA%B8%88%EC%9C%B5%EA%B0%9C%EB%B0%9C%EC%9B%90-KFO-1950416398545799/" target="_blank" rel="noreferrer noopener"><img src="https://kfo.ai/images/footer_img/btn_facebook.png"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
    </footer>
    <!-- End Main Footer -->

  </div>

  <div id="big-help-title" class="fixed-bottom">
    <div id="close"><a><i class="fas fa-times"></i></a></div> 
    <p class="mb-0 px-4" id="help-title"> </p>
  </div>

</body>
</html>

<script src="/assets/dist/superio/js/mmenu.polyfills.js"></script>
<script src="/assets/dist/superio/js/mmenu.js"></script>
<script src="/assets/dist/superio/js/appear.js"></script>
<script src="/assets/dist/superio/js/anm.min.js"></script>
<script src="/assets/dist/superio/js/ScrollMagic.min.js"></script>
<script src="/assets/dist/superio/js/rellax.min.js"></script>
<script src="/assets/dist/superio/js/owl.js"></script>
<script src="/assets/dist/superio/js/wow.js"></script>
<script src="/assets/dist/superio/js/script.js"></script>

<script src="/assets/dist/jquery-mask-1.14.16/jquery.mask.min.js"></script>

<script src="/assets/js/Common.js"></script>
