</div>
<!-- End Left/Right Main Wrapper -->

<!-- Main Footer -->
<footer class="main-footer pb-4">
  <div class="mb-4 border-top border-bottom bg-light">
    <div class="auto-container">
      <ul class="d-flex justify-content-between py-3 info-list">
        <li><a class="text-dark" href="https://www.kfo.ai/company/ceo.php" target="_blank" rel="noreferrer noopener">회사소개</a>
        </li>
        <li><a class="text-dark" href="/Policy/TOS">사이트 이용약관</a></li>
        <li><a class="text-dark" href="/Policy/Privacy">개인정보처리방침</a></li>
        <li><a class="text-dark" href="">책임한계 및 법적고시</a></li>
        <li><a class="text-dark" href="">이메일 무단수집거부</a></li>
        <li><a class="text-dark" href="/CS/Notice">공지사항</a></li>
        <li><a class="text-dark" href="/CS/FAQ">자주 묻는 질문</a></li>
        <li><a class="text-dark" href="/CS/Questions">1:1 문의하기</a></li>
      </ul>
    </div>
  </div>


  <div class="auto-container">
    <div class="row">
      <div class="col-4">
        <p class="mb-1 fs-6 fw-bold">(주)한국직업개발원</p>
        <p class="mb-1">서울특별시 성동구 상원12길 30 서울숲동진 IT타워 11층</p>
        <p>대표이사: 백성욱</p>
      </div>
      <div class="col-5">
        <p class="mb-1 fs-6">고객센터 <strong class="fs-5">070-4373-5030</strong></p>
        <p class="mb-1 fs-6">평일 9시 ~ 18시(12 ~ 13시 제외)</p>
        <p class="fs-6">Fax 02-6007-1471 | <a class="text-dark" href="mailto:kfosos@kfo.or.kr" class="email">kfosos@kfo.or.kr</a>
        </p>
      </div>
      <div class="col-3">
        <a href="http://jobon.kr/" class="d-block" target="_blank" rel="noreferrer noopener">
        <div class="py-2 px-3 d-flex justify-content-between align-items-center" style="background: #22218c;">
          <div>
            <p class=" text-white" style="font-size: 18px;">장애인 인재고용</p>
            <p class=" text-white">Job-On</p>
          </div>
          <div>
            <p class="text-white h5 m-0 fw-bolder">❯</p>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="row mt-4 pt-4 border-top">
      <div class="col-12">
        <div>
          <p class="text-secondary">㈜ 한국직업개발원의 사전 서면 동의 없이 상생몰 사이트의 일체의 정보, 콘텐츠 및 UI 등을 상업적 목적으로 전재, 전송, 스크리핑 등 무산 사용할 수
            없습니다.</p>
          <p class="text-secondary">㈜ 한국직업개발원은 계약중개자로 상생몰의 계약당사자가 아니며, 판매기업이 등록한 상품정보 및 거래에 대해 상생몰은 일체 책임을 지지 않습니다.</p>
          <p class="text-secondary">상생몰은 상픔공급사, 구매사, 전문셀러와 경쟁하지 않으며, 회원 지원을 위해 최선을 다하고 있습니다.</p>
          <p class="text-secondary">Copyright ⓒ 2022 KFO 한국직업개발원 All Right reserved</p>
        </div>
      </div>
    </div>
  </div>
  <!--      <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>-->
</footer>
<!-- End Main Footer -->

</div>

<div id="big-help-title" class="fixed-bottom">
  <div id="close"><a><i class="fas fa-times"></i></a></div>
  <p class="mb-0 px-4" id="help-title"></p>
</div>

</body>
</html>

<script src="/assets/dist/superio/js/mmenu.polyfills.js"></script>
<script src="/assets/dist/superio/js/mmenu.js"></script>
<script src="/assets/dist/superio/js/appear.js"></script>
<script src="/assets/dist/superio/js/anm.min.js"></script>
<script src="/assets/dist/superio/js/ScrollMagic.min.js"></script>
<script src="/assets/dist/superio/js/rellax.min.js"></script>
<script src="/assets/dist/superio/js/owl.js"></script>
<script src="/assets/dist/superio/js/wow.js"></script>
<script src="/assets/dist/superio/js/script.js"></script>

<script src="/assets/dist/jquery-mask-1.14.16/jquery.mask.min.js"></script>

<script src="/assets/js/Common.js"></script>
