<?php
helper("html");
echo doctype("html5");
?>

<head>
  <title>장애인취업포털</title>
  <meta charset='utf8' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <meta name="keywords" content="">
  <meta name="description" content="">

  <link rel="shortcut icon" type="image/x-icon" href="https://kfo.ai/favicon.ico">

  <link href="/assets/dist/superio/css/bootstrap.css" rel="stylesheet">
  <link href="/assets/dist/superio/css/style.css" rel="stylesheet">
  <link href="/assets/dist/superio/css/responsive.css" rel="stylesheet">
  <link href="/assets/dist/dropify-0.2.2/css/dropify.min.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">

  <script src="/assets/dist/superio/js/jquery.js"></script>
  <script src="/assets/dist/superio/js/popper.min.js"></script>
  <script src="/assets/dist/superio/js/chosen.min.js"></script>
  <script src="/assets/dist/superio/js/bootstrap.bundle.min.js"></script>
<!--  <script src="/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.js"></script>-->
  <script src="/assets/dist/superio/js/jquery.fancybox.js"></script>
  <script src="/assets/dist/superio/js/jquery.modal.min.js"></script>
  <script src="/assets/dist/dropify-0.2.2/js/dropify.min.js"></script>

<script>
  const _CONTROLLER = '<?=@_CONTROLLER?>';
  const _METHOD = '<?=@_METHOD?>';
</script>


<body data-anm=".anm">
  <div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <div class="fixed-top d-none d-xl-block py-2" id="top_guide">
      <div class="auto-container">
        <div class="d-flex justify-content-between py-1">
          <button class="btn py-0" tabindex=1>장애인 연계고용 제도</button>
          <ul class="list-unstyled d-flex justify-content-center">
            <li class=""><button class="btn py-0" tabindex=2>이용방법</button></li>
            <li class=""><button class="btn py-0" tabindex=3>감면액계산기</button></li>
            <li class=""><button class="btn py-0" tabindex=4>감면신청도우미</button></li>
            <li class=""><button class="btn py-0" tabindex=5>고객센터</button></li>
            <? echo <?=$_SESSION["login_info"]["type"]?>
          </ul>
        </div>
      </div>
    </div>

    <!-- Main Header-->
    <header class="main-header header-style-two alternate fixed-header animated slideInDown">
      <div class="auto-container">
        <!-- Main box -->
        <div class="main-box">
          <!--Nav Outer -->
          <div class="nav-outer">
            <div class="logo-box">
              <!-- brand -->
              <div class="logo"><a href="/" tabindex=10><img src="https://kfo.ai/images/top/top_06_r_17_17.png" alt="한국직업개발원로고" title="한국직업개발원로고"></a></div>
            </div>

            <nav class="nav main-menu">
              <ul class="navigation" id="navbar">
                <li class="">
                  <a href="/Recruit" tabindex=11> <span>홈</span> </a>
                </li>

                <li class="">
                  <a href="/Person" tabindex=12> <span>사무용품</span> </a>
                </li>

                <li class="">
                  <a href="/Company" tabindex=13> <span>생활용품</span> </a>
                </li>

                <li class="">
                  <a href="/Company" tabindex=13> <span>전산용품</span> </a>
                </li>

                <li class="">
                  <a href="/Company" tabindex=13> <span>식음료</span> </a>
                </li>

                <li class="">
                  <a href="/Company" tabindex=13> <span>청소용품</span> </a>
                </li>

                <!-- Only for Mobile View -->
                <!--li class="mm-add-listing">
                  <a href="#" class="theme-btn btn-style-one">구직 등록</a>
                  <span>
                    <span class="contact-info">
                      <span class="phone-num"><span>한국직업개발원</span><a href="tel:07043735030">070.4373.5030~1</a></span>
                      <span class="address">서울특별시 성동구 상원12길 30<br>서울숲동진 IT타워 11층</span>
                      <a href="mailto:kfosos@kfo.or.kr" class="email">kfosos@kfo.or.kr</a>
                    </span>
                    <span class="social-links">
                      <a href="#"><span class="fab fa-facebook-f"></span></a>
                      <a href="#"><span class="fab fa-twitter"></span></a>
                      <a href="#"><span class="fab fa-instagram"></span></a>
                      <a href="#"><span class="fab fa-linkedin-in"></span></a>
                    </span>
                  </span>
                </li-->
              </ul>
            </nav>
            <!-- Main Menu End-->
          </div>

          <div class="outer-box">
            <!-- Login/Register -->
            <div class="btn-box">
            <?php
            if(@$_SESSION["login"] != "success"){
            ?>
              <a href="/Auth/SignIn" class="theme-btn btn-style-six" tabindex=15>로그인 / 회원가입</a>
            <?php
            } else {
              if($_SESSION["login_info"]["type"] == "buyer"){
            ?>
              <div class="dropdown dashboard-option">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                  <span class="name text-white"><?=$_SESSION["login_info"]["buyer_name"]?> <span class='small'>님</span>
                </a>
                <ul class="dropdown-menu p-2 ps-0" style="">
                  <li><a href="/Management/User/Profile"><i class="la la-user"></i>내 정보</a></li>
                  <li><a href="/Management/User/Application"><i class="la la-paper-plane"></i>입사 지원 관리</a></li>
                  <li><a href="/Management/User/ManageJob"><i class="la la-briefcase"></i>구직 관리</a></li>
                  <li><a href="/Management/User/Resume"><i class="la la-file-invoice"></i>내 이력서</a></li>
                  <li><a href="/Management/User/BookmarkApplication"><i class="la la-bookmark-o"></i>관심 채용</a></li>
                  <li><a href="/Management/User/BookmarkCompany"><i class="la la-user-tie"></i>관심 기업</a></li>
                  <li><a href="/Management/User/Chat"><i class="la la-comment-o"></i>메세지 관리</a></li>
                  <li><a href="/Auth/SignOut"><i class="la la-sign-out"></i>로그아웃</a></li>
                </ul>
              </div> 
            <?php
              }
              else if($_SESSION["login_info"]["type"] == "seller"){
              ?>
              <div class="dropdown dashboard-option">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                  <span class="name"><?=$_SESSION["login_info"]["seller_name"]?> <span class='small'>님</span>
                </a>
                <ul class="dropdown-menu p-2 ps-0" style="">
                  <li><a href="/Management/Company/Profile"><i class="la la-user-tie"></i>기업 프로필</a></li>
                  <li><a href="/Management/Company/PublicSettings"><i class="la la-file-invoice"></i>기업 공개 관리</a></li>
                  <li><a href="/Management/Company/Application"><i class="la la-paper-plane"></i> 채용 관리</a></li>
                  <li><a href="/Management/Company/BookmarkCandidate"><i class="la la-bookmark-o"></i>관심 인재</a></li>
                  <li><a href="/Management/Company/Chat"><i class="la la-comment-o"></i>메세지 관리</a></li>
                  <li><a href="/Auth/SignOut"><i class="la la-sign-out"></i>로그아웃</a></li>
                </ul>
              </div> 
              <?php
              }
            }
            ?>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile Header -->
<!--      <div class="mobile-header">-->
<!--        <div class="logo"><a href="index.html"><img src="https://kfo.ai/images/top/top_06_r_17_17.png" alt="" title=""></a></div>-->

<!--        &lt;!&ndash;Nav Box&ndash;&gt;-->
<!--        <div class="nav-outer clearfix">-->

<!--          <div class="outer-box">-->
<!--            &lt;!&ndash; Login/Register &ndash;&gt;-->
<!--            <div class="login-box">-->
<!--              <a href="login-popup.html" class="call-modal"><span class="icon-user"></span></a>-->
<!--            </div>-->

<!--            <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="flaticon-menu-1"></span></a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <!-- Mobile Nav -->
<!--      <div id="nav-mobile"></div>-->
    </header>
    <!--End Main Header -->

<!-- Left/Right Main Wrapper -->
<div class="d-flex">

