<?php
helper("html");
echo doctype("html5");
?>

<head>
  <title>장애인취업포털</title>
  <meta charset='utf8' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <meta name="keywords" content="">
  <meta name="description" content="">

  <link rel="shortcut icon" type="image/x-icon" href="https://kfo.ai/favicon.ico">

  <link href="/assets/dist/superio/css/bootstrap.css" rel="stylesheet">
  <link href="/assets/dist/superio/css/style.css" rel="stylesheet">
  <link href="/assets/dist/superio/css/responsive.css" rel="stylesheet">
  <link href="/assets/dist/dropify-0.2.2/css/dropify.min.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">

  <script src="/assets/dist/superio/js/jquery.js"></script>
  <script src="/assets/dist/superio/js/popper.min.js"></script>
  <script src="/assets/dist/superio/js/chosen.min.js"></script>
  <script src="/assets/dist/superio/js/bootstrap.bundle.min.js"></script>
<!--  <script src="/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.js"></script>-->
  <script src="/assets/dist/superio/js/jquery.fancybox.js"></script>
  <script src="/assets/dist/superio/js/jquery.modal.min.js"></script>
  <script src="/assets/dist/dropify-0.2.2/js/dropify.min.js"></script>

<script>
  const _CONTROLLER = '<?=@_CONTROLLER?>';
  const _METHOD = '<?=@_METHOD?>';
</script>


<body data-anm=".anm">
  <div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <div class="fixed-top py-2 bg-white">
      <div class="auto-container">
        <div class="d-flex justify-content-between py-1">
          <a href="/assets/download/연계고용안내.pdf" download class="btn py-0" tabindex=1>장애인 연계고용 제도</a>
          <ul class="list-unstyled d-flex justify-content-center">
            <li class=""><button class="btn py-0" tabindex=2>이용방법</button></li>
            <li class=""><button class="btn py-0" tabindex=3>감면액계산기</button></li>
            <li class=""><button class="btn py-0" tabindex=4>감면신청도우미</button></li>
            <li class=""><a href="/CS/Notice" class="btn py-0" tabindex=5>고객센터</a></li>
            <? echo <?=$_SESSION["login_info"]["type"]?>
          </ul>
        </div>
      </div>
    </div>

    <!-- Main Header-->
    <header class="main-header header-style-two alternate fixed-header animated slideInDown">
      <div class="auto-container">
        <!-- Main box -->
        <div class="main-box">
          <!--Nav Outer -->
          <div class="nav-outer">

            <div class="logo-box">
              <!-- brand --> <?php
            if(@$_SESSION["login"] != "success"){
            ?>
              <h1 class="logo"><a href="/" tabindex=10><img src="https://kfo.ai/images/top/top_06_r_17_17.png" alt="한국직업개발원로고" title="한국직업개발원로고"></a></h1>
             <?php
              } else {
              if($_SESSION["login_info"]["type"] == "buyer"){
              ?>
              <h1 class="logo"><a href="/Buyer" tabindex=10><img src="https://kfo.ai/images/top/top_06_r_17_17.png" alt="한국직업개발원로고" title="한국직업개발원로고"></a></h1>
            <?php
              }
             else if($_SESSION["login_info"]["type"] == "seller"){
              ?>
              <h1 class="logo"><a href="/Seller" tabindex=10><img src="https://kfo.ai/images/top/top_06_r_17_17.png" alt="한국직업개발원로고" title="한국직업개발원로고"></a></h1>
            <?php
              }
            }
            ?>
            </div>

            <nav class="nav main-menu">
              <ul class="navigation" id="navbar">
                <li class="">
                  <a href="/Buyer/Shop/List?value=1" tabindex=12> <span>사무용품</span> </a>
                </li>

                <li class="">
                  <a href="/Buyer/Shop/List?value=2" tabindex=13> <span>생활용품</span> </a>
                </li>

                <li class="">
                  <a href="/Buyer/Shop/List?value=3" tabindex=13> <span>전산용품</span> </a>
                </li>

                <li class="">
                  <a href="/Buyer/Shop/List?value=4" tabindex=13> <span>식음료</span> </a>
                </li>

                <li class="">
                  <a href="/Buyer/Shop/List?value=5" tabindex=13> <span>청소용품</span> </a>
                </li>

              </ul>
            </nav>
            <!-- Main Menu End-->
          </div>

          <div class="outer-box">
            <!-- Login/Register -->
            <div class="btn-box small">
            <?php
            if(@$_SESSION["login"] != "success"){
            ?>
              <a href="/Auth/SignIn" class="theme-btn btn-style-six" tabindex=15>로그인 / 회원가입</a>
            <?php
            } else {
              if($_SESSION["login_info"]["type"] == "buyer"){
            ?>
              <div class="dropdown dashboard-option">
                <a class="dropdown-toggle" role="button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="name text-white"><?=$_SESSION["login_info"]["buyer_name"]?></span> <span class='small text-white-50'>님</span>
                </a>

                <ul class="dropdown-menu p-2 ps-0" style="">
                  <li>
                    <a href="/Buyer/MyPage/Info">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill me-2" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      </svg>
                      마이페이지
                    </a>
                  </li>
                  <li>
                    <a href="/Auth/SignOut">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right me-2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                      </svg>
                      로그아웃
                    </a>
                  </li>
                </ul>
              </div> 
            <?php
              }
              else if($_SESSION["login_info"]["type"] == "seller"){
              ?>
              <div class="dropdown dashboard-option">
                <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="name text-white"><?=$_SESSION["login_info"]["seller_name"]?></span> <span class='small text-white-50'>님</span>
                </a>
                <ul class="dropdown-menu p-2 ps-0" style="">
                  <li>
                    <a href="/Seller">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill me-2" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      </svg>
                      마이페이지
                    </a>
                  </li>
                  <li>
                    <a href="/Auth/SignOut">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right me-2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                      </svg>
                      로그아웃
                    </a>
                  </li>
                </ul>
              </div> 
              <?php
              }
            }
            ?>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile Header -->
<!--      <div class="mobile-header">-->
<!--        <div class="logo"><a href="index.html"><img src="https://kfo.ai/images/top/top_06_r_17_17.png" alt="" title=""></a></div>-->

<!--        &lt;!&ndash;Nav Box&ndash;&gt;-->
<!--        <div class="nav-outer clearfix">-->

<!--          <div class="outer-box">-->
<!--            &lt;!&ndash; Login/Register &ndash;&gt;-->
<!--            <div class="login-box">-->
<!--              <a href="login-popup.html" class="call-modal"><span class="icon-user"></span></a>-->
<!--            </div>-->

<!--            <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="flaticon-menu-1"></span></a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <!-- Mobile Nav -->
<!--      <div id="nav-mobile"></div>-->
    </header>
    <!--End Main Header -->

<!-- Left/Right Main Wrapper -->
<div class="d-flex">

