<section class="content-main">
	<div class="content-header">
    <h2 class="content-title"> <?=$page_name?> </h2>
    <div>
      <input onclick="contract_update('updateType','all');" type="button" class="btn btn-primary" value="계약상태 최신화">
    </div>
	</div>

  <div class="card mb-4">
    <div class="card-header">
      <form name="form-searchbar">

      <div class="row gx-3">
        <div class="col-lg-2">
          <label>계약번호 검색</label>
          <input type="text" class="form-control form-control-sm search" id="search-contract_no" placeholder="">
        </div>
        <div class="col-lg-2">
          <label>구매기업 사업체명 검색</label>
          <input type="text" class="form-control form-control-sm search" id="search-buyer_company" placeholder="">
        </div>
        <div class="col-lg-2">
          <label>판매기업 사업체명 검색</label>
          <input type="text" class="form-control form-control-sm search" id="search-seller_company">
        </div>
        <div class="col-lg-1">
          <label>계약상태</label>
          <select class="form-control form-control-sm filter" id="search-contract_status">
            <option value="">전체</option>
            <option value="1">승인대기</option>
            <option value="2">진행</option>
            <option value="5">계약완료</option>
            <option value="7">반려</option>
            <option value="8">삭제</option>
            <option value="9">계약 취소</option>
          </select>
        </div>
      </div>
      </form>
    </div>

    <form name="statusForm" id="statusForm" method="post" action="/Contract/Lists/ContractUpdate">
      <input type="hidden" name ="workflow_id" id="workflow_id" value="0">
      <input type="hidden" name ="pworkflow_id" id="pworkflow_id" value="0">
      <input type="hidden" name ="complete_reduction" id="complete_reduction" value="0">
      <input type="hidden" name ="product_quantity" id="product_quantity" value="">
    </form>

    <div class="card-body">
      <div class="">
        <table class="table table-hover small" id="datatables">
        </table>
      </div>
    </div>

  </div>

</section>

